<div class="has-search__drop" [ngClass]="{'is-visible': focus}">
  <div class="search__drop">
    <div class="search__drop__flag flag" *ngIf="loadingUsers || loadingEvents || (noResultsUsers && noResultsEvents)">
      <div class="flag__body">
        <loading-indicator [status]="loadingUsers || loadingEvents"></loading-indicator>
        <p *ngIf="noResultsUsers && noResultsEvents && !(loadingUsers || loadingEvents)">No results found</p>
      </div>
    </div>
    <h3 class="search__drop__title" *ngIf="usersTotal > 0">Users</h3>
    <searchresult-user *ngFor="#user of users" [user]="user"></searchresult-user>
    <a *ngIf="usersTotal > 0" href="" class="search__show-all">Show All <span>({{usersTotal}})</span></a>
    <h3 class="search__drop__title" *ngIf="eventsTotal > 0">Events</h3>
    <searchresult-event *ngFor="#event of events" [event]="event"></searchresult-event>
    <a *ngIf="eventsTotal > 0" href="" class="search__show-all">Show All <span>({{eventsTotal}})</span></a>
  </div>
</div>
