<div class="has-search__drop">
  <div class="search__drop">
    <h3 class="search__drop__title">Users</h3>
    <a href="#" class="search__drop__flag flag">
      <div class="flag__img"> <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="User name" class="avatar avatar--small"> </div>
      <div class="flag__body">
        <h6 class="search__flag__title">Sarah Davidson, 86% match</h6>
        <p class="search__flag__desc">Female / Age 25 / 2 miles / 2 mutual friends</p>
      </div>
    </a>
    <a href="#" class="search__drop__flag flag">
      <div class="flag__img"> <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="User name" class="avatar avatar--small"> </div>
      <div class="flag__body">
        <h6 class="search__flag__title">Sarah Davidson, 86% match</h6>
        <p class="search__flag__desc">Female / Age 25 / 2 miles / 2 mutual friends</p>
      </div>
    </a> <a href="" class="search__show-all">Show All <span>(32)</span></a>
    <h3 class="search__drop__title">Events</h3>
    <a href="" class="search__drop__flag flag">
      <div class="flag__img"> <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/128.jpg" alt="User name" class="avatar avatar--small"> </div>
      <div class="flag__body">
        <h6 class="search__flag__title">Snach speed ladder</h6>
        <p class="search__flag__desc">Portland OR / Tue 33 Jul</p>
      </div>
    </a>
    <a href="" class="search__drop__flag flag">
      <div class="flag__img"> <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mutlu82/128.jpg" alt="User name" class="avatar avatar--small"> </div>
      <div class="flag__body">
        <h6 class="search__flag__title">Snach speed ladder</h6>
        <p class="search__flag__desc">Portland OR / Tue 33 Jul</p>
      </div>
    </a> <a href="" class="search__show-all">Show All <span>(32)</span></a> </div>
</div>
