<div class="has-search__drop" [ng-class]="{'is-visible':  (usersTotal > 0 || eventsTotal > 0) && focus}">
  <div class="search__drop">
    <h3 class="search__drop__title" *ng-if="usersTotal > 0">Users</h3>
    <searchresult-user *ng-for="#user of users" [user]="user"></searchresult-user>
    <a *ng-if="usersTotal > 0" href="" class="search__show-all">Show All <span>({{usersTotal}})</span></a>
    <h3 class="search__drop__title" *ng-if="eventsTotal > 0">Events</h3>
    <searchresult-event *ng-for="#event of events" [event]="event"></searchresult-event>
    <a *ng-if="eventsTotal > 0" href="" class="search__show-all">Show All <span>({{eventsTotal}})</span></a>
  </div>
</div>
