<div id="eventsfeed-list-body" class="basic ui segment" ng-class="{'loading': eventsfeed.loading}" when-scroll-ends="eventsfeed.loadMoreEvents()">
    <div class="ui basic segment notice" ng-if="eventsfeed.noEvents">
        <div class="ui info message">
            <p>You don't have any events.</p>
        </div>
    </div>
    <div class="eventgroup" ng-repeat="eventcontent in eventsfeed.events track by $index">
        <div class="eventdate">{{eventcontent.date}}</div>
        <a class="ui fluid card" ng-click="eventsfeed.gotoEvent($index)" class="item repeat-animation" ng-repeat="event in eventcontent.items track by $index">
            <div class="image">
            <img src="/static/img/placeholder-image.jpg">
            </div>
            <div class="content">
                <div class="header">{{event.name}}</div>
                <div class="meta">{{event.street}}
                    <br>{{event.city}}, {{event.state}} {{event.zipcode}}</div>
                    <div class="description">
                        <div class="ui mini statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="intersecticon icon"></i>
                                </div>
                                <div class="label">
                                    {{event.common_goals_offers_interests}}
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    <i class="empty user usericon icon"></i>
                                </div>
                                <div class="label">
                                    {{event.totalFriends}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                   {{event.distance}}
               </div>
           </a>
       </div>
       <three-bounce-spinner class="page-spinner-bar" ng-show="eventsfeed.loadingMore"></three-bounce-spinner>
   </div>