<header class="header-sub">
  <div class="tableize">
    <div class="tableize__cell tableize__cell--fill">
      <div class="tableize__content">
        <search></search>
      </div>
    </div>
    <div class="tableize__cell has-filter-toggle">
      <div class="tableize__content">
        <a toggle-filter="filter-is-open" class="btn btn--icon filter-toggle js-filter-toggle">
          <svg role="img" class="icon icon--large">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-messages"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="tableize__cell">
      <div class="tableize__content">
          <profile-dropdown [image]="image"></profile-dropdown>
      </div>
    </div>
  </div>
</header>
