<!-- userprofile.template.html -->
<div class="ui grid" ng-cloak>
    <div class="row">
        <div class="wide column">
            <div class="header segment with-menu" id="{{userprofile.header}}">
                <div class="pagination-container">
                    <div id="PhotoSlider" ng-if="userprofile.photosSlider.length > 0">
                        <flex-slider slider-id="photoSlider" smooth-height=true touch=true slideshow=false slide="item in userprofile.photosSlider | orderBy:'order' track by $index">
                            <li>
                                <img ng-click="userprofile.nextImage()" ng-show="item.cropped_photo === ''" class="ui image" ng-src="{{item.photo}}" />
                                <img ng-click="userprofile.nextImage()" ng-show="item.cropped_photo !== ''" class="ui image" ng-src="{{item.cropped_photo}}" />
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
            <div class="body segment" id="{{userprofile.body}}">
                <div class="ui top attached segment">
                    <h3 class="ui left floated header">{{ userprofile.user.firstName }}<span ng-hide="userprofile.user.firstName === ''">,</span>  {{ userprofile.user.age }}</h3>
                    <h5 ng-show="userprofile.type === 'loggedInUser'" class="ui right floated header"><a ui-sref="editmyprofile" class="ui tiny button blue">Edit</a></h5>
                </div>
                <div class="ui attached segment">
                    <h4 class="ui header">Goals</h4>
                    <div class="ui list" ng-show="userprofile.type === 'loggedInUser'">
                        <div class="item" ng-repeat="goal in userprofile.user.goals track by $index">
                            <i class="icon empty"></i>
                            <div class="content">
                                <div class="description">{{ goal.subject }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.goals.length == 0">No goals yet.</p>
                    </div>
                    <div class="ui list" ng-show="userprofile.type === 'friend'">
                        <div class="item" ng-repeat="goal in userprofile.user.goals | orderBy:['-match'] track by $index">
                            <i class="icon" ng-class="{'stop smallicon': goal.match === 1, 'empty smallicon': goal.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ goal.value }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.goals.length === 0">No goals yet.</p>
                    </div>
                    <h4 class="ui header">Offers</h4>
                    <div class="ui list" ng-show="userprofile.type === 'loggedInUser'">
                        <div class="item" ng-repeat="offer in userprofile.user.offers track by $index">
                            <i class="icon empty"></i>
                            <div class="content">
                                <div class="description">{{ offer.subject }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.offers.length == 0">No offers yet.</p>
                    </div>
                    <div class="ui list" ng-show="userprofile.type === 'friend'">
                        <div class="item" ng-repeat="offer in userprofile.user.offers | orderBy:['-match'] track by $index">
                            <i class="icon" ng-class="{'stop smallicon': offer.match === 1, 'empty smallicon': offer.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ offer.value }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.offers.length === 0">No offers yet.</p>
                    </div>
                    <h4 class="ui header">About</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="empty icon"></i>
                            <div class="content">
                                <div class="description">
                                    <span>{{userprofile.user.about_me}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui header">Activities &amp; Interests</h4>
                    <div class="ui list" ng-show="userprofile.type === 'loggedInUser'">
                        <div class="item" ng-repeat="interest in userprofile.user.interests | limitTo:5 track by $index">
                            <i class="icon empty"></i>
                            <div class="content">
                                <div class="description">{{ interest.interest_subject }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.interests.length == 0">No interests yet.</p>
                    </div>
                    <div class="ui list" ng-show="userprofile.type === 'friend'">
                        <div class="item" ng-repeat="interest in userprofile.user.interests | orderBy:['-match'] track by $index">
                            <i class="icon" ng-class="{'stop smallicon': interest.match === 1, 'empty smallicon': interest.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ interest.value }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.interests.length === 0">No interests yet.</p>
                    </div>
                    <h4 ng-if="userprofile.user.friends.length > 0" class="ui header">Mutual Friends</h4>
                    <div ng-if="userprofile.user.friends.length > 0" class="ui selection list">
                        <a ui-sref="userprofile({ userId: friend.user_id })" class="item" ng-repeat="friend in userprofile.user.friends track by $index">
                            <img class="ui avatar image" ng-src="http://graph.facebook.com/{{ friend.facebook_id }}/picture">
                            <div class="content">
                                <div class="header">{{ friend.first_name }}</div>
                            </div>
                        </a>
                    </div>
                    <h4 ng-if="userprofile.user.facebookfriends.length > 0 " class="ui header">Mutual Facebook Friends ({{ userprofile.user.facebookfriends.length }})</h4>
                    <div ng-if="userprofile.user.facebookfriends.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in userprofile.user.facebookfriends track by $index">
                            <img class="ui avatar image" ng-src="http://graph.facebook.com/{{ friend.facebook_id }}/picture">
                            <div class="content">
                                <div class="header">{{ friend.first_name }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-if="userprofile.user.twitterfriends.length > 0" class="ui header">Mutual Twitter Friends ({{ userprofile.user.twitterfriends.length }})</h4>
                    <div ng-if="userprofile.user.twitterfriends.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in userprofile.user.twitterfriends track by $index">
                            <img class="ui avatar image" ng-src="{{friend.profile_image_url}}">
                            <div class="content">
                                <div class="header">{{ friend.name }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-if="userprofile.user.twitterfollowers.length > 0" class="ui header">Mutual Twitter Followers ({{ userprofile.user.twitterfollowers.length  }})</h4>
                    <div ng-if="userprofile.user.twitterfollowers.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in userprofile.user.twitterfollowers track by $index">
                            <img class="ui avatar image" ng-src="{{friend.profile_image_url}}">
                            <div class="content">
                                <div class="header">{{ friend.name }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-if="userprofile.user.linkedinconnections.length > 0" class="ui header">Mutual LinkedIn Connections ({{ userprofile.user.linkedinconnections.length }})</h4>
                    <div ng-if="userprofile.user.linkedinconnections.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in userprofile.user.linkedinconnections track by $index">
                            <img class="ui avatar image" ng-src="{{friend.pictureUrls.values[0]}}">
                            <div class="content">
                                <div class="header">{{ friend.firstName }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 class="ui header">Likes</h4>
                    <div class="ui list likes" ng-show="userprofile.type === 'loggedInUser'">
                        <div class="item" ng-repeat="like in userprofile.user.likes | limitTo:5 track by $index">
                            <i class="icon empty"></i>
                            <div class="content">
                                <div class="description">{{ like.name }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.likes.length == 0">No likes yet.</p>
                    </div>
                    <div class="ui list likes" ng-show="userprofile.type === 'friend'">
                        <div class="item" ng-repeat="like in userprofile.user.likes | orderBy:['-match']  track by $index">
                            <i class="icon" ng-class="{'stop smallicon': like.match === 1, 'empty smallicon': like.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ like.value }}</div>
                            </div>
                        </div>
                        <p ng-if="userprofile.user.likes.length === 0">No likes yet.</p>
                    </div>
                    <h4 class="ui header">Social Accounts</h4>
                    <br>
                    <a href="{{ userprofile.social.linkedin }}" target="_new" class="ui social icon fluid linkedin labeled button" ng-if="userprofile.social.linkedin.length > 0">
                        <i class="linkedin icon"></i> {{userprofile.user.firstName}}
                        <i class="check circle icon right"></i>
                    </a>
                    <br ng-if="userprofile.social.linkedin.length > 0">
                    <a href="https://twitter.com/{{ userprofile.social.twitter }}" target="_new" class="ui social fluid icon twitter labeled button" ng-if="userprofile.social.twitter.length > 0">
                        <i class="twitter icon"></i> {{userprofile.social.twitter}}
                        <i class="check circle icon right"></i>
                    </a>
                    <br ng-if="userprofile.social.twitter.length > 0">
                    <a href="{{ userprofile.user.facebookProfile }}" class="ui social icon facebook labeled fluid button" ng-if="userprofile.user.facebookProfile.length > 0">
                        <i class="facebook icon"></i> {{userprofile.user.firstName}}
                        <i class="lock icon right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
