<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>

 <script type="text/javascript">

    function closeAndUpdate()
    {
        if (window.opener) {
            // window.opener.location.reload(true);
            window.opener.refreshConnect();
            window.close();
        }
    }

    closeAndUpdate();

    // To handle errors, this template should be integrated into your authentication error message page
    // Note that you can call any window.opener function like window.opener.func

</script>
</body>
</html>






