{% extends 'base.html' %}
{% block content %}
<div ng-controller="PhotosController">
    <div class="segment" id="my-profile-header-edit">
        <div class="container">
            <div class="ui segment">
                <div id="tiles" ng-cloak>
                    {% verbatim %}
                    <div class="ui image tile" ng-class="{'left floated medium tile-big': $index === 0, 'left floated small tile-small': $index === 1 || $index === 2 || $index === 4 || $index === 5, 'small tile-small': $index === 3 }"  ng-repeat="photo in photos track by $index" end-repeat ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                        <a ng-click="$parent.userPhotoDelete = photo; $parent.userPhotoDeleteIndex = $index;" class="ui right corner delete_photo label" ng-show="photo.photo !== ''">
                            <i class="close icon"></i>
                        </a>
                        <div class="tile-content" ng-show="photo.photo === ''">
                            <div class="content">
                                <div class="center">
                                    <a href="" ng-click="$parent.newPhotoIndex = $index" class="ui compact icon button add_photo"><i class="circle add icon"></i> Add Photo</a>
                                </div>
                            </div>
                        </div>
                        <div ng-if="photo.photo !== ''" ng-drag="true" ng-drag-data="photo" style="background-image: url('{{photo.photo}}')" class="img-bounding-box"></div>
                    </div>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
    <div class="body segment edit" id="my-profile-body">
        <div class="container">
            <div class="ui attached top segment" id="my-profile-title">
                <h3 class="ui header">{{ user.first_name|capfirst }}, {{ age }}</h3>
            </div>
            <div class="ui attached segment">
                <h4 class="ui header">Goals</h4>
                <div class="profile-icon">
                    <div class="ui mini statistic">
                        <div class="value">
                            <i class="unordered list large icon"></i>
                        </div>
                        <div class="label">
                            2
                        </div>
                    </div>
                </div>
                <div class="ui list">
                    {% for goal in goals %}
                    <div class="item" id="goal_{{ goal.goal_id }}">
                        <a id="{{ goal.goal_id }}" data-reveal-id="deleteModal" href="#"  class="deleteitem delete-goal icon" href="#"><i class="remove circle icon red"></i></a>
                        <div class="content">
                            <div class="description"><span id="goalName_{{ goal.goal_id }}">{{ goal }}</span> <a href="{% url "goal_update" goal.goal_id %}"><i class="edit blue icon"></i></a></div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="item">
                        <a href="{% url "goal_create" %}" class="icon"><i class="plus circle icon green"></i></a>
                        <div class="content">
                            <div class="description"><b>Create new goal</b></div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header">Offers</h4>
                <div class="ui list">
                    {% for offer in offers %}
                    <div class="item" id="offer_{{ offer.offer_id }}">
                        <a id="{{ offer.offer_id }}" data-reveal-id="deleteModal" href="#"  class="deleteitem delete-offer icon" href="#"><i class="remove circle icon red"></i></a>
                        <div class="content">
                            <div class="description"><span id="offerName_{{ offer.offer_id }}">{{ offer }}</span> <a href="{% url "offer_update" offer.offer_id %}"><i class="edit blue icon"></i></a></div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="item">
                        <a href="{% url "offer_create" %}" class="icon"><i class="plus circle icon green"></i></a>
                        <div class="content">
                            <div class="description"><b>Create new offer</b></div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header">About</h4>
                <div class="ui list">
                    <div class="item">
                        <a href="{% url "biography_update" user.id %}" class="icon"><i class="edit icon blue"></i></a>
                        <div class="content">
                            <div class="description">
                                {{ user.profile_or_self.about_me }}
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header">Activities & Interests</h4>
                <div class="ui list">
                    {% for interest in interests %}
                    <div class="item" id="interest_{{ interest.id }}">
                        <a id="{{ interest.id }}" data-reveal-id="deleteModal" href="#"  class="deleteitem delete-interest icon" href="#"><i class="remove circle icon red"></i></a>
                        <div class="content">
                            <div class="description"><span id="interestName_{{ interest.id }}">{{ interest }}</span> <a href="{% url "update_interest" interest.id %}"><i class="edit blue icon"></i></a></div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="item">
                        <a href="{% url "create_interest" %}" class="icon"><i class="plus circle icon green"></i></a>
                        <div class="content">
                            <div class="description"><b> Create new interest</b></div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header">Likes</h4>
                <div class="ui list">
                    {% for like in user.profile_or_self.likes|slice:":5" %}
                    <div class="item">
                        <i class="empty icon"></i>
                        <div class="content">
                            <div class="description">{{ like.name }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="ui attached segment">
                <h4 class="ui header">Social Accounts</h4>
                {% if twitter_provider %}
                your twitter account: <a href="https://twitter.com/{{ twitter_provider.screen_name }}">{{ twitter_provider.screen_name }}</a>
                {% else %}
                <a href="/social/associate/twitter/" class="ui twitter fluid button">
                    <i class="twitter icon"></i>
                    Connect Twitter
                </a>
                <br>
                {% endif %}
                {% if linkedin_provider %}
                your linkedin account: <a href="{{ linkedin_provider.public_profile_url }}">{{ linkedin_provider.first_name }}  {{ linkedin_provider.last_name }}</a>
                {% else %}
                <a href="/social/associate/linkedin/" class="ui linkedin fluid button">
                    <i class="linkedin icon"></i>
                    Connect LinkedIn
                </a>
                {% endif %}
            </div>
            <div class="ui attached segment">
                <h4 class="ui header">Manage Account</h4>
                <div class="ui red deleteaccount fluid button">
                    <i class="remove circle icon"></i>
                    Delete Account
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic delete modal">
        <i class="close icon"></i>
        <div class="header">
            Please Confirm
        </div>
        <div class="content">
            <div class="description">
                <p>Are you sure you want to delete <span id="objectName"></span> <strong><span id="deleteName"></span></strong>?</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui red basic inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div data-object="" data-id="" data-url="" id="deleteLink" class="ui green basic inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic delete_user_account modal">
        <i class="close icon"></i>
        <div class="header">
            Please Confirm
        </div>
        <div class="content">
            <div class="description">
                <p>Are you sure you want to delete your account?</p>
            </div>
        </div>
        <div class="actions">
            <form class="" action="{% url 'deactivate_user' %}" method="post">{% csrf_token %}
                <div class="two fluid ui inverted buttons">
                    <div class="ui red basic inverted button">
                        <i class="remove icon"></i>
                        No
                    </div>
                    <button type="submit" class="ui green basic inverted button">
                        <i class="checkmark icon"></i>
                        Yes
                    </button>
                </div>
            </form>
        </div>
    </div>

    {% verbatim %}
    <div class="ui basic modal" id="deletePhotoModal">
        <i class="close icon"></i>
        <div class="header">
            Please Confirm
        </div>
        <div class="content" ng-cloak>
            <img src="{{userPhotoDelete.photo}}" class="ui image small" alt="">
            <div class="description">
                <p>Are you sure you want to delete your photo?</p>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div class="ui red basic inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div ng-click="deletePhoto()" class="ui green basic inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>



    <div class="ui modal" id="photos_modal">
        <i class="close icon"></i>
        <div class="header">
            Choose Profile Photo
        </div>
        <div class="content" ng-cloak>
        <div class="ui special doubling four cards">
                <div class="card" end-repeat ng-repeat="fbPhoto in facebookPhotos track by $index">
                    <div class="dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <div ng-click="createPhoto($index)" class="ui primary button">Choose Photo</div>
                                </div>
                            </div>
                        </div>
                        <img class="ui image small" src="{{fbPhoto.source}}">
                    </div>

                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black button">
                Cancel
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock content %}
{% block customscripts %}
<script>
    if ( $( ".deleteitem" ).length ) {
        $('.basic.delete.modal')
        .modal('attach events', '.deleteitem', 'show')
        ;
    }
    if ( $( ".deleteaccount" ).length ) {
        $('.basic.delete_user_account.modal')
        .modal('attach events', '.deleteaccount', 'show')
        ;
    }
</script>
<script>
    'use strict';
    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
// Does this cookie string begin with the name we want?
if (cookie.substring(0, name.length + 1) == (name + '=')) {
    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    break;
}
}
}
return cookieValue;
}
function sameOrigin(url) {
// url could be relative or scheme relative or absolute
var host = document.location.host; // host + port
var protocol = document.location.protocol;
var sr_origin = '//' + host;
var origin = protocol + sr_origin;
// Allow absolute or scheme relative URLs to same origin
return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
// or any other URL that isn't scheme relative or absolute i.e relative.
!(/^(\/\/|http:|https:).*/.test(url));
}
function safeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
}
});
$(document).ready(function(){
    $('#deleteLink').click(function(){
        var id = $(this).attr('data-id');
        var url = $(this).attr('data-url');
        var object = $(this).attr('data-object');
        $.ajax({
            type: "POST",
            url: url + id,
            contentType: 'text/plain',
            success: function(response){
                $('#' + object + '_' + id).remove();
                console.log(response.code);
                $('#deleteModal').foundation('reveal', 'close');
                $('.top-center').notify({
                    message: {text: $('#objectName').text() + ' ' +  $('#deleteName').text() + ' was deleted successfully.'}
                }).show();
                $('#deleteLink').attr('data-id', '');
                $('#deleteLink').attr('data-url', '');
                $('#deleteLink').attr('data-object', '');
            }
        });
        return false;
    });
    $('.delete-goal').click(function(){
        var goal_id = $(this).attr('id');
        var goal_name = $('#goalName_' + goal_id).text();
        $('#deleteLink').attr('data-id', goal_id);
        $('#deleteLink').attr('data-object', 'goal');
        $('#deleteLink').attr('data-url', '/goals/delete/goal/');
        $('#deleteName').text(goal_name);
        $('#objectName').text('Goal');
    });
    $('.delete-offer').click(function(){
        var offer_id = $(this).attr('id');
        var offer_name = $('#offerName_' + offer_id).text();
        $('#deleteLink').attr('data-id', offer_id);
        $('#deleteLink').attr('data-object', 'offer');
        $('#deleteLink').attr('data-url', '/goals/delete/offer/');
        $('#deleteName').text(offer_name);
        $('#objectName').text('Offer');
    });
    $('.delete-interest').click(function(){
        var interest_id = $(this).attr('id');
        var interest_name = $('#interestName_' + interest_id).text();
        $('#deleteLink').attr('data-id', interest_id);
        $('#deleteLink').attr('data-object', 'interest');
        $('#deleteLink').attr('data-url', '/interest/delete/');
        $('#deleteName').text(interest_name);
        $('#objectName').text('Interest');
    });
});
</script>
{% endblock customscripts %}