{% extends 'base.html' %}

{% block content %}
<h1 class="text-muted text-center">
    My goal is to...
</h1>
<br>
<div class="container col-md-12 col-md-offset-5">
    <form class="form-horizontal" role="form" action="" method="post">{% csrf_token %}
        <div class="text-center col-sm-2">
            <input type="text" name="description" class="form-control" id="id_description" placeholder="enter you goal here">
        </div>
        <input type="submit" class="btn btn-primary" role="button" value="Create" />
    </form>
</div>
<div class="container col-md-12 col-md-offset-5">
    <br>
    <p>Here are some examples:</p>
    <ul>
        <li>"Learn to play tennis"</li>
        <li>"Find a running partner"</li>
        <li>"Hire a cat sitter"</li>
        <li>"Move my 500 lb sofa"</li>
    </ul>
</div>
{% endblock content %}