{% extends 'base.html' %}
{% block content %}
<div class="header segment" id="matched-profile-header">
    <div class="container">
        <div class="ui segment">
            <img class="ui circular middle aligned left floated small image" src="http://graph.facebook.com/{{ user_obj.profile_or_self.facebook_id }}/picture?type=large">
            <h2 class="ui header">
                {{ user_obj.first_name|capfirst }}, {{ age }}
                <div class="sub header">{{distance|floatformat:0}} mi.</div>
            </h2>
            <div class="ui mini statistics">
                <div class="statistic">
                    <div class="value">
                        <i class="check circle outline icon"></i>
                    </div>
                    <div class="label">
                        0
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="empty users icon"></i>
                    </div>
                    <div class="label">
                        0
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="empty star icon"></i>
                    </div>
                    <div class="label">
                        0
                    </div>
                </div>
                <div class="statistic">
                    <div class="value">
                        <i class="linkify icon"></i>
                    </div>
                    <div class="label">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body segment" id="matched-profile-body">
    <div class="container">
        <div class="ui segment">
            <h4 class="ui header">Goals</h4>
            <div class="ui list">
                {% for goal in goals %}
                <div class="item">
                    {% if goal.goal_id in match_goals_offers %}
                    <i class="check green icon"></i>
                    <div class="content">
                        <div class="description">{{ goal }}</div>
                    </div>
                    {% else %}
                    <i class="empty icon"></i>
                    <div class="content">
                        <div class="description">{{ goal }}</div>
                    </div>
                    {% endif %}
                </div>
                {% empty %}
                <p>No goals yet.</p>
                {% endfor %}
            </div>
            <h4 class="ui header">Offers</h4>
            <div class="ui list">
               {% for offer in offers %}
               <div class="item">
                {% if offer.offer_id in match_goals_offers %}
                <i class="check green icon"></i>
                <div class="content">
                    <div class="description">{{ offer }}</div>
                </div>
                {% else %}
                <i class="empty icon"></i>
                <div class="content">
                    <div class="description">{{ offer }}</div>
                </div>
                {% endif %}
            </div>
            {% empty %}
            <p>No offers yet.</p>
            {% endfor %}
        </div>
        <h4 class="ui header">About</h4>
        <div class="ui list">
            <div class="item">
                <i class="empty icon"></i>
                <div class="content">
                    <div class="description">
                        {{ user_obj.profile_or_self.about_me }}
                    </div>
                    <a href="#" class="ui header tiny right floated">more &raquo;</a>
                </div>
            </div>
        </div>
        <h4 class="ui header">Likes</h4>
        <div class="ui list">
            {% for like in likes|slice:":5" %}
            <div class="item">
                {% if like.name in match_likes %}
                <i class="check green icon"></i>
                {% else %}
                <i class="empty icon"></i>
                {% endif %}
                <div class="content">
                    <div class="description">{{ like.name }}</div>
                </div>
            </div>
            {% empty %}
            <p>No likes yet.</p>
            {% endfor %}
        </div>
        <h4 class="ui header">Activities &amp; Interests</h4>
        <div class="ui list">
            {% for interest in interests|slice:":5" %}
            <div class="item">
                {% if interest.description in match_interests %}
                <i class="check green icon"></i>
                {% else %}
                <i class="empty icon"></i>
                {% endif %}
                <div class="content">
                    <div class="description">{{ interest.description }}</div>
                </div>
            </div>
            {% empty %}
            <p>No activities and interests yet.</p>
            {% endfor %}
        </div>
        {% if mutual_friends %}
        <h4 class="ui header">Mutual Friends</h4>
        <div class="ui selection list">
            {% for friend in mutual_friends|slice:":5" %}
            <div class="item">
                <img class="ui avatar image" src="http://graph.facebook.com/{{ friend.profile_or_self.facebook_id }}/picture">
                <div class="content">
                    <div class="header">{{ friend.first_name }} {{ friend.last_name }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if mutual_facebook_friends %}
        <h4 class="ui header">Mutual Facebook Friends ({{ mutual_facebook_friends_count }})</h4>
        <div class="ui selection list">
            {% for friend in mutual_facebook_friends|slice:":10" %}
            <div class="item">
                <img class="ui avatar image" src="http://graph.facebook.com/{{ friend.profile_or_self.facebook_id }}/picture">
                <div class="content">
                    <div class="header">{{ friend.first_name }} {{ friend.last_name }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% if mutual_twitter_friends %}
        <h4 class="ui header">Mutual Twitter Friends ({{ mutual_twitter_friends_count }})</h4>
        <div class="ui selection list">
         {% for connection in mutual_twitter_friends|slice:":10" %}
         <div class="item">
            <img class="ui avatar image" src="{{ connection.profile_image_url2 }}">
            <div class="content">
                <div class="header">{{ connection.name2 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {% if mutual_twitter_followers %}
    <h4 class="ui header">Mutual Twitter Followers ({{ mutual_twitter_followers_count }})</h4>
    <div class="ui selection list">
        {% for follower in mutual_twitter_followers|slice:":10" %}
        <div class="item">
            <img class="ui avatar image" src="{{ follower.profile_image_url2 }}">
            <div class="content">
                <div class="header">{{ follower.name2 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    {% if mutual_linkedin %}
    <h4 class="ui header">Mutual LinkedIn Connections ({{ mutual_linkedin_count }})</h4>
    <div class="ui selection list">
        {% for connection in mutual_linkedin|slice:":10" %}
        <div class="item">
            <img class="ui avatar image" src="{{ connection.pictureUrl }}">
            <div class="content">
                <div class="header">{{ connection.firstName }} {{ connection.lastName }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
</div>
<div class="footer segment" id="matched-profile-footer">
    <div class="container">
        <div class="ui grid one column aligned center">
            <div class="row">
                <div class="column">
                    {% if goal_offer_obj %}
                    <div class="ui labeled icon menu">
                        <a href="/goals/user/{{ goal_offer_obj }}" class="item" id="left_button">
                            <i class="remove red circle icon"></i>
                        </a>
                        <a href="/goals/user/{{ goal_offer_obj }}" class="item" id="accept_button">
                            <i class="check green circle icon"></i>
                        </a>
                    </div>
                    {% else %}
                    <div class="ui labeled icon menu">
                        <a href="/" class="item" id="left_button">
                            <i class="remove red circle icon"></i>
                        </a>
                        <a href="/" class="item" id="accept_button">
                            <i class="check green circle icon"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block customscripts %}
<script>
    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
    // Does this cookie string begin with the name we want?
    if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
    }
}
}
return cookieValue;
}
function sameOrigin(url) {
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
    // or any other URL that isn't scheme relative or absolute i.e relative.
    !(/^(\/\/|http:|https:).*/.test(url));
}
function safeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
}
});
$(document).ready(function(){
    $('#accept_button').click(function(){
        var friend_id = $(location).attr('href').match(/([0-9]+)\/$/)[1];
        $.getJSON("/friends/add/", function(data){
            if (data['status'] == null) {
                data['status'] = 0;
    //alert(data['status']);
    $.ajax({
        type: "POST",
        url: '/friends/add/',
        data: data,
        success: function (data, statusText, jqhxr) {
            window.location = $("#accept_button").attr("href");
        }
    });
} else if (data['status'] == 0) {
    data['status'] = 1;
    //alert(data['status']);
    $.ajax({
        type: "POST",
        url: '/friends/update/',
        data: data,
        success: function (data, statusText, jqhxr) {
            window.location = $("#accept_button").attr("href");
        }
    });
} else {
    window.location = $("#accept_button").attr("href");
}
});
        return false;
    });
});
</script>
{% endblock customscripts %}