{% extends 'base.html' %}

{% block content %}
    <script>
        $(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        $(document).ready(function(){
            $('#accept_button').click(function(){
                var friend_id = $(location).attr('href').match(/([0-9]+)\/$/)[1];
                $.getJSON("/friends/add/", function(data){
                    if (data['status'] == null) {
                        data['status'] = 0;
                        alert(data['status']);
                        $.ajax({
                            type: "POST",
                            url: '/friends/add/',
                            data: data,
                            success: function (data, statusText, jqhxr) {
                                window.location = $("#accept_button").attr("href");
                            }
                        });
                    } else if (data['status'] == 0) {
                        data['status'] = 1;
                        alert(data['status']);
                        $.ajax({
                            type: "POST",
                            url: '/friends/update/',
                            data: data,
                            success: function (data, statusText, jqhxr) {
                                window.location = $("#accept_button").attr("href");
                            }
                        });
                    } else {
                        window.location = $("#accept_button").attr("href");
                    }
                });
                return false;
            });
        });
    </script>
    <div class="container col-md-3 col-md-offset-5">
        <h3 class="text-muted">Kindred</h3>
        <h1 class="text-muted">{{ user_obj.username|capfirst }}, 33</h1>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="">
            </a>
        </div>
        <p><strong>Goals</strong></p>
        <ul class="no_bullets">
            {% for goal in goals %}
                {% if goal.goal_id in match_goals_offers %}
                    <li><span class="glyphicon glyphicon-ok"></span>{{ goal }}</li>
                {% else %}
                    <li>{{ goal }}</li>
                {% endif %}
            {% empty %}
                <li>No offers yet.</li>
            {% endfor %}
        </ul>
        <p><strong>Offers</strong></p>

        <ul class="no_bullets">
            {% for offer in offers %}
                {% if offer.offer_id in match_goals_offers %}
                    <li><span class="glyphicon glyphicon-ok"></span>{{ offer }}</li>
                {% else %}
                    <li>{{ offer }}</li>
                {% endif %}
            {% empty %}
                <li>No offers yet.</li>
            {% endfor %}
        </ul>
        <div class="user_bio">
            <p><strong>About Me</strong></p>
            <div class="user_bio_content">
                {{ user_obj.profile_or_self.about_me }}
            </div>
        </div>
        {% if goal_offer_obj %}
            <a href="/goals/user/{{ goal_offer_obj }}" class="btn btn-default btn-lg btn-circle" id="left_button">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
            <a href="/goals/user/{{ goal_offer_obj }}" class="btn btn-default btn-lg btn-circle" id="accept_button">
                <span class="glyphicon glyphicon-ok-circle"></span>
            </a>
        {% else %}
            <a href="/" class="btn btn-default btn-lg btn-circle" id="left_button">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
            <a href="/" class="btn btn-default btn-lg btn-circle" id="accept_button">
                <span class="glyphicon glyphicon-ok-circle"></span>
            </a>
        {% endif %}
    </div>
{% endblock content %}