{% extends 'base.html' %}

{% block content %}
    <script>
        $(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });
        $(document).ready(function(){
            $('.delete-goal').click(function(){
                var goal_id = $(this).attr('id');
                if (confirm("Do you want to delete")){
                    $.ajax({
                        type: "POST",
                        url: '/goals/delete/goal/' + goal_id,
                        contentType: 'text/plain',
                        success: function(response){
                            $('#goal_' + goal_id).remove();
                            console.log(response.code);
                        }
                    });
                }
                return false;
            });
        });
        $(document).ready(function(){
            $('.delete-offer').click(function(){
                var offer_id = $(this).attr('id');
                if (confirm("Do you want to delete")){
                    $.ajax({
                        type: "POST",
                        url: '/goals/delete/offer/' + offer_id,
                        contentType: 'text/plain',
                        success: function(response){
                            $('#offer_' + offer_id).remove();
                            console.log(response.code);
                        }
                    });
                }
                return false;
            });
        });
    </script>
    <div class="container col-md-3 col-md-offset-5">
        <h3 class="text-muted">Kindred</h3>
        <h1 class="text-muted">{{ user.first_name|capfirst }}, {{ age }}</h1>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="http://graph.facebook.com/{{ user.profile_or_self.facebook_id }}/picture?type=large" title="facebook stored image" /><br /></td>
            </a>
        </div>
        <div class="goals">
            <p><strong>Goals</strong></p>
            <ul class="no_bullets">
                {% for goal in goals %}
                    <li id="goal_{{ goal.goal_id }}">
                        <a href="#" class="delete-goal" id="{{ goal.goal_id }}"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        {{ goal }}
                        <a href="{% url "goal_update" goal.goal_id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url "goal_create" %}"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    Create new goal
                </li>
            </ul>
        </div>
        <div class="offers">
            <p><strong>Offers</strong></p>
            <ul class="no_bullets">
                {% for offer in offers %}
                    <li id="offer_{{ offer.offer_id }}">
                        <a href="#" class="delete-offer" id="{{ offer.offer_id }}"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        {{ offer }}
                        <a href="{% url "offer_update" offer.offer_id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url "offer_create" %}"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    Create new offer
                </li>
            </ul>
        </div>
        <div class="user_bio">
            <p><strong>About Me</strong></p>
            <div class="user_bio_content">
                {{ user.profile_or_self.about_me }}
                <a href="{% url "biography_update" user.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
        </div>
        <div class="user_interests">
            <p><strong>Activities & Interests</strong></p>
            <ul class="no_bullets">
                {% for interest in interests %}
                    <li id="interest_{{ interest.id }}">
                        <a href="#" class="delete-interest" id="{{ interest.id }}"><span class="glyphicon glyphicon-minus-sign"></span></a>
                        {{ interest }}
                        <a href="{% url "interests_update" interest.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url "interests_create" %}"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    Create new offer
                </li>
            </ul>
        </div>
        <div class="user_likes">
            <p><strong>Likes</strong></p>
            <ul class="no_bullets">
                {% for like in user.profile_or_self.likes|slice:":5" %}
                    <li>{{ like.name }}</li>
                {% empty %}
                    <li>No likes yet</li>
                {% endfor %}
            </ul>
        </div>
        <div class="user_keyword">
            <p><strong>Keywords</strong></p>
            <ul class="no_bullets">
                {% for keyword in keywords %}
                    <li>{{ keyword }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}


