{% extends 'base.html' %}
{% block content %}
<div class="headersmall segment">
    <div class="container">
        <h3 class="ui center aligned header">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse">2</i>
            </span>
            Post Your Offer
        </h3>
    </div>
</div>
<div class="body segment">
    <div class="container">
        <h2 class="ui center aligned header">My offer is to...</h2>
        {% include 'goals/subject_form.html' with button_name="Next &rarr;" %}
        <div class="ui secondary segment">
            <h3>Here are some examples</h3>
            <p>
                {% include 'goals/examples_list.html' %}
            </p>
        </div>
    </div>
</div>
{% endblock content %}