{% if form.errors %}
{% for field in form %}
{% for error in field.errors %}
<div data-alert class="alert-box alert">
    <strong>{{ field.label }}:</strong> {{ error|escape }}
    <a href="" class="close">×</a>
</div>
{% endfor %}
{% endfor %}
{% endif %}
<br>
<form class="form" role="form" action="" method="post">
    {% csrf_token %}
    <div class="search-wrapper">
        <i class="fa fa-search fa-lg"></i>
        <input type="text" name="description" id="id_description" placeholder="enter you goal here">
    </div>
    <button type="submit" class="small-centered success medium-12 small-12 large-12 columns radius" role="button">Next &rarr;</button>
</form>
