{% for k, message in form.errors.items %}
<div class="ui negative message">
    <div class="header">
        {{message|striptags}}
    </div>
</div>
{% endfor %}
<div class="ui form">
    <form class="form" role="form" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="ui center aligned grid">
            <div class="row">
                <div class="column">
                    <div class="search-wrapper ui icon large left input" ng-controller="GoalsController">
                        <i class="fa fa-search fa-lg"></i>
                        <div field-required="true" angucomplete-alt minlength="3" match-class="highlight" selected-object="goalSelected" description-field="description[3]" title-field="description" remote-url="/api/v1/subject/?format=json&description__contains=" remote-url-data-field="objects" type="text" input-name="description" id="id_description" placeholder="enter your {% if '/goals/create/goal/' == request.path %}goal{%endif%}{% if '/goals/create/offer/' == request.path %}offer{%endif%} here"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button type="submit" class="ui button submit green big" role="button">Next &rarr;</button>
                </div>
            </div>
        </div>
    </form>
</div>