<div class="container col-md-12 col-md-offset-5">
    <form class="form-horizontal col-sm-2" role="form" action="" method="post">{% csrf_token %}
        <div class="form-group">
            {{ form.errors }}
            <input type="text" name="description" class="form-control" id="id_description" placeholder="enter you goal here">
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-primary" role="button" value="{{ button_name }}" />
        </div>
    </form>
</div>