{% extends 'base.html' %}

{% block content %}
<div class="container col-md-3 col-md-offset-5">
    <h1 class="text-muted">{{ user.first_name }}, 33</h1>
    <p><strong>Goals</strong></p>
    <ul class="no_bullets">
        {% for goal in goals %}
            <li>{{ goal }}</li>
        {% empty %}
            <li>No goals yet.</li>
        {% endfor %}
    </ul>
    <p><strong>Offers</strong></p>
    <ul class="no_bullets">
        {% for offer in offers %}
            <li>{{ offer }}</li>
        {% empty %}
            <li>No offers yet.</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}