{% extends 'base.html' %}

{% block content %}
<div class="container col-md-3 col-md-offset-5">
    <h3 class="text-muted">Kindred</h3>
    <h1 class="text-muted">{{ user.username|capfirst }}, 33</h1>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="">
        </a>
    </div>
    <p><strong>Goals</strong></p>
    <ul class="no_bullets">
        {% for goal in goals %}
            <li>{{ goal }}</li>
        {% empty %}
            <li>No goals yet.</li>
        {% endfor %}
    </ul>
    <p><strong>Offers</strong></p>
    <ul class="no_bullets">
        {% for offer in offers %}
            <li>{{ offer }}</li>
        {% empty %}
            <li>No offers yet.</li>
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-default btn-lg btn-circle">
        <span class="glyphicon glyphicon-remove-circle"></span>
    </button>
    <button type="button" class="btn btn-default btn-lg btn-circle">
        <span class="glyphicon glyphicon-ok-circle"></span>
    </button>
</div>

{% endblock content %}