{% extends 'loginbase.html' %}
{% block title %}icebr&#257;k - User Login{% endblock %}
{% block content %}
<!-- LOGIN -->
<section class="login-wrapper">
    <div class="row">
        <div class="medium-5 small-centered columns">

            <ul class="social-icon" id="intro-title">
                <li><img id="loginLogo" src="/static/img/icebrak-logo.png" alt=""></li>
            </ul>

            <h3 id="welcomeMessage">Welcome. Please login.</h3>
        </div><!-- /.medium-5 .small-centered .columns -->
    </div><!-- /.row -->


    <!-- FACEBOOK LOGIN -->
    <div class="row social-login">
        <div class="medium-5 small-centered columns">
            <!-- Link -->
            <ul class="login-desc">
             <form action="{% url 'facebook_connect' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="/" name="next" />
                <div id="facebook_login">

                    <button onclick="F.connect(this.parentNode.parentNode); return false;" id="loginButton" class="small radius btn-facebook block">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="social-text">Facebook</span>
                    </button>
                </div>
            </form>
        </ul><!-- /.login-desc -->
        <!-- Link -->
    </div>
</div>

<div class="row social-login">
    <div class="medium-5 small-centered columns">
        <p class="login-message" style="text-align: center; font-size: 1em;" id="loginNotice">
            icebr&#257;k will never share your personal information with anyone. And, we will never post to a social network on your behalf.
        </p>
    </div>
</div>
</section><!-- /.login-wrapper -->
{% endblock %}