{% extends 'loginbase.html' %} {% block title %}User Login{% endblock %} {% block content %}
<!-- LOGIN -->
<section class="login-wrapper">
    <div class="row">
        <div class="medium-5 small-centered columns">
            <ul class="social-icon" id="intro-title">
                <li><img id="loginLogo" src="/static/assets/images/logo.svg" alt=""></li>
            </ul>
            <h3><strong>Welcome</strong>. Please login.</h3>
        </div>
        <!-- /.medium-5 .small-centered .columns -->
    </div>
    <!-- /.row -->
    <!-- Start: Login form-->
    <form class="form" method="post" action="">
        {% csrf_token %}
        <div class="row">
            <div class="medium-5 small-centered columns">
                <input type="text" placeholder="Username" id="id_username" name="username">
                <input type="password" placeholder="Password" id="id_password" name="password">
                <button type="submit" class="small success block radius">Sign In</button>
                <input type="hidden" name="next" value="{{ next }}" />
                <!-- Link -->
                <!-- /.login-desc -->
                <!-- Link -->
            </div>
            <!-- /.medium-5 .small-centered .columns -->
        </div>
        <!-- /.row -->
    </form>
    <!-- /.login-form -->
    {% if form.errors %}
    <div class="row">
        <div class="medium-5 small-centered columns">
            {% for field in form %} {% for error in field.errors %}
            <div data-alert class="alert-box alert">
                <strong>{{ field.label }}:</strong> {{ error|escape }}
                <a href="" class="close">×</a>
            </div>
            {% endfor %} {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- End: Login form-->
    <div class="row social-login">
        <div class="medium-5 small-centered columns">
            <p class="login-message" style="text-align: center; font-size: 1em;" id="loginNotice">
                persice will never share your personal information with anyone. And, we will never post to a social network on your behalf.
            </p>
        </div>
    </div>
</section>
<!-- /.login-wrapper -->
{% endblock %}
