{% extends 'loginbase.html' %}
{% block title %}User Login{% endblock %}
{% block content %}
<!-- LOGIN -->
<section class="login-wrapper">
    <div class="row">
        <div class="medium-5 small-centered columns">

            <ul class="social-icon" id="intro-title">
                <li><a href="/accounts/login" class="facebook"><i class="fa fa-slideshare"></i></a></li>
                <li><h1>Kindred</h1></li>
            </ul>

            <h3><strong>Welcome</strong>. Please login.</h3>
        </div><!-- /.medium-5 .small-centered .columns -->
    </div><!-- /.row -->


    <!-- FACEBOOK LOGIN -->
    <div class="row social-login">
        <div class="medium-5 small-centered columns">
            <!-- Link -->
            <ul class="login-desc">
             <form action="{% url 'facebook_connect' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ request.path }}" name="next" />
                <div id="facebook_login_redirect">

                    <button type="submit" class="small radius btn-facebook block">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="social-text">Facebook</span>
                    </button>

                   <!--  <a href="/social/login/linkedin/" class="small radius button btn-linkedin block">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="social-text">LinkedIn</span>
                    </a>
                    <a href="/social/login/twitter/" class="small button radius btn-twitter block">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="social-text">Twitter</span>
                    </a> -->
                </div>
            </form>
        </ul><!-- /.login-desc -->
        <!-- Link -->
    </div>
</div>

<div class="row social-login">
    <div class="medium-5 small-centered columns">
        <p class="login-message" style="text-align: center; font-size: 1em;">
            BeKindred will never share your personal information with anyone. And, we will never post to a social network on your behalf.
        </p>
    </div>
</div>
</section><!-- /.login-wrapper -->
{% endblock %}