{% extends "loginbase.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<!-- REGISTER -->
<section class="login-wrapper">
    <div class="row">
        <div class="medium-5 small-centered columns">
            <ul class="social-icon" id="intro-title">
                <li><a href="/accounts/login" class="facebook"><i class="fa fa-slideshare"></i></a></li>
                <li><h1>Kindred</h1></li>
            </ul>
        </div><!-- /.medium-5 .small-centered .columns -->
    </div><!-- /.row -->
    <!-- Start: Login form-->
    <form class="login-form" method="post" action="">
        <!-- {% csrf_token %} -->
        <div class="row">
            <div class="medium-5 small-centered columns">
                <h3>Register</h3>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div data-alert class="alert-box alert">
                    <strong>{{ field.label }}:</strong> {{ error|escape }}
                    <a href="" class="close">×</a>
                </div>
                {% endfor %}
                {% endfor %}
                {% endif %}
                <br>
                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <input type="text" placeholder="Username" id="id_username" name="username">
                    <input type="email" placeholder="Email address" id="id_email" name="email">
                    <input type="password" placeholder="Password" id="id_password1" name="password1">
                    <input type="password" placeholder="Re-enter Password" id="id_password2" name="password2">
                    <button type="submit" class="small success block radius" id="id_password">Sign Up</button>
                </form>
                <!-- Link -->
                <ul class="login-desc">
                <li>Back to <a href="/accounts/login">Login</a></li>
                </ul><!-- /.login-desc -->
                <!-- Link -->
            </div><!-- /.medium-5 .small-centered .columns -->
        </div><!-- /.row -->
    </form><!-- /.login-form -->
</section><!-- /.login-wrapper -->
{% endblock %}