<!-- matchfeedprofile.template.html -->
<div class="ui grid" ng-cloak>
    <div class="row">
        <div class="wide column">
            <div ng-if="userprofile.total > 0">
                <three-bounce-spinner ng-show="userprofile.loadingFeed" class="ui inverted dimmer transition visible active"></three-bounce-spinner>
                <div ng-show="!showDimmer">
                    <div class="dimmable">
                        <h2 class="ui dividing header" id="desktopmatchheader" ng-if="userprofile.showfullprofile">
                            {{ userprofile.user.first_name }}, {{ userprofile.user.age }}
                            <div class="action-header">
                                <div ng-click="userprofile.cancelMatchDesktop()" class="ui circular icon negative button">
                                    <i class="remove icon"></i>
                                </div>
                                <div ng-click="userprofile.confirmMatchDesktop()"  class="ui circular icon positive button">
                                    <i class="check icon"></i>
                                </div>
                            </div>
                            <div class="sub header">{{userprofile.user.distance[0]}} {{userprofile.user.distance[1]}}
                                <ng-include src="'components/profile/statistics-horizontal.tpl.html'"></ng-include>
                            </div>

                        </h2>
                        <div class="ui basic segment" id="matchfeedheader-slider" ng-if="userprofile.showfullprofile">
                            <ng-include src="'components/profile/headerphotoslider.tpl.html'"></ng-include>
                        </div>
                        <div class="header segment" id="matched-profile-header" ng-hide="userprofile.showfullprofile">
                            <div class="ui segment">
                                <div ng-click="userprofile.changeTopMenu()" ng-show="userprofile.photosSlider[0].cropped_photo === ''" class="ui circular middle aligned left floated small image img-bounding-box" style="background-image: url('{{userprofile.photosSlider[0].photo}}');"></div>
                                <div ng-click="userprofile.changeTopMenu()" ng-show="userprofile.photosSlider[0].cropped_photo !== ''" class="ui circular middle aligned left floated small image img-bounding-box" style="background-image: url('{{userprofile.photosSlider[0].cropped_photo}}');"></div>
                                <h2 ng-click="userprofile.changeTopMenu()" class="ui header">
                                {{ userprofile.user.first_name }}, {{ userprofile.user.age }}
                                <div class="sub header"> {{userprofile.user.distance[0]}} {{userprofile.user.distance[1]}}</div>
                            </h2>
                                <ng-include src="'components/profile/statistics.tpl.html'"></ng-include>
                            </div>
                        </div>
                        <div class="body segment" id="matched-profile-body" ng-click="userprofile.changeTopMenu()">
                            <div class="ui  attached segment" ng-show="userprofile.showfullprofile" id="mobilematchheader">
                                <h3 class="ui left floated header">
                                {{ userprofile.user.first_name }}, {{ userprofile.user.age }}
                            </h3>
                                <h5 class="ui right floated header">
                                {{userprofile.user.distance[0]}} {{userprofile.user.distance[1]}}
                            </h5>
                                <br>
                                <ng-include src="'components/profile/statistics-horizontal.tpl.html'"></ng-include>
                            </div>
                            <div class="ui attached segment">
                                <ng-include src="'components/profile/profilebody.tpl.html'"></ng-include>
                            </div>
                        </div>
                        <div class="footer segment" id="matched-profile-footer" ng-hide="userprofile.showfullprofile || userprofile.total === 0">
                            <div class="ui grid one column aligned center">
                                <div class="row">
                                    <div class="column">
                                        <div class="ui labeled icon menu">
                                            <a href="" ng-click="userprofile.cancelMatch()" class="item" id="left_button">
                                                <i class="remove red circle icon"></i>
                                            </a>
                                            <a href="" ng-click="userprofile.confirmMatch()" class="item" id="accept_button">
                                                <i class="check green circle icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body segment" ng-show="userprofile.total === 0 && !userprofile.loadingFeed">
                <div class="ui info message">
                    <div class="header">
                        Sorry. Currently you don't have any matches.
                    </div>
                    <p>Add more information to your profile. <a class="ui icon mini button blue" ui-sref="myprofile"><i class="angle double right icon"></i></a></p>
                    <p>Adjust your match filter to be less restrictive. <a class="ui icon mini button blue" id="showFilter" href=""><i class="angle double right icon"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<page-dimmer ng-model="userprofile.showDimmer" show="true">
    <h1 class="ui header"><img src="/static/img/icebrak-logo-dark.png" class="ui medium image centered" alt=""></h1>
    <h2 class="ui header">Locating people with similar goals...</h2>
    <fading-circle-spinner></fading-circle-spinner>
</page-dimmer>
<script>
'use strict';

$('.right.sidebar.matchfeedfilter')
    .sidebar('attach events', '#showFilter', 'show');
$('#showFilter')
    .removeClass('disabled');
</script>
