<div class="ui mini horizontal statistics">
    <div class="statistic" data-tooltip="Match score">
        <div class="value">
            <i class="intersecticon icon"></i>
        </div>
        <div class="label">
            {{userprofile.totalmatchingcount}}
        </div>
    </div>
    <div class="statistic" data-tooltip="Mutual friends">
        <div class="value">
            <i class="empty user usericon icon"></i>
        </div>
        <div class="label">
            {{userprofile.totalfriendscount}}
        </div>
    </div>
</div>