<div class="match-profile__mutual">
  <div class="match-profile__likes__top">
    <h4 class="module-title">Mutual Friends <span>(4)</span></h4>
  </div>
  <div class="layout slide-users js-slide-mutuals" slick show="6" infinite="true" scroll="1" dots="false" arrows="true" append="0">
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-persice"></use>
          </svg>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-twitter"></use>
          </svg>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-facebook"></use>
          </svg>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-linkedin"></use>
          </svg>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a class="user-listed user-listed--1">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--small">
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
  </div>
</div>
