<div class="layout layout--flush content" *ng-if="!profileViewActive">
  <div class="layout__item 1/1 extralarge-and-up-3/4">
    <h3 *ng-if="!loading && isListEmpty">No results...</h3>
    <users-list [users]="items"></users-list>
    <loading [status]="loading"></loading>
  </div>
  <div class="layout__item extralarge-and-up-1/4 filter-place">
    <filter (refresh-list)="refreshList($event)"></filter>
  </div>
</div>

<!-- <profile *ng-if="profileViewActive" [user]="selectedUser"></profile>
-->
