<div class="layout layout--flush content" *ng-if="!profileViewActive">

  <div class="layout__item 3/4 extralarge-and-up-4/5">
    <notification [title]="notification.title" [body]="notification.body" [active]="notification.active" [type]="notification.type"></notification>
    <users-list [users]="items" (on-clicked)="setSelectedUser($event)"></users-list>
    <loading-card [status]="loadingInitial"></loading-card>
    <loading [status]="loading && !loadingInitial"></loading>
  </div>
  <div class="layout__item 1/4 extralarge-and-up-1/5 filter-place">
    <filters></filters>
  </div>
</div>

<profile
*ng-if="profileViewActive"
[user]="selectedUser"
[mutuals]="mutuals"
(closeprofile-event)="closeProfile($event)"
(pass-event)="passUser($event)"
(accept-event)="acceptUser($event)">
</profile>


