<div class="match-profile__features">
  <div class="layout">
    <div class="layout__item 1/1 large-and-up-1/3">
      <h4 class="module-title">Interests <span>({{interestsCount}})</span></h4>
      <ul class="features-list">
        <li [class]="{'features-list__match': item.match}" *ng-for="#item of interests">
          <svg role="img" class="icon icon--tiny" *ng-if="item.match">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-thunder"></use>
          </svg> {{item.value}}
        </li>
      </ul>
      <ul class="features-list" *ng-if="showAllInterests">
        <li [class]="{'features-list__match': item.match}" *ng-for="#item of interestsMore">
          <svg role="img" class="icon icon--tiny" *ng-if="item.match">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-thunder"></use>
          </svg> {{item.value}}
        </li>
      </ul>
      <a *ng-if="!showAllInterests && interestsCount > 6" (click)="toggleAll('interests')" class="link-blank">Show all</a>
    </div>
    <div class="layout__item 1/1 large-and-up-1/3">
      <h4 class="module-title">Goals <span>({{goalsCount}})</span></h4>
      <ul class="features-list">
        <li [class]="{'features-list__match': item.match}" *ng-for="#item of goals">
          <svg role="img" class="icon icon--tiny" *ng-if="item.match">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-thunder"></use>
          </svg> {{item.value}}
        </li>
      </ul>
      <ul class="features-list" *ng-if="showAllGoals">
        <li [class]="{'features-list__match': item.match}" *ng-for="#item of goalsMore">
          <svg role="img" class="icon icon--tiny" *ng-if="item.match">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-thunder"></use>
          </svg> {{item.value}}
        </li>
      </ul>
      <a *ng-if="!showAllGoals && goalsCount > 6" (click)="toggleAll('goals')" class="link-blank">Show all</a>
    </div>
    <div class="layout__item 1/1 large-and-up-1/3">
      <h4 class="module-title">Offers <span>({{ offersCount }})</span></h4>
      <ul class="features-list">
        <li [class]="{'features-list__match': item.match}" *ng-for="#item of offers">
          <svg role="img" class="icon icon--tiny" *ng-if="item.match">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-thunder"></use>
          </svg> {{item.value}}
        </li>
      </ul>
      <ul class="features-list" *ng-if="showAllOffers">
        <li [class]="{'features-list__match': item.match}" *ng-for="#item of offersMore">
          <svg role="img" class="icon icon--tiny" *ng-if="item.match">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-thunder"></use>
          </svg> {{item.value}}
        </li>
      </ul>
      <a *ng-if="!showAllOffers && offersCount > 6" (click)="toggleAll('offers')" class="link-blank">Show all</a>
    </div>
  </div>
</div>
<div class="match-profile__features">
  <div class="layout">
    <div class="layout__item 1/1 large-and-up-1/3">
      <h4 class="module-title">Keywords <span>({{keywordsCount}})</span></h4>
      <ul class="features-list">
        <li *ng-for="#key of keywords[0]">
          {{key}}
        </li>
      </ul>
    </div>
  </div>
</div>
