/* Table of Content
==================================================
#Global Styles
#Custom CSS Foundation 5
#Themes Styles
#Media queries are built using ems in Foundation. */
/* #Global Styles
================================================== */
/* Style */
body {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #444;
}
/* Link */
a {
	color: #f04124;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
a:hover {
	color: #ea2f10;
	text-decoration: underline;
}
a:focus {
	outline: none;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
/* Heading + paragraf */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: 400 !important;
	color: #444;
	line-height: 1.3;
	margin-bottom: 0.8125rem;
}
p {
	line-height: 1.4;
	margin-bottom: 0.8125rem;
}
p.lead {
	line-height: 1.4;
}
/* Custom margin */
.margin-top {
	margin-top: 1.875rem;
}
.margin-right {
	margin-right: 1.875rem;
}
.margin-bottom {
	margin-bottom: 1.875rem;
}
.margin-left {
	margin-left: 1.875rem;
}
/* Selection */
::selection {
	background-color: #13a7c7;
	color: #fff;
	text-shadow: none;
}
/* Horizontal rule */
hr.line {
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
	border: 0;
}
/* #Custom CSS Foundation 5.0.2
================================================== */
/* Buttons */
button,
.button {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 0.8125rem;
	text-transform: uppercase;
	text-decoration: none;
}
button:hover,
.button:hover {
	text-decoration: none;
}
button:focus,
.button:focus {
	text-decoration: none;
	outline: none;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
button.tiny,
.button.tiny {
	font-size: 0.625rem;
}
button.block,
.button.block {
	width: 100% !important;
}
button.dark,
.button.dark {
	background-color: #444;
	color: #fff;
	border-color: #252525;
}
button.dark:hover,
.button.dark:hover,
button.dark:focus,
.button.dark:focus {
	background-color: #252525;
	color: #fff;
}
/* Input */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	height: 2.875rem;
	font-size: 1rem;
	font-style: italic;
	border-width: 2px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
	border-color: #999;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	outline: 0 auto -webkit-focus-ring-color;
	outline-offset: 0;
}
textarea {
	height: 8.375rem;
}
/* Preformatted text */
pre {
	display: block;
	background-color: #f6f6f6;
	font-size: 0.8125rem;
	color: #555;
	line-height: 1.428571429;
	border: 2px solid #e2e2e2;
	border-radius: 4px;
	margin: 0 0 1.25rem;
	margin-bottom: 5px;
	padding: 9.5px;
	word-break: break-all;
	word-wrap: break-word;
}
/* Top bar */
/* Hover text decoration */
.top-bar .name h1 a:hover,
.top-bar-section li a:not(.button):hover {
	text-decoration: none;
}
.top-bar .name h1 a {
	font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.125rem;
	font-weight: 400 !important;
	text-transform: uppercase;
	margin-top: 0px;
}
.top-bar .toggle-topbar.menu-icon {
	top: 45%;
}
.top-bar-section .has-form {
	margin-top: 0px;
}
.top-bar-section ul li.active > a,
.top-bar-section ul li.active > a:hover {
	background: #272727;
}
.top-bar-section ul li > a {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
}
.top-bar-section li a:not(.button) {
	padding: 0.5rem 0.9375rem;
}
.top-bar-section > ul > .divider,
.top-bar-section > ul > [role="separator"] {
	height: 3.813rem;
}
.top-bar.expanded .toggle-topbar a {
	color: #fff;
}
.top-bar.expanded .toggle-topbar a span {
	-webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
	box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}
/* Orbit slider */
.orbit-bullets {
	cursor: pointer;
}
/* #Themes Styles
================================================== */
/* Masthead */
.masthead {
	background-color: #333;
}
/* Intro */
.intro {
	position: relative;
	height: 34.38rem;
// background-color: #9a958f;
background-color: #f6f6f6;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: #333;
padding-top: 3.125rem;
}
.intro h1,
.intro p {
	color: #333;
}
.intro h1 {
	font-size: 2.5rem;
}
.intro p.lead {
	font-size: 1.438rem;
}
.intro .button {
	margin-right: 5px;
}
.intro img {
	position: relative;
	display: block;
	width: 70%;
	height: auto;
	margin: 0 auto;
}
.intro .margin-top {
	margin-top: 2.5rem;
}
.button-top {
	margin-top: 2.188rem;
}
/* Services */
.services-wrapper {
	text-align: center;
	padding: 3.125rem 0 3.125rem;
}
.services-wrapper h2 {
	margin-bottom: 5px;
}
.services-wrapper p.lead {
	color: #6f6f6f;
	margin-bottom: 2.5rem;
}
.col-services {
	margin: 0;
}
.icon-services {
	display: block;
	width: 6.25rem;
	height: 6.25rem;
	background-color: transparent;
	border: 4px solid transparent;
	border-radius: 50%;
	margin: 0 auto 1.25rem;
}
.icon-services .fi-layout,
.icon-services .fi-foundation,
.icon-services .fi-widget {
	font-size: 2.813rem;
	line-height: 2;
}
.icon-services.red {
	background-color: #f04124;
	border-color: #ea2f10;
	color: #fff;
}
.icon-services.blue {
	background-color: #008cba;
	border-color: #0079a1;
	color: #fff;
}
.icon-services.green {
	background-color: #43ac6a;
	border-color: #3c9a5f;
	color: #fff;
}
/* Description */
.description-wrapper {
	background-color: #f6f6f6;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	padding: 3.125rem 0;
	overflow: hidden !important;
}
.img-phone {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.button-app {
	margin: 1.875rem 0 0;
	padding-left: 0;
	list-style: none;
}
.button-app li {
	display: inline-block;
	line-height: 1;
	margin-right: 2px;
	padding: 0;
}
.button-app li:last-child {
	margin-right: 0;
}
.button-app img {
	display: block;
	width: 9.375rem;
	height: auto;
	margin: 0;
}
/* Slider */
.features-wrapper {
	text-align: center;
	padding: 3.125rem 0;
}
.features-wrapper .orbit-timer,
.features-wrapper .orbit-slide-number {
	display: none;
}
.features-wrapper .orbit-container .orbit-prev,
.features-wrapper .orbit-container .orbit-next {
	background-color: #444;
	color: #fff;
}
.features-wrapper .orbit-container .orbit-prev:hover,
.features-wrapper .orbit-container .orbit-next:hover {
	background-color: #f04124;
}
.features-wrapper .orbit-container .orbit-prev {
	border-radius: 0 4px 4px 0;
}
.features-wrapper .orbit-container .orbit-next {
	border-radius: 4px 0 0 4px;
}
.features-wrapper .orbit-bullets {
	top: 1.25rem;
}
.img-slider {
	display: block;
	width: 45%;
	height: auto;
	margin: 0 auto;
}
/* Subscribe */
.subscribe-wrapper {
	background-color: #f04124;
	color: #fff;
	text-align: center;
	padding: 50px 0;
}
.subscribe-wrapper h3 {
	color: #fff;
}
.subscribe-wrapper .row .row.collapse {
	margin-top: 2.5rem;
}
.subscribe-wrapper input[type="email"] {
	border-radius: 4px 0 0 4px !important;
	border-color: #444;
}
.subscribe-wrapper input[type="email"]:focus {
	border-color: #252525;
}
.subscribe-wrapper .postfix {
	height: 2.875rem;
}
.subscribe-wrapper .postfix.button {
	border-radius: 0 4px 4px 0 !important;
	padding-top: 7px;
}
.subscribe-wrapper p.spam {
	margin-top: 1.875rem;
}
/* Pricing tables */
.pricing-wrapper {
	padding: 4.375rem 0;
}
.pricing-wrapper h2 {
	margin-bottom: 2px;
}
.pricing-wrapper p.lead {
	color: #6f6f6f;
	margin-bottom: 3.125rem;
}
.pricing-wrapper h2,
.pricing-wrapper p.lead {
	text-align: center;
}
.pricing-wrapper hr.line {
	margin-bottom: 3.125rem;
}
.pricing-table {
	position: relative;
	border-radius: 4px;
	margin-bottom: 1.875rem;
}
.pricing-table .title {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.25rem;
	border-radius: 4px 4px 0 0;
}
.pricing-table .price {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1.875rem;
}
.pricing-table .price small {
	font-style: italic;
	color: #6f6f6f;
}
.pricing-table .description {
	font-size: 0.875rem;
}
.pricing-table .bullet-item {
	font-size: 1rem;
}
.pricing-table .fi-checkbox,
.pricing-table .fi-x-circle {
	font-size: 1.375rem;
}
.pricing-table .fi-checkbox {
	color: #43ac6a;
}
.pricing-table .fi-x-circle {
	color: #f04124;
}
.popular {
	position: absolute;
	top: -0.625rem;
	right: -0.625rem;
	width: 2.188rem;
	height: 2.188rem;
	background-color: #f3b81e;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}
.popular .fi-check {
	font-size: 1.25rem;
	line-height: 1.7;
}
.col-price-desc {
	background-color: #f6f6f6;
	color: #9099a3;
	border-radius: 4px;
	margin-bottom: 1.875rem;
	padding: 0.9375rem 1.25rem;
}
/* Contact */
.contact-wrapper {
	padding: 4.375rem 0 0;
}
.contact-wrapper h2,
.contact-wrapper h3,
.contact-wrapper p.margin-bottom {
	text-align: center;
}
.contact-wrapper p.margin-bottom {
	font-style: italic;
}
.contact-wrapper h2 {
	margin-bottom: 0;
}
.contact-wrapper h3 {
	color: #6f6f6f;
}
.contact-wrapper .margin-bottom {
	margin-bottom: 3.125rem;
}
.contact-form {
	margin-bottom: 3.125rem;
}
.contact-form textarea {
	height: 10.63rem;
}
/** Google maps **/
#map {
	position: relative;
	width: 100%;
	height: 31.25rem;
	border-top: 4px solid #e8e8e8;
	border-bottom: 4px solid #e8e8e8;
}
/* Login form */
body.login {
	background-color: #333;
	color: #fff;
}
.login-wrapper {
	padding: 4.375rem 0 9.375rem;
}
.login-wrapper h1 {
	font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	color: #fff;
	text-align: center;
	margin-bottom: 1.25rem;
}
.login-wrapper h1 a {
	color: #fff;
}
.login-wrapper h1 a:hover {
	text-decoration: none;
}
.login-wrapper h3 {
	color: #fff;
}
.login-desc {
	text-align: center;
	margin: 0.9375rem 0 0 0;
	padding-left: 0;
	list-style: none;
}
.login-desc li {
	display: inline-block;
	font-size: 0.875rem;
	color: #fff;
	line-height: 1;
	margin-right: 5px;
	padding: 0;
}
.login-desc li:last-child {
	margin-right: 0;
}
.login-desc a {
}
.login-desc a:hover {
	text-decoration: none;
	border-bottom: 0;
}
/** Reveal modal **/
.sign-up-modal.reveal-modal {
	background-color: #333;
	border-color: #1a1a1a;
	border-radius: 4px;
	padding-right: 0.9375rem;
	padding-bottom: 0;
	padding-left: 0.9375rem;
}
.sign-up-modal.reveal-modal h3,
.sign-up-modal.reveal-modal h5 {
	color: #fff;
}
.sign-up-modal.reveal-modal h3 {
	margin-bottom: 0;
}
.sign-up-modal.reveal-modal label {
	color: #fff;
}
.sign-up-modal.reveal-modal.small {
	width: 26rem;
	margin-left: -15.2%;
}
.sign-up-modal.reveal-modal .close-reveal-modal:hover {
	color: #fff;
}
/* Pre footer */
.pre-footer {
	background-color: #424242;
	color: #fff;
	padding: 1.875rem 0 2.5rem;
}
.pre-footer h5 {
	color: #fff;
	margin-bottom: 1.125rem;
}
.pre-footer .side-nav {
	font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	padding: 0;
}
.pre-footer .side-nav li {
	font-size: 1rem;
}
.pre-footer .side-nav li a {
	display: inline-block;
	color: #fff;
}
.add-links,
.social-media {
	display: block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}
.add-links li,
.social-media li {
	display: block;
	font-size: 1rem;
	color: #fff;
	line-height: 1.5;
	padding: 0 0 0 21px;
	text-indent: -13px;
	margin-bottom: 10px;
}
.social-media li {
	line-height: 1;
	margin-bottom: 3px;
	padding: 0 0 0 5px;
	text-indent: 0;
}
.add-links li:last-child,
.social-media li:last-child {
	margin-bottom: 0;
}
.add-links li .fi-marker,
.add-links li .fi-telephone,
.add-links li .fi-mail {
	margin: 5px;
}
.add-links a,
.social-media a {
	color: #fff;
}
.social-media a .fi-social-facebook,
.social-media a .fi-social-twitter,
.social-media a .fi-social-zurb,
.social-media a .fi-social-pinterest {
	position: relative;
	top: 5px;
	right: 5px;
	font-size: 30px !important;
}
/* Footer */
.footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1.875rem 0;
}
.footer p {
	margin: 0;
}
.footer .fi-heart {
	color: #fd487d;
	margin: 0 2px;
}
/** Animated **/
.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
.animated.hinge {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}
.slideInLeft {
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
	-o-animation-name: slideInLeft;
	animation-name: slideInLeft;
}
@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	100% {
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes slideInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	100% {
		-moz-transform: translateX(0);
	}
}
@-o-keyframes slideInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	100% {
		-o-transform: translateX(0);
	}
}
@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	100% {
		transform: translateX(0);
	}
}
.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	-moz-animation-name: slideOutLeft;
	-o-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
}
@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
}
@-moz-keyframes slideOutLeft {
	0% {
		-moz-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
}
@-o-keyframes slideOutLeft {
	0% {
		-o-transform: translateX(0);
	}
	100% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
}
@keyframes slideOutLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(-2000px);
	}
}
/* #Media queries are built using ems in Foundation.
============================================================================ */
/* Max-width 60rem = 1024px */
@media only screen and (max-width: 64rem) {
	.img-slider {
		width: 63%;
	}
	.sign-up-modal.reveal-modal.small {
		margin-left: -21%;
	}
}
/* Max-width 50rem = 800px */
@media only screen and (max-width: 50rem) {
	.intro {
		height: 40.63rem;
		background-image: url(../img/header-bg-large.jpg);
	}
	.intro img {
		width: 80%;
	}
	.services-wrapper {
		padding-top: 3.125rem;
	}
	.img-phone {
		width: 80%;
	}
	#map {
		height: 350px;
	}
	.login-wrapper .row .medium-5 {
		position: relative;
		width: 55% !important;
	}
	.sign-up-modal.reveal-modal.small {
		margin-left: -28%;
	}
}
/* Max-width 40rem = 640px */
@media only screen and (max-width: 40rem) {
	.top-bar {
		height: 3.125rem;
	}
	.top-bar .name h1 a {
		margin-top: 0px;
	}
	.top-bar-section ul {
		border-bottom: 1px solid #1a1a1a;
	}
	.top-bar-section > ul > .divider,
	.top-bar-section > ul > [role="separator"] {
		height: 0;
	}
	.intro {
		height: 62.5rem;
		padding-top: 0.9375rem;
	}
	.intro img {
		width: 50%;
	}
	.services-wrapper {
		padding-bottom: 1.25rem;
	}
	.col-services {
		width: 80%;
		margin: 0 auto 1.875rem;
	}
	.pricing-table,
	.col-price-desc {
		width: 80%;
		margin: 0 auto 1.875rem;
	}
	.login-wrapper {
		padding-top: 1.875rem;
	}
	.login-wrapper .row .medium-5 {
		width: 100% !important;
	}
	.sign-up-modal.reveal-modal.small {
		margin-left: -34%;
	}
	.pre-footer {
		padding-bottom: 0.75rem;
	}
	.col-pre-footer {
		margin-bottom: 1.875rem;
	}
	.subscribe-wrapper input[type="email"],
	.subscribe-wrapper .postfix.button {
		border-radius: 4px !important;
	}
}
/* Max-width 35.5rem = 568px */
@media only screen and (max-width: 35.5rem)  {
	.intro {
		height: 58.75rem;
	}
	.login-wrapper {
		padding-bottom: 21.88rem;
	}
	.sign-up-modal.reveal-modal.small {
		margin-left: -37%;
	}
}
/* Max-width 30rem = 480px */
@media only screen and (max-width: 30rem)  {
	.intro {
		height: 55.63rem;
	}
	.features-wrapper .orbit-container .orbit-prev,
	.features-wrapper .orbit-container .orbit-next {
		display: none;
	}
	.img-slider {
		width: 80%;
	}
	.sign-up-modal.reveal-modal.small {
		width: 90%;
		margin-left: -45%;
	}
	#map {
		height: 250px;
	}
}
/* Max-width 24rem = 384px */
@media only screen and (max-width: 24rem)  {
	.intro {
		height: 62.5rem;
	}
	.intro img {
		width: 65%;
	}
}
/* Max-width 20rem = 320px */
@media only screen and (max-width: 20rem) {
	.sign-up-modal.reveal-modal label {
		font-size: 0.75rem;
	}
	.login-desc {
		text-align: left;
	}
	.login-desc li {
		display: block;
		line-height: 1.4;
		margin-right: 0;
	}
	.login-desc li.sep {
		display: none;
	}
	input[type="checkbox"]+label,
	input[type="radio"]+label {
		margin-right: 0;
	}
	.sign-up-modal.reveal-modal label {
		font-size: 0.5rem;
	}
}
/* Max-width 15rem = 240px */
@media only screen and (max-width: 15rem)  {
	.intro {
		height: 59.06rem;
	}
	.intro h1 {
		font-size: 1.875rem;
	}
	.intro p.lead {
		font-size: 1.25rem;
	}
	.pricing-table,
	.col-price-desc {
		width: 100%;
	}
}
img {
	max-width: 100%;
	height: auto;
	width: 100%;
}
@media only screen and (min-width: 0) and (max-width: 64em) {
	// img, form, .button {
	// 	padding: 20px;
	// }
	// .button {
	// 	margin: 20px;
	// }
}
.row {
	max-width: 80rem;
	margin-bottom: 20px;
}
.alert-box {
	margin-bottom: 0;
}
.main-section {
}
.title a {
	color: #FFF;
}
.social-icon
{
	text-align:center;
	margin:40px 0 0;
	padding-left:0;
	list-style:none
}
.social-icon li
{
	display:inline-block;
	line-height:1;
	margin-right:1.563rem;
	padding:0
}
.social-icon li:last-child
{
	margin-right:0
}
.social-icon a
{
	display:block;
	width:70px;
	height:70px;
	background-color:transparent;
	text-decoration:none;
	text-align:center;
	border-radius:50%;
	-webkit-transition:background .3s,color .3s,box-shadow .3s;
	-moz-transition:background .3s,color .3s,box-shadow .3s;
	transition:background .3s,color .3s,box-shadow .3s
}
.social-icon a:hover
{
	box-shadow:0 0 0 8px rgba(255,255,255,.3)
}
.social-icon a.facebook
{
	background-color:#3b5998;
	color:#fff
}
.social-icon a.facebook:hover
{
	background-color:#244281;
	color:#fff
}
.social-icon a.twitter
{
	background-color:#4099ff;
	color:#fff
}
.social-icon a.twitter:hover
{
	background-color:#2982e8;
	color:#fff
}
.social-icon a.google-plus
{
	background-color:#d34836;
	color:#fff
}
.social-icon a.google-plus:hover
{
	background-color:#bc311f;
	color:#fff
}
.social-icon a.dribbble
{
	background-color:#c73b6f;
	color:#fff
}
.social-icon a.dribbble:hover
{
	background-color:#b02458;
	color:#fff
}
.social-icon a.flickr
{
	background-color:#0063dc;
	color:#fff
}
.social-icon a.flickr:hover
{
	background-color:#004cc5;
	color:#fff
}
.social-icon .fa
{
	font-size:2.25rem;
	line-height:2
}
.social-icon a:hover .fa
{
	-webkit-animation:toRightFromLeft .3s forwards;
	-moz-animation:toRightFromLeft .3s forwards;
	animation:toRightFromLeft .3s forwards
}
@-webkit-keyframes toRightFromLeft
{
	49%
	{
		-webkit-transform:translate(100%)
	}
	50%
	{
		opacity:0;
		-webkit-transform:translate(-100%)
	}
	51%
	{
		opacity:1
	}
}
@-moz-keyframes toRightFromLeft
{
	49%
	{
		-moz-transform:translate(100%)
	}
	50%
	{
		opacity:0;
		-moz-transform:translate(-100%)
	}
	51%
	{
		opacity:1
	}
}
@keyframes toRightFromLeft
{
	49%
	{
		transform:translate(100%)
	}
	50%
	{
		opacity:0;
		transform:translate(-100%)
	}
	51%
	{
		opacity:1
	}
}


/* Homepage */
ul.off-canvas-list li a:hover {
	text-decoration: none!important;
}
#intro-title.social-icon li {
	margin-right: 0px;
}


/* OffCanvas*/

.off-canvas-wrap, .inner-wrap {
	min-height: 100%;
}
.off-canvas-wrap{
	height: 100%;
	overflow-y: auto;
}

/*  Topbar */
.top-bar .name h1 a {
	margin-top: 0px!important;
}


.top-bar-section li:not(.has-form) a:not(.button) {
}

.top-bar-section ul li > a {
	font-size: 12px!important;
}


/* Login */

.login-wrapper h3 {
	text-align: center;
}


/* Social Login Icons */


.social_loginOr .social_hrOr {
	background-color: #FFFFFF;
	color: #FFFFFF;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


.social_loginOr .social_spanOr {
	display: block;
	position: absolute;
	color: #FFFFFF!important;
	left: 50%;
	top: -0.8em;
	margin-left: -3.8em;
	background-color: #333;
	width: 8em;
	text-align: center;
}


.btn-facebook{
	color:#fff;
	background-color:#3b5998;
	border-color:rgba(0,0,0,0.2)
}

.btn-facebook .fa-stack, .btn-twitter .fa-stack, .btn-linkedin .fa-stack{
	color: #333;
}


.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active{
	color: #fff;
	background-color:#2d4373;
	border-color:rgba(0,0,0,0.2)
}

.btn-twitter {
	color:#ffffff;
	background-color:#55acee;
	border-color:rgba(0,0,0,0.2);
}

.btn-twitter:hover,.btn-twitter:focus{
	color:#ffffff;
	background-color:#2795e9;
	border-color:rgba(0,0,0,0.2);
}

.btn-twitter:active {
	background-image:none;
}

.btn-twitter.disabled{
	background-color:#55acee;
	border-color:rgba(0,0,0,0.2);
}

.btn-twitter .badge {
	color:#55acee;
	background-color:#ffffff;
}



.btn-linkedin {
	color:#ffffff;
	background-color:#007bb6;
	border-color:rgba(0,0,0,0.2);
}

.btn-linkedin:hover,.btn-linkedin:focus {
	color:#ffffff;
	background-color:#005983;
	border-color:rgba(0,0,0,0.2);
}

.btn-linkedin:active {
	background-image:none;
}

.btn-linkedin.disabled {
	background-color:#007bb6;
	border-color:rgba(0,0,0,0.2);
}

.btn-linkedin .badge {
	color:#007bb6;
	background-color:#ffffff;
}



/* Subtitle */

.subtitle-wrapper {
	background-color: #f6f6f6;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	overflow: hidden!important;
	text-align: center;
	vertical-align: middle;
	padding: 6px 0px;
}

.subtitle-wrapper .row {
	margin-bottom: 0px;
}

.subtitle-wrapper h5 {
	margin-bottom: 0px;
}


.unstyled {
	display: block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}

.unstyled li {
	display: block;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
	padding: 0 0 0 21px;
	text-indent: -13px;
	margin-bottom: 10px;
}

.examples-desc {
	background-color: #f6f6f6;
	color: #9099a3;
	border-radius: 4px;
	margin-bottom: 1.875rem;
	padding: 0.9375rem 1.25rem;
}

.notification-desc {
	background-color: #f6f6f6;
	color: #9099a3;
	border-radius: 4px;
	margin-bottom: 1.875rem;
	padding: 0.9375rem 1.25rem;
}

.notification {
	margin-top: 1.875rem;
}



.search-wrapper {
	position: relative;
}


.search-wrapper i.fa-search {
	position: absolute;
	top: 15px;
	left: 8px;
	z-index: 1000!important;
}


.search-wrapper input {
	padding-left: 30px;
	font-size: 1.2rem;
}


div.switch label {

}

h5.right.switch_label {
	margin-right:1rem;
	font-size: 1rem!important;
}

.profile-pic {
	border-radius: 500px;
	width: 150px;
	height: 150px;
	margin: 20px 0px;
}

.profile-wrapper h3 {
	font-size: 1.4rem;
	color: #666;
	margin-bottom: 0px;
}

.profile-wrapper {
	margin-top: 20px;
}

.profile-wrapper hr {
	margin: 6px 0px;
}


.profile-wrapper .items {
	display: block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}

.profile-wrapper .items li {
	display: block;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
	padding: 0 0 0 21px;
	margin-bottom: 10px;
}

.profile-wrapper a {
	color: #008CBA!important;
}

.profile-wrapper a:hover {
	color: #13a7c7!important;
}





/* Photos */
.media-photo {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	position:relative;
	display:inline-block;
	vertical-align:bottom;
	overflow:hidden;
}




.img-responsive {
	width:100%;
	height:auto;
}

.img-round,.media-round {
	border-radius:50%;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
	border-bottom-width: 2px;
	border-left-style: solid;
	border-left-color: #ffffff;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #ffffff;
	border-right-width: 2px;
}

.img-responsive-height {
	width:auto;
	height:100%;
}


.photo-item {
	text-align: center;
	cursor: move;
	display: block;
	width: 117px;
	width: 117px;
	background-color: transparent;
	border: 0px solid transparent;
	padding-bottom: 4px;
}


.photo-list {
	list-style: none outside none;
	margin: 0px;
}


.profile-picture {
	border-radius: 50%;
	width: 110px;
	height: 110px;
}

section.match {
	background-color: #FFFFFF;
	padding: 0.5rem;
	overflow: hidden !important;
	margin: 1rem;
}

#match-main .columns {
	padding: 0px!important;
}

#match-main hr {
	margin: 0.4rem 0rem;
}

#match-main .row {
	margin-bottom: 0px;
}

.inner-wrap{
	background-color: #ffffff;
}

#match .inner-wrap{
	background-color: #f6f6f6!important;
}

.user-photo {
	margin-right: 1rem;
}

.user-description {
	vertical-align: middle;
	height: 120px;
	width: 144px;

	position: relative;
}

.user-description h4 {
	margin-bottom: 0px;
}

.user-info {
	height: 50%;
}

.user-icons {
	height: 50%;
	text-align: center;
}



#match-main ul.simple {
	display: block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}

#match-main ul.simple li {
	display: block;
	font-size: 1rem;
	color: #333;
	line-height: 0.8;
	font-size: 0.9rem;
	padding-left: 15px;
	text-indent: 0px;
	margin-bottom: 10px;
}

#match-main ul.simple li span {
	position: absolute;
	left: 0px;

}

#match-main ul.simple li span .fa {
	color: #13a7c7;
}

#match-main .goals, #match-main .offers, #match-main .about, #match-main .likes, #match-main .activities {
	margin-bottom: 10px;
}

#match-main .goals h5,  #match-main .offers h5,  #match-main .about h5,  #match-main .likes h5,  #match-main .activities h5 {
	margin-bottom: 5px;
}

#match-main p {
	text-align: left;
	font-size: 0.9rem;
	padding-left: 15px;
}


#match-footer {
	text-align: center;
	padding: 1rem 0 1rem;
}


.icon-services .fa {
	font-size: 1.9rem;
	line-height: 2;
	color: #FFF;
}

#match-footer .icon-services {
	display: inline-block!important;
	margin: 0 1.5rem;
	width: 4rem;
	height: 4rem;
}


.mutual-friend-photo {
	text-align: center;
}

.mutual-friend-photo img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.mutual-friend-photo h6 {
	font-size: 0.7rem;
}


#filter {
	padding-top: 1rem;
}


#filter label {
	color: #FFF;
	font-size:1.1rem;
}


#filter h5.right.switch_label {
	color: #FFF;
}

#filter label.inline {
	margin: 0px;
	padding: 0px;
}

.tab-bar .menu-icon.awesome {
	text-indent: 0.5rem!important;
}

.noUi-horizontal {
	margin: 20px 0px!important;
	height: 6px!important;
}


#filter span.range {
	position: absolute;
	right: 15px;
}


#filter .noUi-horizontal .noUi-handle {
	width: 20px;
	height: 20px;
	left: -10px;
	top: -7px;
	border-radius: 50%;
	background: #f9f9f9;
}

#filter .noUi-handle:before, #filter .noUi-handle:after {
	display: none;
}

#filter .noUi-origin {
	background: #f9f9f9;


}

#filter .one-slider .noUi-background {
	background-color: #008CBA;
}

#filter .noUi-target {
	border: none;
	box-shadow: none;
}

.noUi-connect {

}

#filter .two-slider div.noUi-base>div.noUi-origin:first-of-type {
	background-color: #008CBA;
}



#filter ul.simple {
	display: block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}

#filter ul.simple li {
	display: block;
	font-size: 0.9rem;
	color: #FFF;
	line-height: 1;
	font-size: 0.9rem;
	padding-left: 20px;
	text-indent: 0px;
	margin-bottom: 10px;
}

#filter ul.simple li span {
	position: absolute;
	left: 0px;

}

#filter ul.simple li span .fa {
	color: #FFF;
}
#filter .keywords {
	position: relative;
}

#filter .search-wrapper input {
	font-size: 1.2rem;
}

#filter .search-wrapper {
	margin-top: 5px;
}


input.displayNone {
	display: none!important;
}


.highlight {
	font-weight: bolder!important;
}



ul.errorlist {
	display: block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-position: inside;
}

ul.errorlist li {
	display: block;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
	margin-bottom: 5px;
}

.inbox-header {
	background-color: #f6f6f6!important;
	padding: 0.8rem;
}

.search-wrapper-inbox {
	position: relative;
}


.search-wrapper-inbox a {
	position: absolute;
	top: 7px;
	right: 8px;
	z-index: 1000!important;
	color: #333;
}


.search-wrapper-inbox input {
	padding-right: 30px;
	font-size: 1rem;
	height: 2.5rem;
	margin: 0;
}


.inbox-content {
	padding: 0.8rem;
}


.inbox-content .profile-pic {
	border-radius: 50%;
	width: 60px!important;
	height: 60px!important;
	margin: 0px;
	vertical-align: middle;

}


.inbox-content .message-container {
	position: relative;
	padding-left: 70px;
}

.inbox-content .message-header {
	position: relative;
	height: 30px;
}

.inbox-content .message-header span.message-from {
	position: absolute;
	left: 0px;
	font-size: 1rem;
	color: #222;
	font-weight: 400;
}

.inbox-content .message-header span.message-date {
	right: 0px;
	position: absolute;
	color: #999;
	font-size: 0.7rem;
}

.inbox-content .message-body {
	font-size: 0.8rem;
	color: #777;
	font-weight: 300;
}


.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

a.list-group-item.read {
	color: #222;
	background-color: #F3F3F3;
}
a.list-group-item {
	color: #222;
	display: block;
	padding: 1rem;
	height: 100%;
	position: relative;
	border-bottom: 1px solid #ddd;
}
a.list-group-item:hover {
	text-decoration: none;
}

a.list-group-item:hover .message-body, a.list-group-item:hover .message-from{
	color:  #008CBA!important;
}

.message-picture {
	margin-right: 5px;
	width: 80px;
	position: absolute;
	left: 0px;
}




.menu-header {
	background-color: #f6f6f6!important;
	padding: 0!important;
}

.menu-header a {
	color: #333;
}

.menu-header .small-block-grid-3 li {
	text-align: center;
	padding: 0.8rem!important;
	position: relative;
}

.menu-header .small-block-grid-3 li.active a, .menu-header .small-block-grid-3 li.active a:hover {
	color:  #008CBA!important;
}

.single-message-content {
	position: absolute;
	top: 30%;
	width: 100%;
}


.single-message-content h3 {
	text-align: center;
	font-weight: 400;
	font-size:1.1rem;

}

.single-message-date  {
	position: absolute;
	top: 60%;
	width: 100%;
}

.single-message-date p {
	text-align: center;
	font-weight: 300;
	color: #777;
	font-size:0.8rem;
}

.message-reply {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #f6f6f6 !important;
	padding: 0.8rem;
}

.message-reply input {
	width: 80%;
	position:relative;
	margin-right: 5px;
	display:block;
	float:left;
	margin: 0px;
}

.message-reply a {
	text-align: center;
	display: block;
	color: #333;
	vertical-align: middle;
	padding: 0.8rem;
	float: left;
	font-size: 1rem;
	width: 20%;
}

.message-reply a:hover {
	color: #008CBA!important;
	text-decoration: none;
}

.message-reply-wrapper {
	position: relative;
	width: 100%;
	vertical-align: middle;
}

section.new_message {
	padding-top: 0.8rem;
}


/* */

/* Bit of normalisation */

body {
	background-color: #eee;
	color: #222;
	font: 0.8125em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.container {
	padding: 40px 20px;
	margin: 0 auto;
	width: 400px;
}

/* conversation */

.bubbledLeft p,.bubbledRight p {
	font-size: 0.8rem;
	font-weight: 400;
}

.bubbledLeft,.bubbledRight {
	margin-top: 10px;
	padding: 0.8rem;
	width: 96%;
	clear: both;
	position: relative;
}

.bubbledLeft{
	float: left;
	margin-right: auto;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
	-ms-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #DCDCDC;
	color: #000;
}

.bubbledLeft:before {
	border-bottom: 10px solid #DCDCDC;
	border-left: 8px solid rgba(0, 0, 0, 0);
	position: absolute;
	bottom: 8px;
	left: -8px;
	content: "";
}

.bubbledRight{
	float: right;
	margin-left: auto;
	text-align: left;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
	-ms-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
    // background-color: #07D;
    background-color: #65B045;
    color: white;
}

.bubbledRight:before {
	border-bottom: 9px solid #65B045;
	border-right: 9px solid rgba(0, 0, 0, 0);
	position: absolute;
	bottom: 8px;
	right: -8px;
	content: "";
}

.conversation-content h6 {
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #999;

}

.conversation-date .row {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

span.conversation-time {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 0.7rem;
}

.conversation-content p {
	line-height: 1rem;
}

.conversation-content {
	overflow-y: scroll;
	position: absolute;
	top: 100px;
	width: 100%;
	bottom: 100px;
}