<header class="mob-header">
  <div class="layout layout--flush layout--middle">
    <div class="layout__item 1/5">
      <a prs-open-left-menu class="mob-header__left-push">
        <svg role="img" class="icon icon--small">
          <use xlink:href="/static/assets/icons/icons.svg#icon-hamburger"></use>
        </svg>
      </a>
    </div>
    <div (click)="clickHeader()" class="layout__item 3/5 text-center">
      <a class="js-mob-header__profile-drop2-trigg mob-header__title mob-header__title--as-drop-triger"><span>{{eventsTypeLabel}}</span>
        <svg role="img" class="icon icon--extratiny">
          <use xlink:href="/static/assets/icons/icons.svg#icon-down-small"></use>
        </svg>
      </a>
      <ul class="mob-header__drop mob-header__drop--center js-mob-header__drop2"
          [hidden]="!isEventsTypeDropdownVisible">
        <li (click)="clickEventsTypeDropdownElement('all', $event)" data-val="All events"
            [ngClass]="{'is-current' : eventsType === 'all'}">All events
          <svg role="img" class="icon icon--extratiny">
            <use xlink:href="/static/assets/icons/icons.svg#icon-checker"></use>
          </svg>
        </li>
        <li (click)="clickEventsTypeDropdownElement('my', $event)" data-val="My events"
            [ngClass]="{'is-current' : eventsType === 'my'}">My events
          <svg role="img" class="icon icon--extratiny">
            <use xlink:href="/static/assets/icons/icons.svg#icon-checker"></use>
          </svg>
        </li>
        <li (click)="clickEventsTypeDropdownElement('connections', $event)" data-val="My network"
            [ngClass]="{'is-current' : eventsType === 'connections'}">My network
          <svg role="img" class="icon icon--extratiny">
            <use xlink:href="/static/assets/icons/icons.svg#icon-checker"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="layout__item 1/5 text-right">
    </div>
  </div>
</header>
<div class="content pb++" *ngIf="!(isLoadingInitial$ | async)">
  <ul class="list-bare js-tabs profile-tabs__tabs profile-tabs__tabs--iconed">
    <li class="is-active">
      <svg role="img" class="icon ">
        <use xlink:href="/static/assets/icons/icons.svg#icon-switch-cards"></use>
      </svg>
    </li>
    <li>
      <svg role="img" class="icon ">
        <use xlink:href="/static/assets/icons/icons.svg#icon-switch-calendar"></use>
      </svg>
    </li>
    <li>
      <svg role="img" class="icon ">
        <use xlink:href="/static/assets/icons/icons.svg#icon-switch-map"></use>
      </svg>
    </li>
  </ul>
  <div class="events-list-container" prs-infinite-scroll (scrolled)="loadMoreEvents($event)" [scrollEnabled]="!isLoaded"
       [bottomOffset]="60">
    <prs-mobile-event-summary (onOpenEvent)="openEvent(event)" [event]="event" [username]="usernameFromCookie"
                              [userId]="userIdFromCookie"
                              *ngFor="let event of events$ | async"></prs-mobile-event-summary>
  </div>
</div>
<prs-loading [status]="isLoading$ | async"></prs-loading>
<prs-mobile-events-not-found *ngIf="!!(notFound$ | async)"></prs-mobile-events-not-found>
