<div class="user-profile">
  <div class="user-profile__avatar">
    <div class="avatar-holder js-image-liquid" [style.background-image]="'url(' + image + ')'">
    </div>
  </div>
  <div class="user-profile__arrow" dropdown="#profileDropdown">
    <svg role="img" class="icon">
      <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-arrow_down"></use>
    </svg>
  </div>
  <div class="dropdown-basic" id="profileDropdown">
    <ul class="list-bare">
      <li><a href="#">My profile</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="/accounts/logout">Logout</a></li>
    </ul>
  </div>
</div>
