test_reports/*.xml
elastic/
media/
.DS_Store
venv
staticfiles
socketio/node_modules/
.swp
# images
*.jpg
# ignore idea files
*.idea
# Redis
dump.rdb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
# Translations
*.mo
*.pot
# Django stuff:
*.log
# Sphinx documentation
docs/_build/
.vagrant
*.box
bekindred/static/persiceApp/typescriptlint.json