Django==1.6.5
Pillow==2.4.0
South==0.8.4
Unidecode==0.04.16
dj-database-url==0.3.0
dj-static==0.0.5
django-facebook==6.0.0
django-messages==0.5.1
django-postman==3.1.0
django-toolbelt==0.0.1
djorm-ext-pgfulltext==0.10
geopy==1.0.1
gnureadline==6.3.3
gunicorn==18.0
ipython==2.1.0
psycopg2==2.5.3
pystache==0.5.4
static==1.0.2
wsgiref==0.1.2
