<div [ngClass]="{'is-hidden': isFilterVisible || profileViewActive}"
  prs-infinite-scroll (scrolled)="handleScrollEvent($event)"
  [scrollEnabled]="!isFilterVisible && !profileViewActive"
  [bottomOffset]="60">
  <prs-mobile-user-card (onProfileTap)="setSelectedUser($event)" [person]="person"
    *ngFor="#person of items"></prs-mobile-user-card>
  <prs-loading [status]="loading"></prs-loading>
</div>
<prs-mobile-filter [ngClass]="{'is-hidden': !isFilterVisible}" [type]="'crowd'"></prs-mobile-filter>
<prs-user-profile *ngIf="profileViewActive" [user]="selectedUser"
  (onCloseProfile)="closeProfile($event)">
</prs-user-profile>
