<!-- matchfeedFilter.directive.html -->
<div id="FilterController" class="{{filter.class}}" ng-cloak>
    <h4 class="ui header" ng-show="filter.class === 'desktopview'">FILTERS</h4>
    <div class="ui fitted divider" ng-show="filter.class === 'desktopview'"></div>
    <div id="{{filter.id}}" class="ui form">
        <form name="filterForm" id="filterForm">
            <div class="field">
                <label class="">Order By</label>
            </div>
            <div class="field">
                <select class="persiceselect" ng-change="filter.hasChanges()" ng-options="item.value as item.name for item in filter.orderByValues" ng-model="filter.orderBy"></select>
            </div>

            <div class="ui divider"></div>
            <a href="" class="button ui submit green" ng-class="{'disabled': !filter.changed}" ng-click="filter.refreshConnections()" role="button">Update</a>
    </div>
</div>
