<div id="eventsfeed-list-body" class="basic ui segment" ng-class="{'loading': eventsfeed.loading}" when-scroll-ends="eventsfeed.loadMoreEvents()">
    <div class="ui basic segment notice" ng-if="eventsfeed.noEvents">
        <div class="ui info message">
            <p>You don't have any events.</p>
        </div>
    </div>
    <div class="eventgroup repeat-animation" ng-repeat="event in eventsfeed.events track by $index">
        <div class="eventdate">{{event.date}}</div>
        <a class="ui fluid card" ng-click="eventsfeed.gotoEvent(event.id)" class="item">
            <img class="image" err-src="/static/img/placeholder-image.jpg" ng-src="{{event.event_photo}}">
           <div class="content">
                <div class="header">{{event.name}}</div>
                <div class="meta">
                    <span ng-if="event.location_name.trim() !== event.city.trim()">{{event.location_name}}</span>
                    <span>
                        <br ng-if="event.location_name.trim() !== event.city.trim() && event.location_name !== null && event.location_name.trim() !== '' && event.location_name.trim() !== event.street.trim()">
                        <span ng-if="event.street !== null && event.street.trim() !== '' && event.location_name.trim() !== event.street.trim()">{{event.street}}<br></span>
                    <span ng-if="event.city !== null && event.city.trim() !== ''">{{event.city}} {{event.zipcode}} {{event.state}}</span>
                    </span>
                    <div class="description">
                        <div class="ui mini statistics">
                            <div class="statistic" data-tooltip="Match Score">
                                <div class="value">
                                    <i class="intersecticon icon"></i>
                                </div>
                                <div class="label">
                                    {{event.cumulative_match_score}}
                                </div>
                            </div>
                            <div class="statistic" data-tooltip="Total Friends">
                                <div class="value">
                                    <i class="empty user usericon icon"></i>
                                </div>
                                <div class="label">
                                    {{event.friend_attendees_count}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content distance">
                    {{event.distance[0]}} {{event.distance[1]}} away
                </div>
        </a>
        </div>
        <three-bounce-spinner class="page-spinner-bar" ng-show="eventsfeed.loadingMore"></three-bounce-spinner>
    </div>
