<div *ngIf="!!notFound">
  <p>Event not found</p>
</div>
<div class="event-hero" *ngIf="isLoaded">
  <div class="event-hero__content">
    <h1 class="event-hero__title">{{event.name}}</h1>
    <h4 class="event-hero__hosted">Hosted by {{event.hostedBy}} <span class="event-hero__hosted__view">({{event.accessLevel}})</span>
    </h4>
    <p class="event-hero__about js-more">
      <prs-mobile-profile-about-me [about]="event.description"></prs-mobile-profile-about-me>
    </p>
  </div>
  <div class="event-hero-fake-bg-overlay"></div>
  <img [src]="event.image" alt="event image" class="event-hero-fake-bg">
</div>
<div class="mob-event-details profile-box" *ngIf="isLoaded">
  <div class="mob-event-details__item">
    <div class="flag flag--flush">
      <div class="flag__img">
        <svg role="img" class="icon ">
          <use xlink:href="/static/assets/icons/icons.svg#icon-time-event"></use>
        </svg>
      </div>
      <div class="flag__body">
        <h5 class="mob-event-details__item__title">{{event.startDate.dayName}}, {{event.startDate.month}}
          {{event.startDate.day}}</h5>
        <p class="mob-event-details__item__value">{{event.startDate.hour}} &ndash; {{event.endDate.hour}} / {{event.timezone}}
        </p>
      </div>
    </div>
  </div>
  <div class="mob-event-details__item">
    <div class="flag flag--flush">
      <div class="flag__img">
        <svg role="img" class="icon ">
          <use xlink:href="/static/assets/icons/icons.svg#icon-location"></use>
        </svg>
      </div>
      <div class="flag__body">
        <h5 class="mob-event-details__item__title">{{event.locationName}}</h5>
        <p class="mob-event-details__item__value">{{event.fullAddress}}</p>
      </div>
    </div>
  </div>
  <div class="mob-event-details__item">
    <div class="flag flag--flush">
      <div class="flag__img">
        <svg role="img" class="icon ">
          <use xlink:href="/static/assets/icons/icons.svg#icon-similarity-event"></use>
        </svg>
      </div>
      <div class="flag__body">
        <h5 class="mob-event-details__item__title">{{event.similarity}}&deg;</h5>
        <p class="mob-event-details__item__value">Total similarity accross all attendees</p>
      </div>
    </div>
  </div>
  <div class="mob-event-details__item">
    <div class="flag flag--flush">
      <div class="flag__img">
        <svg role="img" class="icon ">
          <use xlink:href="/static/assets/icons/icons.svg#icon-attendees-event"></use>
        </svg>
      </div>
      <div class="flag__body">
        <h5 class="mob-event-details__item__title">{{event.attendeesGoing.length}} people attending</h5>
        <p class="mob-event-details__item__value">{{event.spotsRemaining}} spot(s) available</p>
      </div>
    </div>
  </div>
</div>
<div class="profile-connections profile-connections--bottom-fitted profile-connections--blankslate profile-box" *ngIf="isLoaded" (click)="viewAttendees()">
  <svg role="img" class="icon profile-connections--blankslate__icon" *ngIf="event.maxAttendees === event.spotsRemaining">
    <use xlink:href="/static/assets/icons/icons.svg#icon-user"></use>
  </svg>
  <p class="profile-connections--blankslate__text" *ngIf="event.maxAttendees === event.spotsRemaining">No one has been invited yet</p>
  <div class="has-user-links" *ngIf="event.maxAttendees !== event.spotsRemaining">
    <div class="layout layout--small">
      <div class="layout__item 1/5" *ngFor="let item of event.attendeesPreview">
        <div class="user-link">
          <div class="avatar-place">
            <div class="avatar avatar--small cover-background" checkimage="{{item.image}}" [suffix]="'.56x56_q100_crop.jpg'"></div>
          </div>
          <span class="user-link__username">{{item.first_name}}</span>
        </div>
      </div>
    </div>
  </div>
  <a class="profile-connections__icon-specpos">
    <svg role="img" class="icon ">
      <use xlink:href="/static/assets/icons/icons.svg#icon-arrow_swipe_right"></use>
    </svg>
  </a>
</div>
<div class="mob-event-invited-people profile-box" *ngIf="isLoaded">
  <div class="mob-event-invited-people__listed"></div>
  <div class="mob-event-invited-people__details">
    <div class="layout layout--flush">
      <div class="layout__item 1/5 mob-event-invited-people__details__value-label">
        <div class="mob-event-invited-people__details__value">{{event.attendeesGoing.length}}</div>
        <div class="mob-event-invited-people__details__label">going</div>
      </div>
      <div class="layout__item 1/5 mob-event-invited-people__details__value-label">
        <div class="mob-event-invited-people__details__value">{{event.attendeesMaybe.length}}</div>
        <div class="mob-event-invited-people__details__label">maybe</div>
      </div>
      <div class="layout__item 1/5 mob-event-invited-people__details__value-label">
        <div class="mob-event-invited-people__details__value">{{event.attendeesNotGoing.length}}</div>
        <div class="mob-event-invited-people__details__label">invited</div>
      </div>
      <div class="layout__item 2/5"><a class="btn btn--stretch">Invite people</a></div>
    </div>
  </div>
</div>
<prs-loading [status]="isLoading"></prs-loading>
