<span class="profile-titleline">Connections
      <span class="profile-titleline__value">({{connectionsCount}})</span> <span class="profile-titleline__subvalue"></span>
</span>
<div class="has-user-links">
  <div class="layout layout--small">
    <div class="layout__item 1/5" *ngFor="let item of connections">
      <a class="user-link" *ngIf="item.type === 'persice'">
        <div class="avatar avatar--small" checkimage="{{item.image}}" [suffix]="'.56x56_q100_crop.jpg'"></div>
        <span class="user-link__username">{{item.first_name}}</span>
      </a>
      <a class="user-link" *ngIf="item.type === 'facebook'">
        <div class="avatar avatar--small" [ngStyle]="{'background-image': 'url(' + '//graph.facebook.com/' + item.facebook_id + '/picture?type=square' + ')'}"></div>
        <span class="user-link__username">{{item.first_name}}</span>
      </a>
      <a class="user-link" *ngIf="item.type === 'linkedin'">
        <div class="avatar avatar--small" [ngStyle]="{'background-image': 'url(' + item.pictureUrls.values[0] + ')'}"></div>
        <span class="user-link__username">{{item.firstName}}</span>
      </a>
      <a class="user-link" *ngIf="item.type === 'twitter'">
        <div class="avatar avatar--small" [ngStyle]="{'background-image': 'url(' + item.profile_image_url + ')'}"></div>
        <span class="user-link__username">{{item.name}}</span>
      </a>
    </div>
    <div class="layout__item 1/5 text-center">
      <a *ngIf="connectionsCount > 0">
        <svg role="img" class="icon ">
          <use xlink:href="/static/assets/icons/icons.svg#icon-arrow_swipe_right"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
