<!-- matchfeedFilter.directive.html -->
<div id="FilterController" class="{{filter.class}}" ng-cloak>
    <h4 class="ui header" ng-show="filter.class === 'desktopview'">FILTERS</h4>
    <div class="ui fitted divider" ng-show="filter.class === 'desktopview'"></div>
    <div id="{{filter.id}}" class="ui form">
        <form name="filterForm" id="filterForm">
            <div class="field">
                <label>Distance <span class="range">{{filter.distanceValue}} {{filter.distanceUnit}}</span></label>
                <rzslider rz-slider-hide-limit-labels="false" rz-slider-model="filter.distanceValue" rz-slider-floor="1" rz-slider-ceil="10000"></rzslider>
            </div>

            <div class="field keywords-label">
                <label class="">Keywords</label>
            </div>
            <div class="field" ng-show="filter.showFilterMessage">
                <label>
                    <div class="ui small negative message">
                        <p>
                            {{filter.filtermessage}}
                        </p>
                    </div>
                </label>
            </div>
            <div class="field">
                <div class="ui icon input" id="keywordsSearch">
                    <input ng-minlength=3 type="text" placeholder="Enter keyword" ng-enter="filter.addKeyword(filter.newKeyword)" ng-model="filter.newKeyword">
                    <i class="circular plus icon" ng-click="filter.addKeyword(filter.newKeyword)"></i>
                </div>
            </div>
            <a ng-click="filter.removeKeyword($index)" href="" class="item" ng-repeat="keyword in filter.myKeywords track by $index">
                <div class="content">
                    <div class="header"><i class="circle remove icon"></i> {{keyword}}</div>
                </div>
            </a>
            <div class="ui divider"></div>
            <a href="" class="button ui submit green" ng-class="{'disabled': !filter.changed}" ng-click="filter.refreshEventsFeed()" role="button">Update</a>
    </div>
</div>
