<!doctype html>
<html class="no-js" ng-app="beKindred" ng-controller="AppCtrl">
<head>
  <meta charset="utf-8">
  <title>Kindred</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- Favicons -->
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-precomposed.png">

  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/spinkit/css/spinkit.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/nouislider/jquery.nouislider.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/angucomplete-alt/angucomplete-alt.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-spinkit/src/angular-spinkit.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/semantic/dist/semantic.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-carousel/dist/angular-carousel.css" />


  <link rel="stylesheet" href="{{ STATIC_URL }}beKindredFrontend/.tmp/app/index.css">

  <script src="{{ STATIC_URL }}js/modernizr.js"></script>

</head>
<body id="main-page" class="gray">

  {%verbatim%}
      <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->


      <div class="ui top horizontal large sidebar" id="MatchMenu">
        <div class="ui fluid six item menu">
          <a class="item" ng-click="goBack()">
            <i class="chevron left icon"></i>
          </a>
          <span class="item"></span>
          <a ng-click="cancelMatch()" class="item clearbefore">
            <i class="remove icon"></i>
          </a>
          <a ng-click="confirmMatch()" class="item clearbefore">
            <i class="check icon"></i>
          </a>
          <span class="item"></span>
          <span class="item"></span>
        </div>
      </div>

      <div class="ui vertical left inverted labeled sidebar menu" id="menu" ng-controller="LeftSidebarCtrl">
        <a ui-sref="home" ui-sref-active="active" class="item">Home <i class="home icon"></i></a>
        <a ui-sref="inbox" ui-sref-active="active" class="item">Inbox <i class="envelope icon"></i></a>
        <a ui-sref="matchfeed" ui-sref-active="active" class="item">Match Feed <i class="check icon"></i></a>
        <a ui-sref="myprofile" ui-sref-active="active" class="item">My Profile <i class="user icon"></i> </a>
        <a ui-sref="myconnections" ui-sref-active="active" class="item">My Connections <i class="plus icon"></i></a>
        <a ui-sref-ignore href="accounts/logout" class="item"><i class="fa fa-sign-out icon"></i> Sign out</a>
        <div class="item" id="side-menu-logo">
          <ul class="social-icon" id="intro-title">
            <li><a href="" class="facebook"><i class="fa fa-slideshare"></i></a></li>
            <li><h1>Kindred</h1></li>
          </ul>
        </div>
      </div>

      <div class="ui vertical right inverted labeled sidebar menu" id="menu" ng-show="isState('matchfeed')">
        <div id="FilterController" ng-controller="FilterController">
          <div id="filter" class="ui form">
            <form name="filterForm" id="filterForm" ng-submit="" class="form" method="get" action="">
              <div class="field">
                <label>Distance <span class="range">{{distanceValue}} mi.</span></label>
                <div no-ui-slider="distanceOptions" ng-model="distanceValue" ng-change="saveFilters()"></div>
                <input type="text" class="displayNone" ng-model="distanceValue" name="distance">
              </div>
              <div class="field">
                <label>Age <span class="range">{{ageValues[0]}} &ndash; {{ageValues[1]}}</span></label>
                <div no-ui-slider="ageOptions" ng-model="ageValues" ng-change="saveFilters()"></div>
                <input type="text" class="displayNone" ng-model="ageValues[0]" name="min_age">
                <input type="text" class="displayNone" ng-model="ageValues[1]" name="max_age">
              </div>
              <div class="field">
                <label class="">Show</label>
              </div>
              <div class="field field-checkbox">
                <div id="male" class="ui toggle checkbox">
                  <input type="checkbox" value="m">
                  <label>Men</label>
                </div>
              </div>
              <div class="field field-checkbox">
                <div id="female" class="ui toggle checkbox">
                  <input type="checkbox" value="f">
                  <label>Women</label>
                </div>
              </div>
              <div class="field">
                <input class="displayNone" value="{{myKeywords}}" type="text" name="keywords">
              </div>
              <div class="field">
                <input class="displayNone" id="genders" value="" type="text" name="gender">
                <input class="displayNone" ng-model="genders" ng-change="saveFilters()" id="gendersModel" value="" type="text">
              </div>
              <div class="ui small negative message" ng-show="showMessage">
                <div class="header">
                  Keyword already exists.
                </div>
              </div>
              <div class="ui icon input">
                <input ng-minlength=3 type="text" placeholder="Enter keyword" on-enter-blur ng-enter="filterForm.$valid && addKeyword(newKeyword)" ng-model="newKeyword">
                <i class="circular search icon"></i>
              </div>
              <div class="">
                <a ng-click="removeKeyword(index)" href="" class="item" ng-repeat="keyword in myKeywords track by $index">
                  <div class="content">
                    <div class="header"><i class="circle remove icon"></i> {{keyword}}</div>
                  </div>
                </a>
              </div>
              <div class="ui divider"></div>
              <button type="submit" class="button ui submit green" role="button">Filter</button>
            </div>
          </div>
        </div>


        <div class="ui inverted top fixed menu" ng-controller="TopNavbarCtrl" ng-class="{'hidden': hideTopMenu}">
          <div class="container">
            <a id="leftsidebarlaunch" class="launch item"><i class="content icon"></i></a>
            <div class="title item">
              <b>Kindred</b>
            </div>
            <div class="right menu" id="main-menu-right">
              <a ui-sref="home" ui-sref-active="active" class="item"><i class="icon home"></i> Home</a>
              <a ui-sref="inbox" ui-sref-active="active" class="item"><i class="icon envelope"></i> Inbox</a>
              <a ui-sref="matchfeed" ui-sref-active="active" class="item"><i class="icon check"></i> Match Feed</a>
              <a ui-sref="myprofile" ui-sref-active="active" class="item"><i class="icon user"></i> My Profile</a>
              <a ui-sref="myconnections" ui-sref-active="active" class="item"><i class="icon plus"></i> My Connections</a>
              <div class="item">
                <a ui-sref-ignore href="accounts/logout" class="ui blue button">Sign out <i class="fa fa-sign-out"></i></a>
              </div>
            </div>

            <div class="right menu" id="right-menu-launcher" ng-show="!showfullprofile && isState('matchfeed')">
              <a class="launch item"><i class="fa fa-sliders icon"></i></a>
            </div>

          </div>
        </div>

        <div class="pusher">
          <div class="full-height gsapify-router" ui-view autoscroll="false">
            <three-bounce-spinner class="page-spinner-bar"></three-bounce-spinner>
          </div>
        </div>

        {%endverbatim%}

        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/jquery/dist/jquery.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular/angular.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-animate/angular-animate.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-touch/angular-touch.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-resource/angular-resource.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/nouislider/jquery.nouislider.min.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/nouislider-angular/nouislider.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angucomplete-alt/angucomplete-alt.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/moment/moment.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-moment/angular-moment.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/underscore/underscore.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/ngDraggable/ngDraggable.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-underscore-module/angular-underscore-module.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-spinkit/src/angular-spinkit.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/semantic/dist/semantic.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-gsapify-router/angular-gsapify-router.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-truncate/src/truncate.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-filter/dist/angular-filter.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/bower_components/angular-carousel/dist/angular-carousel.js"></script>


        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/index.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/services.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/app.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/main/main.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/goalcreate/goalcreate.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/offercreate/offercreate.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/inbox/inbox.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/matchfeed/matchfeed.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/matchfeed/matchfeed.factory.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/myprofile/myprofile.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/friendprofile/friendprofile.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/editmyprofile/editmyprofile.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/app/myconnections/myconnections.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/components/leftsidebar/leftsidebar.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/components/topnavbar/topnavbar.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/components/dimmer/dimmer.directive.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/components/rightsidebarfilter/filter.controller.js"></script>
        <script src="{{ STATIC_URL }}beKindredFrontend/src/components/rightsidebarfilter/filter.factory.js"></script>



        <script>
          'use strict';
          $('.left.sidebar').first()
          .sidebar('attach events', '#leftsidebarlaunch')
          ;
          $('#leftsidebarlaunch')
          .removeClass('disabled')
          ;

          $('.top.horizontal.sidebar').first()
          .sidebar('setting', {
            dimPage             : false,
            closable            : false,
            transition          : 'overlay',
            mobileTransition    : 'overlay'}
            )
          ;

          $('.right.sidebar').first()
          .sidebar('attach events', '#right-menu-launcher')
          .sidebar('setting', 'duration', 0)
          ;
          $('#right-menu-launcher')
          .removeClass('disabled')
          ;


          $('.ui.checkbox')
          .checkbox({
            // onChecked: function () {
            //   var mergedInput = $('#genders');
            //   var modelInput = $('#gendersModel');
            //   var arr = [];
            //   $("#filterForm input:checkbox:checked").each(function(){
            //     arr.push($(this).val());
            //   });
            //   mergedInput.val(JSON.stringify(arr));
            //   modelInput.val(arr.join());
            //   modelInput.trigger('input');
            // },
            // onUnchecked: function () {
            //   var mergedInput = $('#genders');
            //   var modelInput = $('#gendersModel');
            //   var arr = [];
            //   $("#filterForm input:checkbox:checked").each(function(){
            //     arr.push($(this).val());
            //   });
            //   mergedInput.val(JSON.stringify(arr));
            //   modelInput.val(arr.join());
            //   modelInput.trigger('input');
            // }
          });
        </script>

        <script>
          angular.module('beKindred').constant('USER_ID', {{ user.id }});
          angular.module('beKindred').constant('USER_FIRSTNAME', '{{ user.first_name }}');
          angular.module('beKindred').constant('USER_TWITTER',  {% if twitter_provider %} '{{ twitter_provider.screen_name }}' {% else %} '' {% endif %} );
          angular.module('beKindred').constant('USER_LINKEDIN_NAME',  {% if linkedin_provider %} '{{ linkedin_provider.first_name }} {{ linkedin_provider.last_name }}' {% else %} '' {% endif %} );
          angular.module('beKindred').constant('USER_LINKEDIN_URL',  {% if linkedin_provider %} '{{ linkedin_provider.public_profile_url }}' {% else %} '' {% endif %} );
          angular.module('beKindred').constant('USER_LASTNAME', '{{ user.last_name }}');
          angular.module('beKindred').constant('FB_TOKEN', '{{ user.access_token }}');
          angular.module('beKindred').constant('USER_PHOTO', 'http://graph.facebook.com/' + {{ user.facebook_id }} + '/picture?type=large');
        </script>

      </body>
      </html>