<!doctype html>
<html class="no-js" ng-app="beKindred" ng-controller="AppCtrl">
<head>
  <meta charset="utf-8">
  <title update-title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="">
  <meta name="author" content="">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,300,600,700' rel='stylesheet' type='text/css'>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- Favicons -->
  <link rel="icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/img/favicon/apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/img/favicon/apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/img/favicon/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="static/img/favicon/apple-touch-icon-precomposed.png">

  <link href="/static/beKindredFrontend/dist/styles/vendor.css" rel="stylesheet" media="screen">
  <link href="/static/beKindredFrontend/dist/styles/app.css" rel="stylesheet" media="screen">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>

</head>
<body id="main-page" ng-class="{'conversationspage': isState('conversations') || isState('selectinterests') || isState('myconnections') || isState('inbox'), 'lowersidemenus' : isState('conversations') || isState('friendprofile')}">
  {%verbatim%}
      <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->


      <div class="ui top horizontal sidebar" id="MatchMenu">
        <div class="ui fluid six item menu">
          <a class="item" ng-click="goBack()">
            <i class="chevron left icon"></i>
          </a>
          <span class="item"></span>
          <a ng-click="cancelMatch()" class="item clearbefore">
            <i class="remove icon"></i>
          </a>
          <a ng-click="confirmMatch()" class="item clearbefore">
            <i class="check icon"></i>
          </a>
          <span class="item"></span>
          <span class="item"></span>
        </div>
      </div>

      <div class="ui vertical left inverted labeled icon sidebar menu" id="leftmenu">
        <a ui-sref="home" ui-sref-active="active" class="item"> <i class="fa fa-home icon"></i> <span class="content">Home</span></a>
        <a ui-sref="inbox" ui-sref-active="active" class="item"><i class="fa fa-comment-o icon"></i> <span class="content">Messages</span>  <div class="ui label" messages-counter></div></a>
        <a ui-sref="matchfeed" ui-sref-active="active" class="item"><i class="intersecticon-white-big icon"></i> <span class="content">Match Feed</span></a>
        <a ui-sref="myprofile" ui-sref-active="active" class="item"><i class="fa fa-user icon"></i> <span class="content">Profile</span> </a>
        <a ui-sref="myconnections" ui-sref-active="active" class="item"><i class="fa fa-check-circle-o icon"></i> <span class="content">Connections</span> <div class="ui label">0</div></a>
        <a ui-sref="settings" ui-sref-active="active" class="item"> <i class="fa fa-cog icon"></i> <span class="content">Settings</span></a>
        <div class="ui divided horizontal list" id="links_sidemenu_bottom">
          <a href="/static/files/Icebrak_Privacy_Policy.pdf" target="_new" class="item">Privacy Policy</a>
        </div>
        <div class="item" id="side-menu-logo">
          <ul class="social-icon" id="intro-title">
            <li><h2>Icebr&#257;k</h2></li>
          </ul>
        </div>
      </div>




      <div class="ui vertical right inverted labeled sidebar menu" id="filtersMenu" ng-show="isState('matchfeed')">
        <matchfeed-filter id="filter"></matchfeed-filter>
      </div>


      <div class="ui inverted top fixed menu" ng-class="{'hidden': hideTopMenu}" ng-hide="isState('conversations') || isState('editmyprofile') || isState('friendprofile') || isState('selectinterests') || isState('goalcreate') || isState('offercreate') || isState('finalstep')">
        <div class="container" ng-cloak>
          <a id="leftsidebarlaunch" class="launch item"><i class="content icon"></i></a>
          <div class="title item mobileview">
            <strong update-title></strong>
          </div>
          <a ui-sref="home" class="title item desktopview">
            <strong>Icebr&#257;k</strong>
          </a>
          <div class="ui mini action input inverted desktopview searchbox displaynone">
            <input type="text" placeholder="Search">
            <button class="ui mini icon button">
              <i class="angle right black double icon"></i>
            </button>
          </div>
          <div class="ui pointing labeled dropdown item desktopview displaynone" id="browse">
            Browse
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">Item 1</a>
              <a class="item">Item 2</a>
              <a class="item">Item 3</a>
            </div>
          </div>

          <div class="right menu desktopview" id="main-menu-right">
            <a ui-sref="myprofile" ui-sref-active="active" class="item" id="profileimage">
              <img ng-src="{{userImg}}" class="ui mini image">
              {{userName}}
            </a>
            <a href="" class="item displaynone"> <span class="content">Help</span></a>

          </div>

          <div class="right menu" id="right-menu-launcher" ng-show="!showfullprofile && isState('matchfeed')">
            <a class="launch item"><i class="fa fa-sliders icon"></i></a>
          </div>

        </div>
      </div>



      <div class="pusher">
        <div class="full height">
         <div class="main container">

          <div class="ui attached internal desktopview left rail">
            <div class="ui vertical menu" ng-cloak id="left-menu">
              <a ui-sref="inbox" ui-sref-active="active" class="item">Messages <div class="ui label" messages-counter></div> <i class="icon inverted chevron right"></i></a>
              <a ui-sref="matchfeed" ui-sref-active="active" class="item"> Match Feed <i class="icon inverted chevron right"></i></a>
              <a ui-sref="bigmatchfeed" ui-sref-active="active" class="item"> Big Match Feed <i class="icon inverted chevron right"></i></a>
              <a ui-sref="myprofile" ui-sref-active="active" class="item">Profile <i class="icon inverted chevron right"></i></a>
              <a ui-sref="myconnections" ui-sref-active="active" class="item">Connections <div class="ui label">0</div><i class="icon inverted chevron right"></i></a>
              <a ui-sref="settings" ui-sref-active="active" class="item">Settings<i class="icon inverted chevron right"></i></a>
            </div>

            <div class="ui divided horizontal list" id="links_left_bottom">
              <a href="/static/files/Icebrak_Privacy_Policy.pdf" target="_new" class="item">Privacy Policy</a>
            </div>
          </div>

          <div class="ui desktopview attached internal right rail" id="matchfeed-filters-container" ng-show="isState('matchfeed')">
            <matchfeed-filter id="matchfeed-filters" class="desktopview"></matchfeed-filter>
          </div>


          <div id="main-content" class="gsapify-router" ui-view autoscroll="false">
            <three-bounce-spinner class="page-spinner-bar"></three-bounce-spinner>
          </div>

        </div>
      </div>
    </div>


    <!-- <script src="//test1.com:3000/socket.io/socket.io.js"></script> -->
    {%endverbatim%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js"></script>
    <script src="/static/beKindredFrontend/dist/scripts/vendor.js"></script>
    <script src="/static/beKindredFrontend/dist/scripts/app.js"></script>



    <script>
      'use strict';
      $('.dropdown')
      .dropdown({
      })
      ;

      $('.left.sidebar').first()
      .sidebar('attach events', '#leftsidebarlaunch')
      ;
      $('#leftsidebarlaunch')
      .removeClass('disabled')
      ;

      $('#MatchMenu')
      .sidebar('setting', 'dimPage', false)
      .sidebar('setting', 'closable', false)
      ;

      $('.right.sidebar').first()
      .sidebar('attach events', '#right-menu-launcher')
      .sidebar('setting', 'duration', 0)
      ;
      $('#right-menu-launcher')
      .removeClass('disabled')
      ;

    </script>

    <script>
      'use strict';

      angular.module('beKindred').constant('USER_ID', {{ user.id }});
      angular.module('beKindred').constant('USER_FIRSTNAME', '{{ user.first_name }}');
      angular.module('beKindred').constant('angularMomentConfig', (function() {
        var tz = jstz.determine();
        var localTimezone =  tz.name();
        return {
          timezone: localTimezone,
          preprocess: 'utc'
        }
      })());
      angular.module('beKindred').constant('USER_LASTNAME', '{{ user.last_name }}');
      angular.module('beKindred').constant('FB_TOKEN', '{{ user.access_token }}');
      angular.module('beKindred').constant('USER_PHOTO', '//graph.facebook.com/' + {{ user.facebook_id }} + '/picture?type=large');


    </script>

  </body>
  </html>