<!DOCTYPE html>
<!--[if IE 8]>    <html class=" no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class=" no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class=" no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>Persice</title>
  <!-- base url -->
  <base href="/">
  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//maps.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,600,400italic,300italic,600italic,800' rel='stylesheet' type='text/css'>
  <!-- dev mode -->
 <!--  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/screen.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/app.css" /> -->
  <!-- prod mode -->
  <link rel="stylesheet" href="/static/persiceApp/dist/assets/css/vendor.min.css" />
  <meta name="description" content="">
  <meta name="author" content="">
  <script>
  window.intercomSettings = {
    app_id: "d1rhvojk",
    name: "{{user.first_name}} {{user.last_name}}", // Full name
    email: "{{user.email}}", // Email address
    created_at: Math.floor({{user.date_joined | date:"U"}}) // Signup date as a Unix timestamp
  };
  </script>
  <script>
  (function() {
    var w = window;
    var ic = w.Intercom;
    if (typeof ic === "function") {
      ic('reattach_activator');
      ic('update', intercomSettings);
    } else {
      var d = document;
      var i = function() {
        i.c(arguments)
      };
      i.q = [];
      i.c = function(args) {
        i.q.push(args)
      };
      w.Intercom = i;

      function l() {
        var s = d.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://widget.intercom.io/widget/d1rhvojk';
        var x = d.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (w.attachEvent) {
        w.attachEvent('onload', l);
      } else {
        w.addEventListener('load', l, false);
      }
    }
  })()
  </script>
  <script type="text/javascript">
  window.heap = window.heap || [], heap.load = function(e, t) {
    window.heap.appid = e, window.heap.config = t = t || {};
    var n = t.forceSSL || "https:" === document.location.protocol,
      a = document.createElement("script");
    a.type = "text/javascript", a.async = !0, a.src = (n ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
    var o = document.getElementsByTagName("script")[0];
    o.parentNode.insertBefore(a, o);
    for (var r = function(e) {
        return function() {
          heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
        }
      }, p = ["clearEventProperties", "identify", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = r(p[c])
  };
  heap.load("2088770194");
  </script>
</head>

<body>
  <persice-app>
    <div id="loadingindicator">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </persice-app>
  <!-- Theme scripts -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places&language=en&key=AIzaSyDFhIBwi7u03g0LpqN7JOkcYsROYwT36Lk"></script>
  <!--  development only
  <script src="/static/persiceApp/src/assets/js/plugins.min.js"></script>
  <script src="http://localhost:8080/dist/polyfills.bundle.js"></script>
  <script src="http://localhost:8080/dist/main.bundle.js"></script>
  -->
  <!-- production only -->
  <script src="/static/persiceApp/dist/assets/js/plugins.min.js"></script>
  <script src="/static/persiceApp/dist/polyfills.3502fef4dd583ec87233.bundle.js"></script>
  <script src="/static/persiceApp/dist/main.3d80a208f2deed45d30b.bundle.js"></script>

  <script type="text/javascript">
  function createCookie(name, value, days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toGMTString();
    } else var expires = "";
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  createCookie('userid', '{{user.id}}', 1);
  createCookie('user_name', '{{user.first_name}}', 1);
  createCookie('user_image', '{{user.image}}', 1);
  createCookie('user_token', '{{user.access_token}}', 1);
  createCookie('user_username', '{{user.username}}', 1);

  function refreshConnect() {
    $('.connect-media').trigger('persice:refreshConnect');
  }
  </script>
</body>
