<!DOCTYPE html>
<!--[if IE 8]>    <html class=" no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class=" no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class=" no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>Persice</title>
  <!-- base url -->
  <base href="/">
  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//maps.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,600,400italic,300italic,600italic,800' rel='stylesheet' type='text/css'>
  <!--
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/ion.rangeSlider.skinNice.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/remodal.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/remodal-default-theme.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/classic.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/classic.date.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/classic.time.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/tokenfield-typeahead.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/jquery.tagit.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/tagit.ui-zendesk.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/screen.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/app/components/app.css" />
-->
  <link rel="stylesheet" href="/static/persiceApp/src/assets/css/vendor.min.css" />
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
  <persice-app>
    <div id="loadingindicator">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </persice-app>
  <!-- Theme scripts -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places&language=en&key=AIzaSyDFhIBwi7u03g0LpqN7JOkcYsROYwT36Lk"></script>
  <!-- development only
  <script src="/static/persiceApp/src/assets/lib/jquery-2.1.4.min.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jstz.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jquery.minimalect.js"></script>
  <script src="/static/persiceApp/src/assets/lib/circle-progress.js"></script>
  <script src="/static/persiceApp/src/assets/lib/svg4everybody.js"></script>
  <script src="/static/persiceApp/src/assets/lib/ion.rangeSlider.js"></script>
  <script src="/static/persiceApp/src/assets/lib/imgLiquid.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jquery.dotdotdot.js"></script>
  <script src="/static/persiceApp/src/assets/lib/slick.js"></script>
  <script src="/static/persiceApp/src/assets/lib/remodal.js"></script>
  <script src="/static/persiceApp/src/assets/lib/picker.js"></script>
  <script src="/static/persiceApp/src/assets/lib/picker.date.js"></script>
  <script src="/static/persiceApp/src/assets/lib/picker.time.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jquery.matchHeight.js"></script>
  <script src="/static/persiceApp/src/assets/lib/typeahead.js"></script>
  <script src="/static/persiceApp/src/assets/lib/tokenfield.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/core.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/widget.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/mouse.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/position.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/menu.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/autocomplete.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/sortable.js"></script>
  <script src="/static/persiceApp/src/assets/lib/jqueryui/draggable.js"></script>
  <script src="/static/persiceApp/src/assets/lib/tag-it.js"></script>
  <script src="/static/persiceApp/src/assets/js/init.js"></script>


  <script src="/static/persiceApp/src/assets/lib/plugins.min.js"></script>

  <script src="http://localhost:8080/webpack-dev-server.js"></script>
  <script src="http://localhost:8080/dist/vendor.bundle.js"></script>
  <script src="http://localhost:8080/dist/main.bundle.js"></script>
-->

  <!-- staging only -->
  <script src="/static/persiceApp/src/assets/lib/plugins.min.js"></script>
  <script src="/static/persiceApp/dist/vendor.bundle.js"></script>
  <script src="/static/persiceApp/dist/main.bundle.js"></script>


  <!-- production only
  <script src="/static/persiceApp/src/assets/lib/plugins.min.js"></script>
  <script src="/static/persiceApp/dist/vendor.22e47da7f58d263b1011.bundle.js"></script>
  <script src="/static/persiceApp/dist/main.e53f28ee06aef46f2803.bundle.js"></script>
 -->
  <script type="text/javascript">
  function createCookie(name, value, days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toGMTString();
    } else var expires = "";
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  createCookie('userid', '{{user.id}}', 1);

  function refreshConnect() {
    console.log('your social account is now connected.');
  }
  </script>
</body>
