<!DOCTYPE html>
<!--[if IE 8]>    <html class=" no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class=" no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class=" no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>Persice</title>
  <!-- base url -->
  <base href="/">
  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//maps.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,600,400italic,300italic,600italic,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/ion.rangeSlider.skinNice.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/remodal.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/remodal-default-theme.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/classic.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/classic.date.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/classic.time.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/tokenfield.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/tokenfield-typeahead.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/jquery.tagit.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/tagit.ui-zendesk.css" />
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/screen.css">
  <link rel="stylesheet" href="/static/persiceApp/src/app/components/app.css">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
  <persice-app [userId]="{{user.id}}"></persice-app>
  <!-- Theme scripts -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places&language=en&key=AIzaSyDFhIBwi7u03g0LpqN7JOkcYsROYwT36Lk"></script>
  <!-- development only
  <script src="/static/persiceApp/src/public/lib/es6-shim.js"></script>
  <script src="/static/persiceApp/src/public/lib/jquery-2.1.4.min.js"></script>
  <script src="/static/persiceApp/src/public/lib/jstz.js"></script>
  <script src="/static/persiceApp/src/public/lib/jquery.minimalect.js"></script>
  <script src="/static/persiceApp/src/public/lib/circle-progress.js"></script>
  <script src="/static/persiceApp/src/public/lib/svg4everybody.js"></script>
  <script src="/static/persiceApp/src/public/lib/ion.rangeSlider.js"></script>
  <script src="/static/persiceApp/src/public/lib/imgLiquid.js"></script>
  <script src="/static/persiceApp/src/public/lib/jquery.dotdotdot.js"></script>
  <script src="/static/persiceApp/src/public/lib/slick.js"></script>
  <script src="/static/persiceApp/src/public/lib/remodal.js"></script>
  <script src="/static/persiceApp/src/public/lib/picker.js"></script>
  <script src="/static/persiceApp/src/public/lib/picker.date.js"></script>
  <script src="/static/persiceApp/src/public/lib/picker.time.js"></script>
  <script src="/static/persiceApp/src/public/lib/jquery.matchHeight.js"></script>
  <script src="/static/persiceApp/src/public/lib/typeahead.js"></script>
  <script src="/static/persiceApp/src/public/lib/tokenfield.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/core.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/widget.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/mouse.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/position.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/menu.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/autocomplete.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/sortable.js"></script>
  <script src="/static/persiceApp/src/public/lib/jqueryui/draggable.js"></script>
  <script src="/static/persiceApp/src/public/lib/tag-it.js"></script>
  <script src="/static/persiceApp/src/public/js/init.js"></script>

  <script src="//localhost:8080/__build__/common.js"></script>
  <script src="//localhost:8080/__build__/angular2.js"></script>
  <script src="//localhost:8080/__build__/app.js"></script>
  -->
  <!-- staging only
  <script src="/static/persiceApp/src/public/lib/vendor.min.js"></script>
  <script src="/static/persiceApp/__build__/common.js"></script>
  <script src="/static/persiceApp/__build__/angular2.js"></script>
  <script src="/static/persiceApp/__build__/app.js"></script>
  -->
  <!-- production only -->
  <script src="/static/persiceApp/src/public/lib/vendor.min.js"></script>
  <script src="/static/persiceApp/__build__/common.min.js"></script>
  <script src="/static/persiceApp/__build__/angular2.min.js"></script>
  <script src="/static/persiceApp/__build__/app.e944bae1c54027542291.min.js"></script>
  <script type="text/javascript">
  function createCookie(name, value, days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      var expires = "; expires=" + date.toGMTString();
    } else var expires = "";
    document.cookie = name + "=" + value + expires + "; path=/";
  }

  createCookie('userid', '{{user.id}}', 1);
  </script>
</body>
