<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" media="screen">
    </head>
    <body>
        {% block content %}{% endblock content %}
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    </body>
</html>