{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% if user.is_authenticated %}
    <div class="nav-container">
        <ul class="nav-list">
            <li>Welcome, {{ user.username }}  <a href="/accounts/logout">[logout]</a></li>
            <li><a href="{% url 'postman_inbox' %}">{% trans "Inbox" %}{% if postman_unread_count %} <strong>({{ postman_unread_count }})</strong>{% endif %}</a></li>
            <li><a href="/goals/matched">Match Feed</a></li>
            <li><a href="/goals/filter">Filter Feed</a></li>
            <li><a href="/goals">My Profile</a></li>
            <li><a href="/friends/list">My Connections</a></li>
            <li><a href="/accounts/register">Registration</a></li>
            <li><a href="/photo/create">Photo</a></li>
        </ul>
    </div>
{% endif %}