{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <p class="text-right">Welcome, {{ user.username }}  <a href="/accounts/logout">[logout]</a></p>
    {% endif %}
    <div class="container">
        <h1 class="text-muted text-center">
            Welcome to
        </h1>
        <h2 class="text-primary text-center">
            Kindred
        </h2>
        <p class="text-center">
            <a href="/goal/create" class="btn btn-primary btn-lg" role="button">Start</a>
        </p>
    </div>
{% endblock content %}