{% extends 'base.html' %}
{% block content %}
<section class="intro">
    <div class="row">
        <div class="medium-12 columns">
            <h2>Welcome to</h2>
            <ul class="social-icon" id="intro-title">
                <li><a href="#" class="facebook"><i class="fa fa-slideshare"></i></a></li>
                <li><h1>Kindred</h1></li>
            </ul>
            <br>
            <br>
            <p><a href="/goals/create/goal" class="button small success radius" class="button small alert radius">Start</a></p>
        </div><!-- /.medium-12 .columns -->
    </div><!-- /.row -->
</section>
{% endblock content %}