{% extends 'base.html' %}
{% block content %}
<div class="main" id="main-section">
    <div class="ui huge header aligned center">Welcome to</div>
    <div class="ui center aligned grid">
        <div class="wide column">
            <ul class="social-icon" id="intro-title">
                <li><a href="" class="facebook"><i class="fa fa-slideshare"></i></a></li>
                <li><h1>Kindred</h1></li>
            </ul>
            <br>
            <br>
            <p><a href="/goals/create/goal" class="ui green button huge">Start</a></p>
        </div>
    </div>
</div>
{% endblock content %}