<!DOCTYPE html>
<!--[if IE 8]>    <html class=" no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class=" no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class=" no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  <link rel="dns-prefetch" href="//themes.googleusercontent.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,600,400italic,300italic,600italic,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/persiceApp/src/public/css/screen.css">
  <link rel="stylesheet" href="/static/persiceApp/src/app/components/app.css">
  <meta name="description" content="">
  <meta name="author" content=""> </head>

<body>
 {% load url from future %}
 {% block content %}
 {% endblock content %}
  <div id="fb-root"></div>
  <script src="/static/js/facebook.js"></script>

  <script>
  facebookAppId = '{{ FACEBOOK_APP_ID }}';
  facebookDefaultScope = {{FACEBOOK_DEFAULT_SCOPE_JS}};
  staticUrl = '{{ STATIC_URL }}';

  function facebookJSLoaded() {
    FB.init({
      appId: facebookAppId,
      status: false,
      cookie: true,
      xfbml: true,
      oauth: true,
      version: 'v2.3'
    });
  }
  window.fbAsyncInit = facebookJSLoaded;
  F = new facebookClass(facebookAppId);
  F.load();
  </script>
</body>

</html>
