<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="persice">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,700">
  <meta name="application-name" content="persice" />
  <link href="{{ STATIC_URL }}css/login.min.css" rel="stylesheet" media="screen">
  <script src="{{ STATIC_URL }}js/login.min.js"></script>
</head>

<body class="login">

  {% load url from future %} {% block content %}{% endblock content %}
</body>

</html>
