<!doctype html>
<html class="no-js" ng-app="beKindred">
    <head>
        <meta charset="utf-8">
        <title>Kindred</title>
        <meta name="description" content="Kindred">
        <meta name="viewport" content="width=device-width">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ STATIC_URL }}css/vendor.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/slick.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}postman/css/postman.css" rel="stylesheet" media="screen">
        <script src="{{ STATIC_URL }}js/modernizr-c1ff1650.js"></script>
    </head>
    <body>
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% load url from future %}
        {% load i18n %}{% load postman_tags %}
    {% block content %}{% endblock content %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <script src="{{ STATIC_URL }}js/vendor.js"></script>
    <script src="{{ STATIC_URL }}js/app.js"></script>
    <script src="{{ STATIC_URL }}js/slick.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.file-input.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>