<div class="signup">
  <signup-header></signup-header>
  <div class="signup__content">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer-signup">
    <div class="layout layout--flush">
      <div class="layout__item 1/2">
        <div class="page-number">1/4</div>
      </div>
      <div class="layout__item 1/2 text-right">
        <a href="" class="link--darkgrey mr-">Skip</a>
        <a href="" class="btn btn-1 btn-1--green btn-1--medium">Next</a>
      </div>
    </div>
  </footer>
</div>
