<div class="layout layout--flush content crowd-page" [ngClass]="{'is-hidden': itemViewActive}" prs-infinite-scroll
     (scrolled)="loadMoreItems($event)" [scrollEnabled]="1" [bottomOffset]="60">
  <div class="layout__item 3/4 extralarge-and-up-4/5" id="crowd">
    <prs-users-list (passEvent)="pass($event)" (acceptEvent)="accept($event)" [showButtons]="1" [users]="items"
                    (onClicked)="selectItem($event)"></prs-users-list>
    <prs-loading [status]="loading"></prs-loading>
    <div class="no-results" *ngIf="isListEmpty" [ngClass]="{'is-visible': isListEmpty}">
      <h2 class="no-results__title">Whoops!</h2>
      <p class="no-results__par">No results found. Please add more info to your profile or
        <br>broaden your search criteria</p>
      <img src="/assets/images/polar-bear.png" alt="Polar Bear">
    </div>
  </div>
  <div class="layout__item 1/4 extralarge-and-up-1/5 filter-place">
    <prs-filters [type]="LIST_TYPE"></prs-filters>
  </div>
</div>
<prs-profile-crowd *ngIf="itemViewActive" [currentIndex]="currentIndex" [count]="total_count"
                   (previousEvent)="previousItem($event)" (nextEvent)="nextItem($event)" [user]="selectedItem"
                   (closeprofileEvent)="closeItemView($event)" (passEvent)="pass($event)"
                   (acceptEvent)="accept($event)">
</prs-profile-crowd>
