<div class="segment" id="friends-list-header" ng-if="friends.length > 0">
    <div class="container">
        <form ng-submit="submit()" action="" method="get" class="" role="search" id="myform" autocomplete="off">
            <div class="ui left icon input">
                <input type="text" ng-model="q" name="q" placeholder="Search" minlength="3" required>
                <i class="circular search icon"></i>
            </div>
        </form>
    </div>
</div>


<div class="body segment" ng-if="friends.length === 0" style="height: 100vh;">
    <div class="container">
        <div class="ui info message">
            <p>You don't have any connections. Go to your Match Feed to find people with similar goals and interests.</p>
            <p><a class="ui icon button blue" ui-sref="matchfeed">Match Feed</a></p>

        </div>

    </div>
</div>

<div class="body segment" id="friends-list-body" style="height: 100vh;">
    <div class="container">
        <div class="ui divided list">
            <div class="item" ng-repeat="friend in friends | filter:q track by $index">
                <div class="ui circular tiny image img-bounding-box" ng-style="{'background-image': 'url(//graph.facebook.com/{{ friend.facebook_id }}/picture?type=large)'}"></div>
                <div class="friend-actions">
                    <a href="" ng-click="unFriend($index)" class="ui circular facebook icon button">
                        <i class="unlink icon"></i>
                    </a>
                    <a href="" class="ui circular twitter icon button">
                        <i class="envelope icon"></i>
                    </a>
                </div>
                <div class="content">
                    <div class="header"><a ui-sref="friendprofile({ userId: friend.friend_id })">{{friend.first_name}}</a></div>
                    <div class="description">
                        <div class="ui mini statistics">
                            <div class="statistic">
                                <div class="value">
                                    <i class="check circle outline icon"></i>
                                </div>
                                <div class="label">
                                    0
                                </div>
                            </div>
                            <div class="statistic">
                                <div class="value">
                                    <i class="empty users icon"></i>
                                </div>
                                <div class="label">
                                    0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>