<div class="event-people">
  <div class="layout layout--middle mb">
    <div class="layout__item 2/3">
      <a href="" class="btn btn-1 btn-1--mid btn-1--blue"><span>Going <i>(147)</i></span></a>
      <a href="" class="btn btn-1 btn-1--mid btn-1--blue btn-1--blank"><span>Maybe <i>(3)</i></span></a>
      <a href="" class="btn btn-1 btn-1--mid btn-1--blue btn-1--blank"><span>Can't go <i>(23)</i></span></a>
    </div>
    <div class="layout__item 1/3 text-right">
      <a data-remodal-target="invite-connections" href="#" class="btn btn-1 btn-1--small btn-1--filled btn-1--blue">Invite connections</a>
    </div>
  </div>
  <div class="layout slide-users js-slide-mutuals" slick show="9" breakpoint="1480" slidestoshow="6" infinite="true" scroll="6" dots="false" arrows="true" append="0">
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-persice"></use>
          </svg>
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-twitter"></use>
          </svg>
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-facebook"></use>
          </svg>
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <svg role="img" class="icon avatar-icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-linkedin"></use>
          </svg>
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
    <div class="layout__item">
      <a href="" class="user-listed user-listed--1">
        <div class="listed-user-avatar-place">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="User Name" class="avatar avatar--medium">
          <div class="user-listed__match-percents">
            <span class="user-listed__match-percents__value">71%</span>
          </div>
        </div>
        <h5 class="user-name">Elon Musk</h5>
      </a>
    </div>
  </div>
</div>
