<div class="card card--user">
  <h4 class="card-title">{{user.first_name}} {{user.last_name}}</h4>
  <p class="card-subtitle mb">{{user.gender | gender}} / age {{user.age}} / {{user.distance[0]}} {{user.distance[1]}}</p>
  <div class="avatar-box mb">
    <img src="/media/{{user.image}}" alt="User name" class="avatar">
    <div class="match-percent"></div>
  </div>
  <h6 class="card-subtitle">Shared Interest</h6>
  <ul class="interest-list">
    <li>Dance</li>
    <li>3D printing</li>
    <li>Cooking</li>
  </ul>
</div>
