<div class="ui segment basic" style="height: 100%; position: relative;" ng-class="{'loading': eventsmap.loadingLocation || eventsmap.loading}">
    <div class="ui warning message" ng-show="eventsmap.locationError">
        <i class="close icon"></i>
        <div class="content">
            <div class="header">
                Your location cannot be determined
            </div>
            <p>Please allow necessary permissions so we can find your location and show it on a map.</p>
        </div>
    </div>
    <map-canvas id="map" style="width: 100%; height: 400px;"></map-canvas>
</div>
<script type="text/javascript">
$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade');
    });
</script>
