<div class="profile-edit__photos p-">
  <div class="layout layout--flush layout--auto">
    <div class="layout__item">
      <div *ngIf="profilePhotos[0].id !== null" class="profile-edit__photos__main-photo" [ngStyle]="{'background-image': 'url(' + profilePhotos[0]?.cropped_photo + ')'}">
        <a class="profile-edit__photos__remove-photo" (click)="deletePhoto(profilePhotos[0])">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div class="profile-edit__photos__main-photo profile-edit__photos__thumb-photo-upload" *ngIf="!profilePhotos[0].id" (click)="openAlbums.next(0)">
        <div class="fileUpload">
          <span>
            <svg role="img" class="icon ">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="layout__item js-sortable" sortable items=".profile-edit__photos__thumb-photo">
      <div *ngIf="profilePhotos[1].id !== null" class="profile-edit__photos__thumb-photo" [ngStyle]="{'background-image': 'url(' + profilePhotos[1].cropped_photo + ')'}">
        <a class="profile-edit__photos__remove-photo" (click)="deletePhoto(profilePhotos[1])">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div *ngIf="profilePhotos[2].id !== null" class="profile-edit__photos__thumb-photo" [ngStyle]="{'background-image': 'url(' + profilePhotos[2].cropped_photo + ')'}">
        <a class="profile-edit__photos__remove-photo" (click)="deletePhoto(profilePhotos[2])">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div *ngIf="profilePhotos[3].id !== null" class="profile-edit__photos__thumb-photo" [ngStyle]="{'background-image': 'url(' + profilePhotos[3].cropped_photo + ')'}">
        <a class="profile-edit__photos__remove-photo" (click)="deletePhoto(profilePhotos[3])">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div *ngIf="profilePhotos[4].id !== null" class="profile-edit__photos__thumb-photo" [ngStyle]="{'background-image': 'url(' + profilePhotos[4].cropped_photo + ')'}">
        <a class="profile-edit__photos__remove-photo" (click)="deletePhoto(profilePhotos[4])">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div class="profile-edit__photos__thumb-photo-upload" *ngIf="profilePhotos[1].id === null" (click)="openAlbums.next(1)">
        <div class="fileUpload">
          <span>
            <svg role="img" class="icon ">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="profile-edit__photos__thumb-photo-upload" *ngIf="profilePhotos[2].id === null" (click)="openAlbums.next(2)">
        <div class="fileUpload">
          <span>
            <svg role="img" class="icon">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="profile-edit__photos__thumb-photo-upload" *ngIf="profilePhotos[3].id === null" (click)="openAlbums.next(3)">
        <div class="fileUpload">
          <span>
            <svg role="img" class="icon ">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
            </svg>
          </span>
        </div>
      </div>
      <div class="profile-edit__photos__thumb-photo-upload" *ngIf="profilePhotos[4].id === null" (click)="openAlbums.next(4)">
        <div class="fileUpload">
          <span>
            <svg role="img" class="icon ">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <p class="profile-edit__photos-hint text-center p-">Drag to sort the photos</p>
</div>
<profile-footer [loadingEdit]="loading" (close)="close.next($event)"></profile-footer>
