<div class="profile-edit__photos p-">
  <div class="layout layout--flush layout--auto">
    <div class="layout__item">
      <div class="profile-edit__photos__main-photo js-image-liquid">
        <img src="/static/persiceApp/src/assets/images/avatar_user_m.jpg" alt="Event title">
        <a href="">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="layout__item js-sortable">
      <div class="profile-edit__photos__thumb-photo js-image-liquid">
        <img src="/static/persiceApp/src/assets/images/avatar_user_m.jpg" alt="Event title">
        <a href="">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div class="profile-edit__photos__thumb-photo js-image-liquid">
        <img src="/static/persiceApp/src/assets/images/avatar_user_m.jpg" alt="Event title">
        <a href="">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div class="profile-edit__photos__thumb-photo js-image-liquid">
        <img src="/static/persiceApp/src/assets/images/avatar_user_m.jpg" alt="Event title">
        <a href="">
          <svg role="img" class="icon icon--notsotiny">
            <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
          </svg>
        </a>
      </div>
      <div class="profile-edit__photos__thumb-photo-upload">
        <div class="fileUpload">
          <span>
            <svg role="img" class="icon ">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
            </svg>
          </span>
          <input type="file" class="upload" /> </div>
      </div>
    </div>
  </div>
  <p class="profile-edit__photos-hint text-center p-">Drag & Drop to sort the photos and change your profile photo</p>
</div>
