<div class="match-profile__likes">
  <div class="match-profile__likes__top">
    <a class="module-title mr+" href="#">Likes <span>({{likes.length}})</span></a>
  </div>
  <div class="swiper-container js-profile-swiper-2 pt likes" *ngIf="likes.length > 0" swiper="{{swiperOptions}}">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of likes">
        <div class="flag flag--small flag--fix">
          <div class="flag__img">
            <div class="listed-user-avatar-place">
              <img onError="this.src='https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg';"
                   [src]="item.picture ? item.picture : 'https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg'"
                   alt="User Name" class="avatar  avatar--medium">
              <svg role="img" class="icon avatar-icon" *ngIf="item.match">
                <use xlink:href="/assets/icons/icons.svg#icon-persice"></use>
              </svg>
            </div>
          </div>
          <div class="flag__body">
            <h5 class="user-name">{{item.name}}</h5>
            <p class="user-title"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="slide-users__next js-slide-users__next-2">Next</div>
    <div class="slide-users__prev js-slide-users__prev-2">Prev</div>
  </div>
</div>
