<div class="profile-edit__photos__main-photo" *ngIf="photo.id !== -1"
  checkimage="{{photo.croppedPhoto}}"
  [suffix]="'.387x387_q100_crop.jpg'">
  <a (click)="onDelete.emit(photo.resourceUri)" *ngIf="isDeletionEnabled">
    <svg role="img" class="icon icon--notsotiny">
      <use xlink:href="/static/assets/icons/icons.svg#icon-delete"></use>
    </svg>
  </a>
</div>
<a class="profile-edit__photos__main-photo-upload" *ngIf="photo.id === -1" (click)="openChooseAlbum($event)">
  <span>
    <svg role="img" class="icon ">
      <use xlink:href="/static/assets/icons/icons.svg#icon-plus-big"></use>
    </svg>
  </span>
</a>
