<h2 class="signup-step__title">I can help people...</h2>
<p class="signup-step__subtitle">You can customize this later.</p>
<div class="search-signup-wrapper">
  <div class="search search--signup">
    <div class="search__top">
       <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-search"></use>
      </svg>
      <input type="text" class="search__input" placeholder="Enter your offer or search existing offers">
      <button class="btn">
         <svg role="img" class="icon ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-plus-big"></use>
        </svg>
      </button>
    </div>
    <div class="has-search__drop">
      <div class="search__drop">
        <ul class="search__drop__results">
          <li><b>Lear</b>n to play the banjo</li>
          <li><b>Lear</b>n to paint</li>
          <li><b>Lear</b>n to ride a bike</li>
          <li><b>Lear</b>n to play the piano</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="search__tags-wrapper text-left">
    <span class="search-tag-secondary">
    <a href="">
    <svg role="img" class="icon ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
  </svg>
  </a>Learn to play the banjo
  </span>
    <span class="search-tag-secondary">
            <a href="">
            <svg role="img" class="icon ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
  </svg></a>
            Learn to paint
          </span>
    <span class="search-tag-secondary">
            <a href=""><svg role="img" class="icon ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
  </svg></a>
            Teach kids ti play piano
          </span>
    <span class="search-tag-secondary">
            <a href=""><svg role="img" class="icon ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
  </svg></a>
            Play guitar in a local band
          </span>
    <span class="search-tag-secondary">
            <a href=""><svg role="img" class="icon ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
  </svg></a>
            Teach people how to play billiards
          </span>
    <span class="search-tag-secondary">
            <a href=""><svg role="img" class="icon ">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
  </svg></a>
            Plan trip to Bora Bora
          </span>
  </div>
</div>
