<nav class="nav-main">
  <ul>
    <li>
      <a [routerLink]="['./Crowd']">
        <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-menu-crowd"></use>
        </svg>
        <span>Crowd</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['./Messages']">
        <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-menu-messages"></use>
        </svg>
        <span>Messages</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['./Connections']">
        <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-menu-connections"></use>
        </svg>
        <span>Connections</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['./Events', 'AllEventsList']">
        <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-menu-events"></use>
        </svg>
        <span>Events</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['./ProfileView', {username: 'kranthi'}]">
        <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-menu-connections"></use>
        </svg>
        <span>Profile</span>
      </a>
    </li>
  </ul>
</nav>
