<nav class="nav-main">
  <ul>
    <li class="is-current">
      <a href="#">
        <svg role="img" class="icon icon--large">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-crowd"></use>
        </svg>
        <span>Crowd</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg role="img" class="icon icon--large">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-messages"></use>
        </svg>
        <span>Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg role="img" class="icon icon--large">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-connections"></use>
        </svg>
        <span>Connection</span>
      </a>
    </li>
    <li>
      <a href="#">
        <svg role="img" class="icon icon--large">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-events"></use>
        </svg>
        <span>Events</span>
      </a>
    </li>
  </ul>
</nav>
