<div class="search search--signup">
  <div class="search__top typeahead-search">
    <svg role="img" class="icon ">
      <use xlink:href="assets/icons/icons.svg#icon-search"></use>
    </svg>
    <input [(ngModel)]="newItemText" (keyup)="inputChanged($event)" type="text" class="search__input typeahead"
           placeholder="Enter a few goals here" id="typeaheadInput" persice-autocomplete
           [apiUrl]="AUTOCOMPLETE_API_ENDPOINT" [apiAttr]="AUTOCOMPLETE_API_ATTRIBUTE" [minLength]="MINIMUM_ITEM_LENGTH"
           (onSelected)="itemSelectedFromAutocomplete($event)">
    <div class="search__notification search__notification--error" [ngClass]="{'is-visible': status === 'failure'}">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#icon-failure"></use>
      </svg>
    </div>
    <div class="search__notification search__notification--succes" [ngClass]="{'is-visible': status === 'success'}">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="assets/icons/icons.svg#icon-success-2"></use>
      </svg>
    </div>
    <button class="btn">
      <svg role="img" class="icon " (click)="add($event)">
        <use xlink:href="assets/icons/icons.svg#icon-plus-big"></use>
      </svg>
    </button>
  </div>
</div>
<div class="search__tags-wrapper text-left is-visible" prs-infinite-scroll-element (scrolled)="loadMoreItems($event)"
     [scrollEnabled]="1" [bottomOffset]="60">
  <div class="mob-signup-empty-state" *ngIf="isListEmpty">
    <svg role="img" class="icon mob-signup-empty-state__icon">
      <use xlink:href="assets/icons/icons.svg#no-offers"></use>
    </svg>
    <h3 class="mob-signup-empty-state__title">"Offers" are things you <br>can help other people achieve.</h3>
    <p class="mob-signup-empty-state__par mob-signup-empty-state__par--prom">For example:</p>
    <p class="mob-signup-empty-state__par">"Practice speaking Spanish" or
      <br> "Find a tennis partner"</p>
  </div>
  <p class="search-tag-secondary" *ngFor="let offer of items">
    <a (click)="remove(offer)">
      <svg role="img" class="icon ">
        <use xlink:href="assets/icons/icons.svg#icon-delete"></use>
      </svg>
    </a> {{ offer.subject }}
  </p>
  <prs-loading [status]="loading"></prs-loading>
</div>
