{% extends "postman/base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
{% if autocompleter_app.is_active %}
{# dj v1.4 #}{% load static %}
<script type="text/javascript"src="
{# using the available admin jQuery is enough: #}
{# dj v1.4 #}{% static 'admin/js/jquery.min.js' %}
{# dj v1.2/3 #}{# {% load adminmedia %}{% admin_media_prefix %}js/jquery.min.js #}
{# unless you really want your own: #}
{# dj v1.2 #}{# {{ MEDIA_URL }}js/jquery.min.js #}
"></script>
{% if autocompleter_app.name == "ajax_select" %}{% if autocompleter_app.version == "1.1.4" or autocompleter_app.version == "1.1.5" %}<script type="text/javascript" src="
{# dj v1.4 #}{% static 'js/jquery.autocomplete.min.js' %}
{# dj v1.3 #}{# {{ STATIC_URL }}js/jquery.autocomplete.min.js #}
{# dj v1.2 #}{# {{ MEDIA_URL }}js/jquery.autocomplete.min.js #}
"></script>
<link type="text/css" media="all" rel="stylesheet" href="
{# dj v1.4 #}{% static 'css/jquery.autocomplete.css' %}
{# dj v1.3 #}{# {{ STATIC_URL }}css/jquery.autocomplete.css #}
{# dj v1.2 #}{# {{ MEDIA_URL }}css/jquery.autocomplete.css #}
" />{# else: for version 1.2.x use AJAX_SELECT_BOOTSTRAP + AJAX_SELECT_INLINES or arrange to include jqueryUI/js/css #}{% endif %}{% endif %}
{% endif %}
{% endblock %}
{% block content %}
<div class="body segment">
    <div class="container">

        <div class="ui error form segment">

           {% if form.errors %}
           {% for field in form %}
           {% for error in field.errors %}
           <div class="ui error message">
            <div class="header"><strong>{{ field.label }}:</strong> {{ error|escape }}</div>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <form action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
            {% block pm_write_recipient %}{% endblock %}


            <div class="field">
                <label>Recipient

                {% with request.path|slugify|cut:'messageswrite' as recipient %}

                {% if recipient != '' %}
                : {{recipient}}
                {% endif %}

                {% endwith %}

                </label>
                {% if '/messages/write/' == request.path %}
                <input placeholder="Enter recipient" type="text" id="id_recipients" name="recipients">
                {% endif %}

                {% with request.path|slugify|cut:'messageswrite' as recipient %}

                {% if recipient != '' %}
                <input placeholder="Enter recipient" class="displayNone" type="hidden" value="{{recipient}}" id="id_recipients" name="recipients">
                {% endif %}

                {% endwith %}




            </div>

            <div class="field">
                <label>Message</label>
                <textarea  cols="55" id="id_body" name="body" rows="12" placeholder="Enter messsage" type="text"></textarea>
            </div>

            <button type="submit" class="ui submit green button">{% trans "Send" %}</button>
        </form>

    </div>

</div>
</div>
{% endblock %}