{% extends "base.html" %}
{% load url from future %}
{% load i18n postman_tags %}{% load pagination_tags %}
{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content %}
<div ng-controller="MessagesController" id="inbox">
    {% block search %}{% endblock search %}
    <div class="body segment" id="inbox-body">
        <div class="container">
            {% if pm_messages %}
            <div class="ui selection divided list">
                {% for message in pm_messages %}
                <a href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}" class="item" >
                    <span class="message-time">{{ message.sent_at|date:_("j M") }}</span>
                    <img class="ui tiny circular image" src="http://graph.facebook.com/{{ message.sender.profile_or_self.facebook_id }}/picture">
                    <div class="content">
                        <div class="header">
                            {% block pm_sender_cell %}{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}{% endblock %}
                        </div>
                        <div class="description">
                            {% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}
                            {% block pm_subject %}
                            {% include "postman/inc_subject_ex.html" %}
                            {% endblock %}
                            {% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <br>
            <div class="ui info message">
                <p>No messages found.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}