{% extends "postman/base_folder.html" %}
{% load i18n %}
{% block pm_folder_title %}{% trans "Inbox" %}{% endblock %}
{% block pm_by_modes %}{% endblock pm_by_modes %}
{% block pm_delete_button %}{% endblock pm_delete_button %}
{% block pm_archive_button %}{% endblock pm_archive_button %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_recipient_header %}{% endblock %}
{% block pm_sender_header %}{% endblock pm_sender_header %}
{% block pm_date %}{% trans "Received" %}{% endblock %}
{% block pm_recipient_cell %}{% endblock %}
{% block search %}
<section class="inbox-header">
    <form ng-submit="submit()" action="." method="get" class="" role="search" id="myform">
        <div class="search-wrapper-inbox">
            <a href="" ng-click="submit()" type="submit" class=""><i class="fa fa-search fa-lg"></i></a>
            <input type="text" ng-model="q" name="q" placeholder="Search" minlength="3" required>
        </div>
    </form>
</section>
{% endblock %}
