{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block content %}
<div ng-controller="MessagesController">


    <div id="message-header">
        <div class="3 fluid ui buttons">
          <div class="ui button active"><i class="envelope blue icon"></i></div>
          <div class="ui button"><i class="user icon"></i></div>
          <div class="ui button"><i class="ellipsis horizontal icon"></i></div>
      </div>

  </div>

  {% if pm_messages|length == 1 %}
  {% for message in pm_messages %}

  <div id="message-body">
    <div class="ui basic center aligned vertical segment">
        <div class="ui large header">
            {{ message.body|linebreaksbr }}
        </div>
    </div>
    <div class="ui basic center aligned vertical segment">
        <div class="ui large header">
            <div class="sub header">{{ message.sent_at|date:"TIME_FORMAT"}}</div>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}

<div class="segment" id="message-footer">
    <form ng-submit="sendMessage()" action="{% url 'postman_reply' reply_to_pk %}?next=" method="get" class="" role="search" id="myform" autocomplete="off">
        {% csrf_token %}
        <div class="ui action input">
            <input type="text" ng-model="q" name="q" placeholder="New Message" minlength="3" required>
            <div ng-click="sendMessage()" class="ui blue button">Send</div>
        </div>
    </form>
</div>



</div>
{% endblock %}