<div class="search search--spaced">
  <div class="search__top">
    <svg role="img" class="icon icon--large">
      <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-search"></use>
    </svg>
    <search-input (loading-users)="loadingUsers = $event" (results-users)="updateResultsUsers($event)" (total-users)="updateResultsUsersTotalCount($event)" (loading-events)="loadingEvents = $event" (results-events)="updateResultsEvents($event)" (total-events)="updateResultsEventsTotalCount($event)">
    </search-input>
  </div>
  <search-results [users]="resultsUsers" [users-total]="resultsUsersTotalCount" [events]="resultsEvents" [events-total]="resultsEventsTotalCount"></search-results>
</div>
