<div class="event-photo-map-stat">
  <div class="layout layout--flush">
    <div class="layout__item 2/3">
      <div class="event-photo-map">
        <ul class="event-photo-map__switch">
          <li data-tab="js-map">
           <svg role="img" class="icon">
            <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-map"></use>
          </svg>
        </li>
        <li class="is-current" data-tab="js-photo">
         <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-picture"></use>
        </svg>
      </li>
    </ul>
   <!--  <div class="event-photo-map__change-photo">
      <a href="" class="btn btn-1 btn-1--small btn-1--white btn-1--filled--dark">Change photo</a>
    </div> -->

    <div class="event-photo-map__content js-image-liquid tab-content imgLiquid_bgSize imgLiquid_ready is-current" id="js-photo" style="background-image: url(/static/persiceApp/src/public/images/event-image.jpg); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;">
    </div>

    <div class="event-photo-map__content tab-content" id="js-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6044.875834354761!2d-73.9804005600045!3d40.75239210614572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259011e131cb9%3A0x7b70449b3c1305e0!2s275+Madison+Ave%2C+New+York%2C+NY+10016%2C+USA!5e0!3m2!1sen!2srs!4v1436258814928" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="layout__item 1/3">
  <div class="event-stats">
    <div class="event-stat">
      <h3 class="event-stat__title">Average similarity</h3>
      <div class="flag flag--small">
        <div class="flag__img">
         <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-similarity"></use>
        </svg>
      </div>
      <div class="flag__body">
        <div class="event-stat__value"><span>71%</span></div>
        <div class="event-stat__desc">(across attedees)</div>
      </div>
    </div>
  </div>
  <hr class="hr hr--center">
  <div class="event-stat">
    <h3 class="event-stat__title">Atendees</h3>
    <div class="flag flag--small">
      <div class="flag__img">
        <svg role="img" class="icon">
          <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-user"></use>
        </svg>
      </div>
      <div class="flag__body">
        <div class="event-stat__value"><span>147</span>/150</div>
        <div class="event-stat__desc">(across attedees)</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
