<div class="event-photo-map-stat">
  <div class="layout layout--flush">
    <div class="layout__item 2/3">
      <div class="event-photo-map">
        <ul class="event-photo-map__switch">
          <li data-tab="js-map">
            <svg role="img" class="icon">
              <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-map"></use>
            </svg>
          </li>
          <li class="is-current" data-tab="js-photo">
            <svg role="img" class="icon">
              <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-picture"></use>
            </svg>
          </li>
        </ul>
        <div class="event-photo-map__content js-image-liquid tab-content imgLiquid_bgSize imgLiquid_ready is-current" id="js-photo" [ng-style]="{'background-image': 'url(' + photo + ')', 'background-size': 'cover', 'background-position': '50% 50%', 'background-repeat': 'no-repeat'}">
        </div>
        <div class="event-photo-map__content tab-content" id="js-map">
        </div>
      </div>
    </div>
    <div class="layout__item 1/3">
      <div class="event-stats">
        <div class="event-stat">
          <h3 class="event-stat__title">Average similarity</h3>
          <div class="flag flag--small">
            <div class="flag__img">
              <svg role="img" class="icon">
                <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-similarity"></use>
              </svg>
            </div>
            <div class="flag__body">
              <div class="event-stat__value"><span>{{stats.score}}</span></div>
              <div class="event-stat__desc">(across attedees)</div>
            </div>
          </div>
        </div>
        <hr class="hr hr--center">
        <div class="event-stat">
          <h3 class="event-stat__title">Atendees</h3>
          <div class="flag flag--small">
            <div class="flag__img">
              <svg role="img" class="icon">
                <use xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-user"></use>
              </svg>
            </div>
            <div class="flag__body">
              <div class="event-stat__value"><span>{{stats.friendsCount}}</span>/{{stats.maxAttendees}}</div>
              <div class="event-stat__desc">(across attedees)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
