<div class="event-photo-map-stat">
  <div class="layout layout--flush">
    <div class="layout__item 2/3">
      <div class="event-photo-map">
        <ul class="event-photo-map__switch">
          <li (click)="showMap = true; showPhoto = false;" data-tab="js-map" [ngClass]="{'is-current': showMap}">
            <svg role="img" class="icon">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-map"></use>
            </svg>
          </li>
          <li (click)="showPhoto = true; showMap = false;" [ngClass]="{'is-current': showPhoto}" data-tab="js-photo">
            <svg role="img" class="icon">
              <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-picture"></use>
            </svg>
          </li>
        </ul>
        <div *ngIf="showPhoto && host" class="event-photo-map__change-photo">
          <a (click)="openFileDialog($event)" class="btn btn-1 btn-1--small btn-1--white btn-1--filled--dark">Change photo</a>
          <input (change)="changeListener($event)" type="file" style="display:none;" id="inputfile" />
        </div>
        <div [ngClass]="{'is-current': showPhoto}" *ngIf="showPhoto" class="event-photo-map__content js-image-liquid tab-content imgLiquid_bgSize imgLiquid_ready is-current" id="js-photo" [ngStyle]="{'background-image': 'url(' + photo + ')', 'background-size': 'cover', 'background-position': '50% 50%', 'background-repeat': 'no-repeat'}">
        </div>
        <div [ngClass]="{'is-current': showMap}" *ngIf="showMap" class="event-photo-map__content tab-content" id="js-map">
          <google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <google-map-marker *ngFor="#m of markers" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"></google-map-marker>
          </google-map>
        </div>
      </div>
    </div>
    <div class="layout__item 1/3">
      <div class="event-stats">
        <div class="event-stat">
          <h3 class="event-stat__title">Average similarity</h3>
          <div class="flag flag--small">
            <div class="flag__img">
              <svg role="img" class="icon">
                <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-similarity"></use>
              </svg>
            </div>
            <div class="flag__body">
              <div class="event-stat__value"><span>{{stats.score}}</span></div>
              <div class="event-stat__desc">(across attendees)</div>
            </div>
          </div>
        </div>
        <hr class="hr hr--center">
        <div class="event-stat">
          <h3 class="event-stat__title">Atendees</h3>
          <div class="flag flag--small">
            <div class="flag__img">
              <svg role="img" class="icon">
                <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-user"></use>
              </svg>
            </div>
            <div class="flag__body">
              <div class="event-stat__value"><span>{{stats.friendsCount}}</span>/{{stats.maxAttendees}}</div>
              <div class="event-stat__desc">(across attendees)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
