<div class="search search--remodal-tab typeahead-search">
  <div class="search__top">
    <svg role="img" class="icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#icon-search"></use>
    </svg>
    <input [(ngModel)]="newItemText" (keyup)="inputChanged($event)" type="text" class="search__input typeahead"
           placeholder="Enter a few goals here" id="typeaheadInput" persice-autocomplete
           [apiUrl]="AUTOCOMPLETE_API_ENDPOINT" [apiAttr]="AUTOCOMPLETE_API_ATTRIBUTE" [minLength]="MINIMUM_ITEM_LENGTH"
           (onSelected)="itemSelectedFromAutocomplete($event)">
    <div class="search__notification search__notification--error" [ngClass]="{'is-visible': status === 'failure'}">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#icon-failure"></use>
      </svg>
    </div>
    <div class="search__notification search__notification--succes" [ngClass]="{'is-visible': status === 'success'}">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink"
             xlink:href="assets/icons/icons.svg#icon-success-2"></use>
      </svg>
    </div>
    <button class="btn" (click)="add($event)">
      <svg role="img" class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#icon-plus-big"></use>
      </svg>
    </button>
  </div>
</div>
<div class="search__tags-wrapper text-left" [ngClass]="{'has-signup-empty-state': isListEmpty}"
     prs-infinite-scroll-element (scrolled)="loadMoreItems($event)" [scrollEnabled]="1" [bottomOffset]="60">
  <span class="search-tag-secondary" *ngFor="let item of items">
      <a (click)="remove(item)">
        <svg role="img" class="icon icon--tiny">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/icons/icons.svg#icon-delete"></use>
        </svg>
      </a>
      {{item.subject}}
    </span>
  <div class="signup-empty-state is-visible" *ngIf="isListEmpty">
    <svg role="img" class="icon signup-empty-state__icon">
      <use xlink:href="assets/icons/icons.svg#no-goals"></use>
    </svg>
    <h3 class="signup-empty-state__title">"Goals" are things you want to achieve.</h3>
    <p class="signup-empty-state__par signup-empty-state__par--prom">For example:</p>
    <p class="signup-empty-state__par">"Learn how to salsa dance" or
      <br>"Discover new hiking trails"</p>
  </div>
  <prs-loading [status]="loading"></prs-loading>
</div>
<prs-edit-footer [loadingEdit]="saveLoading" (close)="close.next($event)"></prs-edit-footer>
