<div class="ui top fixed borderless menu center" id="mainheadermenu">
    <div class="header item">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">1</i>
        </span> What interests you?
    </div>
    <div class="right menu">
        <div class="ui item" id="nextButton">
            <div ng-click="interest.nextStep()" ng-class="{'disabled': interest.counter === 0}" class="ui button green">Next &raquo;</div>
        </div>
    </div>
</div>
<div id="interests-header">
    <h2 class="ui header dividing center aligned desktopview">
        <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">1</i>
        </span>
        <div class="content">What interests you?</div>
        <div ng-click="interest.nextStep()" id="nextButtonDesktopInterests" ng-class="{'disabled': interest.counter === 0}" class="ui small button green">Next &raquo;</div>

    </h2>
    <div class="ui left icon input">
        <input type="text" ng-model="interest.searchQuery" ng-change="interest.getAllInterests()" ng-model-options="{debounce:300}" placeholder="Search">
        <i class="icon-search icon"></i>
    </div>
</div>
<div id="interests" class="basic ui segment" ng-class="{'loading': interest.loadingInterests}" when-scroll-ends="interest.loadMoreInterests()">
    <div ng-click="interest.useInterest($index)" class="ui button toggle compact repeat-animation" ng-repeat="inter in interest.allInterests track by $index" ng-class="{'active': inter.active, 'loading': interest.inter.loading}">{{inter.description}}</div>
    <div class="ui info message" ng-show="interest.noResults && !interest.loadingInterests">
        <p>No interests found.</p>
        <p>Try with another search term or <a href="" ng-click="interest.reset()">reset your search</a>.</p>
    </div>
    <three-bounce-spinner class="page-spinner-bar" ng-show="interest.loadingMore"></three-bounce-spinner>
</div>
