<div class="content p">
  <prs-loading [status]="loading"></prs-loading>
  <div class="platform event-content is-visible" *ngIf="!loading">
    <a (click)="goBack($event)" class="platform__back">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-close"></use>
      </svg>
    </a>
    <prs-event-info [info]="info" [host]="isHost" [rsvp]="rsvpStatus"
                    (changeRsvp)="changeRsvpStatus($event)"></prs-event-info>
    <prs-event-photo-map (refreshEvent)="refreshEvent($event)" [uri]="event.resource_uri" [photo]="photo"
                         [host]="isHost" [location]="location" [stats]="stats"></prs-event-photo-map>
    <div class="event-people">
      <div class="layout layout--middle mb" id="single-event-peoplenav">
        <div class="layout__item 2/3">
          <a (click)="activate('yes')" class="btn btn-1 btn-1--mid btn-1--blue"
             [ngClass]="{'btn-1--blank': selected !== 'yes'}"><span>Going <i>({{peopleYescounter}})</i></span></a>
          <a (click)="activate('maybe')" class="btn btn-1 btn-1--mid btn-1--blue"
             [ngClass]="{'btn-1--blank': selected !== 'maybe'}"><span>Maybe <i>({{peopleMaybecounter}})</i></span></a>
          <a (click)="activate('no')" class="btn btn-1 btn-1--mid btn-1--blue"
             [ngClass]="{'btn-1--blank': selected !== 'no'}"><span>Can't go <i>({{peopleNocounter}})</i></span></a>
        </div>
        <div class="layout__item 1/3 text-right" *ngIf="isHost">
          <!--<a data-remodal-target="invite-connections" href="#" class="btn btn-1 btn-1--small btn-1--filled btn-1--blue">Invite
            connections</a>-->
        </div>
      </div>
      <prs-event-attendees [people]="peopleYes" [count]="peopleYescounter"
                           *ngIf="selected === 'yes'"></prs-event-attendees>
      <prs-event-attendees [people]="peopleNo" [count]="peopleNocounter"
                           *ngIf="selected === 'no'"></prs-event-attendees>
      <prs-event-attendees [people]="peopleMaybe" [count]="peopleMaybecounter"
                           *ngIf="selected === 'maybe'"></prs-event-attendees>
    </div>
    <div class="event-desc-and-host">
      <div class="layout layout--large">
        <div class="layout__item 1/2">
          <prs-event-description [description]="event.description"></prs-event-description>
        </div>
        <div class="layout__item 1/2">
          <prs-event-host [host]="userInfo"></prs-event-host>
        </div>
      </div>
    </div>
    <!--<prs-event-discussion></prs-event-discussion>-->
  </div>
</div>
<div class="remodal--common" data-remodal-id="edit-event" remodal>
  <prs-event-edit *ngIf="event" [type]="'edit-event'" [event]="event"
                  (refreshEvent)="refreshEvent($event)"></prs-event-edit>
</div>
