/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
    padding: 18px 28px;
    font-size: 18px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.login-form {
    padding-top: 65px;
}


.registration-form {
    padding-top: 65px;
}
.no_bullets {
    list-style-type: none;
    padding: 0;
    margin-left: 12px;
}

p {
    margin: 0;
    padding: 0;
}

.nav-container {
    padding-top: 10px;
    padding-right: 15px;
    text-align: right;
}
.nav-list li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

h2 {
    padding-bottom: 10px;
}

a.thumbs-down {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    margin: 20px;
}

a:hover span {
    color: #005580;
}

span.glyphicon {
    font-size: 4.5em;
    line-height: 1;
    color: #428bca;
}

span.glyphicon-search {
    font-size: 0.85em;
    line-height: 1;
    color: #428bca;
}

span.glyphicon-minus-sign {
    font-size: 0.85em;
    line-height: 1;
    color: #d14;
    padding-right: 3px;
}

span.glyphicon-plus-sign {
    font-size: 0.85em;
    line-height: 1;
    color: #4cae4c;
    padding-right: 3px;
}

span.glyphicon-pencil {
    font-size: 0.85em;
    line-height: 1;
    padding-left: 3px;
    text-align: left;
}

span.glyphicon-ok {
    font-size: 1em;
    margin-right: 3px;
    line-height: 1;
    color: #428bca;
}
.user_bio_content {
    margin-left: 12px;
    padding-bottom: 10px;
}

.slick-slide {
    width: 560px;
}
.slick-prev:before, .slick-next:before {
    color: #428bca;
}

.facebook_logo {
    margin-bottom: 10px;
}
