/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
    padding: 18px 28px;
    font-size: 18px;
    line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.login-form {
    padding-top: 65px;
}


.registration-form {
    padding-top: 65px;
}
.no_bullets {
    list-style-type: none;
    padding: 0;
    margin-left: 12px;
}

p {
    margin: 0;
    padding: 0;
}

.nav-container {
    padding-top: 10px;
    padding-right: 15px;
    text-align: right;
}
.nav-list li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;
}

h2 {
    padding-bottom: 10px;
}

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 30px;
    margin: 20px;
}

span.glyphicon {
    font-size: 4.5em;
    line-height: 1;
    color: #428bca;
}

span.glyphicon-ok {
    font-size: 1em;
    margin-right: 3px;
    line-height: 1;
    color: #428bca;
}