<ul class="profile-tab__list">
  <li [ngClass]="{'profile-tab__list__pro-item': item.match}" *ngFor="let item of itemsLess">
    <i *ngIf="item.match" class="similarity-bullet"></i>{{item.value}}
  </li>
  <li [ngClass]="{'hidden': !itemsMoreVisible, 'profile-tab__list__pro-item': item.match}"
      *ngFor="let item of itemsMore">
    <i *ngIf="item.match" class="similarity-bullet"></i>{{item.value}}
  </li>
</ul>
<a *ngIf="moreButtonVisible" (tap)="toggleMore($event)" class="js-profile-tab__list__toggle profile-tab__list__toggle">
  <svg role="img" class="icon icon--small profile-box__toggle-icon">
    <use xlink:href="assets/icons/icons.svg#icon-mobile_menu"></use>
  </svg>
</a>
