<div class="content">
  <div class="mob-sec-tabs">
    <ul>
      <li class="mob-sec-tabs__item" [ngClass]="{'is-current': activeTab === 1}"><a (click)="activateTab(1)">Going (147)</a></li>
      <li class="mob-sec-tabs__item" [ngClass]="{'is-current': activeTab === 2}"><a (click)="activateTab(2)">Maybe (76)</a></li>
      <li class="mob-sec-tabs__item" [ngClass]="{'is-current': activeTab === 3}"><a (click)="activateTab(3)">Can't Go (1.5k)</a></li>
    </ul>
  </div>
  <div class="mob-user-card-title"> Connections </div>
  <prs-mobile-user-card [personEntity]="person" *ngFor="let person of attendees;" [showSendMessage]="true"></prs-mobile-user-card>
  <div class="mob-user-card-title"> Others </div>
  <prs-mobile-user-card [personEntity]="person" *ngFor="let person of attendees;"></prs-mobile-user-card>

</div>
