<div class="ui basic segment">
    <div class="ui positive message" ng-show="singleevent.showSuccess">
        <div class="header">
            New event was successfully created.
        </div>
    </div>
    <div class="ui negative message" ng-show="singleevent.showError">
        <div class="header">
            There was an error when trying to save your event.
        </div>
        <p ng-repeat="errormsg in singleevent.errorMessage track by $index">{{errormsg}}</p>
    </div>
    <div class="ui large form segment first" id="FirstSegment">
        <div class="field">
            <label>Event Name</label>
            <input class="border-bottom" ng-model="singleevent.event.name" placeholder="{{::singleevent.placeholder.name}}" type="text">
        </div>
        <div class="field">
            <label>Location</label>
            <div class="ui icon input" id="locationInput" ng-class="{'urlexists': singleevent.mapurlTrue}">
                <input attach="'locationInput'" google-places-autocomplete options="{types: ['geocode']}" placeholder="{{::singleevent.placeholder.location}}" ng-model="singleevent.eventLocation" type="text">
                <i ng-click="singleevent.openMap()" class="marker large icon"></i>
            </div>
        </div>
    </div>
    <div class="ui large form segment">
        <div class="field">
            <label>Starts</label>
            <div class="ui icon input" id="desktopStartsAt">
                <datepicker date-format="MM/dd/yyyy">
                    <input mask='39/19/9999' ng-model="singleevent.starts_on_date" placeholder="{{::singleevent.placeholder.starts}}" type="text">
                </datepicker>
                <i class="calendar icon"></i>
            </div>
            <input ng-if="singleevent.showMobile" id="startsAtDate" class="border-bottom" placeholder="{{::singleevent.placeholder.starts}}" type="datetime-local" ng-model="singleevent.event.starts_on">
            <input id="startsAtTime" mask='29:59' class="" placeholder="{{::singleevent.placeholder.startsTime}}" type="text" ng-model="singleevent.starts_on_time">
        </div>
        <div class="field">
            <label>Ends</label>
            <div class="ui icon input" id="desktopEndsAt">
                <datepicker date-format="MM/dd/yyyy">
                    <input mask='39/19/9999' ng-model="singleevent.ends_on_date" placeholder="{{::singleevent.placeholder.ends}}" type="text">
                </datepicker>
                <i class="calendar icon"></i>
            </div>
            <input ng-if="singleevent.showMobile" id="endsAtDate" class="ui border-bottom" placeholder="{{::singleevent.placeholder.ends}}" type="datetime-local" ng-model="singleevent.event.ends_on">
            <input id="endsAtTime" mask='29:59' class="" placeholder="{{::singleevent.placeholder.endsTime}}" type="text" ng-model="singleevent.ends_on_time">
        </div>
        <div class="field">
            <label>Repeat</label>
            <input id="repeat" placeholder="{{::singleevent.placeholder.repeat}}" type="text" ng-model="singleevent.event.repeat">
            <div class="ui icon input" id="desktopRepeatUntil">
                <datepicker date-format="MM/dd/yyyy">
                    <input ng-model="singleevent.event.repeatUntil" placeholder="{{::singleevent.placeholder.repeatUntil}}" type="text">
                </datepicker>
                <i class="calendar icon"></i>
            </div>
        </div>
    </div>
    <div class="ui large form segment icon-segment">
        <div class="field">
            <label>Costs</label>
            <div class="fluid ui right labeled icon button">
                <i class="fa-angle-right fa icon large"></i> {{::singleevent.placeholder.costs}}
            </div>
        </div>
    </div>
    <div class="ui large form segment icon-segment">
        <div class="field">
            <label>Invitations</label>
            <div class="fluid ui right labeled icon button">
                <i class="fa-angle-right fa icon large"></i> {{::singleevent.placeholder.invitations}}
            </div>
        </div>
    </div>
    <div class="ui large form segment icon-segment">
        <div class="field" id="attachmentsDesc">
            <label>Attachments</label>
            <div class="fluid ui right labeled icon button with-left-icon">
                <i class="fa-paperclip fa icon large left-icon"></i>
                <i class="fa-angle-right fa icon large"></i> {{::singleevent.placeholder.attachments}}
            </div>
        </div>
        <div class="ui divider" id="last-section"></div>
        <div class="field">
            <label>Description</label>
            <textarea rows="4" class="border-bottom" placeholder="{{::singleevent.placeholder.description}}" ng-model="singleevent.event.description"></textarea>
        </div>
    </div>
    <div class="ui large form segment" id="actionForm">
        <div id="actionButton" ng-click="singleevent.saveEvent()" class="ui submit green button"><i class="fa fa-plus-circle icon"></i> Create</div>
    </div>
</div>


<script>
    'use strict';
    $( document ).ready(function() {
       $('#endsAtDate').on('input',function(){
        if($(this).val().length>0){
            console.log('remove');
            $(this).addClass('full');
        }
        else{
            console.log('remove');
            $(this).removeClass('full');
        }
        });

        $('#startsAtDate').on('input',function(){
            if($(this).val().length>0){
                $(this).addClass('full');
            }
            else{
                $(this).removeClass('full');
            }
        });
    });

</script>