<div class="ui basic segment" id="event-invitations">
    <div class="ui active inverted dimmer" ng-if="viewevent.loadingInvitesSave">
        <div class="ui text loader">Please wait while invitations are being sent...</div>
    </div>
    <form class="ui form">
        <div class="ui header">Who can attend this event?</div>
        <div class="fields">
            <div class="eight wide field invitations">
                <div class="field-section">
                    <div class="radio-vertical">
                        <input type="radio" ng-model="viewevent.invitationsOptions.attendingPref" value="myconnections">
                        <span class="label">Only my connections (default)</span>
                    </div>
                    <div class="radio-vertical">
                        <input type="radio" ng-model="viewevent.invitationsOptions.attendingPref" value="public">
                        <span class="label">Public (all Persice users)</span>
                    </div>
                    <div class="radio-vertical">
                        <input type="radio" ng-model="viewevent.invitationsOptions.attendingPref" value="private">
                        <span class="label">Private (only select users)</span>
                    </div>
                </div>
            </div>
            <div class="eight wide field invitations">
                <div class="field-section">
                    <div class="label">Max. attendees <span class="label number">10</span></div>
                    <div class="ui divider"></div>
                    <div class="checkbox-vertical">
                        <input type="checkbox" ng-model="viewevent.invitationsOptions.guestInvite" value="private">
                        <span class="label">Guests can invite friends</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="ui top attached tabular menu" id="invitationsTabsMenu">
        <a class="item active" data-tab="first">My Connections</a>
        <a class="item withicons" data-tab="second"><i class="check large circle icon"></i> Invite List <span class="ui circular label">{{viewevent.invitedPeople.length}}</span></a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <table class="ui very basic unstackable selectable table invitations-people">
            <thead>
                <tr>
                    <th colspan="2" class="search-header-container">
                        <div class="ui transparent left icon input searchbox">
                            <input type="text" placeholder="">
                            <i class="search large icon"></i>
                        </div>
                    </th>
                    <th class="desktopview"><i class="intersecticon icon"></i></th>
                    <th class="desktopview"><i class="empty user large usericon icon"></i></th>
                    <th class="desktopview"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="connection in viewevent.connections track by connection.id" ng-class="{'active': connection.selected}" ng-click="viewevent.inviteConnection($index)">
                    <td>
                        <h4 class="ui image header">
                            <img src="http://lorempixel.com/32/32" class="ui circular image">
                            <div class="content">
                                {{::connection.first_name}}, {{::connection.age}}
                            </div>
                        </h4>
                    </td>
                    <td class="desktopview">
                        <div class="tagline">{{::connection.tagline}}</div>
                    </td>
                    <td class="desktopview">{{::connection.match_score}}</td>
                    <td class="desktopview">{{::connection.mutual_friends}}</td>
                    <td class="selected"><i ng-if="connection.selected" class="check fade icon big circle invite outline" ng-class="{'green': !connection.invited && connection.selected}"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <table class="ui very basic unstackable selectable table invitations-people">
            <thead>
                <tr>
                    <th class="search-header-container">
                        <div class="ui transparent left icon input searchbox">
                            <input type="text" placeholder="">
                            <i class="search large icon"></i>
                        </div>
                    </th>
                    <th class="desktopview"></th>
                    <th class="desktopview"><i class="intersecticon icon"></i></th>
                    <th class="desktopview"><i class="empty user large usericon icon"></i></th>
                    <th>RSVP</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="connection in viewevent.invitedPeople track by connection.id">
                    <td>
                        <h4 class="ui image header">
                            <img src="http://lorempixel.com/32/32" class="ui circular image">
                            <div class="content">
                                {{::connection.first_name}}, {{::connection.age}}
                            </div>
                        </h4>
                    </td>
                    <td class="desktopview">
                        <div class="tagline">{{::connection.tagline}}</div>
                    </td>
                    <td class="desktopview">{{::connection.match_score}}</td>
                    <td class="desktopview">{{::connection.mutual_friends}}</td>
                    <td>{{::connection.rsvp}}</td>
                    <td class="selected"><i ng-click="viewevent.removeInvite($index)" class="remove fade icon big circle outline red"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="ui large form segment" id="actionForm">
        <div id="actionButton" ng-click="viewevent.sendInvites()" ng-class="{'disabled': viewevent.counterNewInvites === 0}" class="ui green button sendInvites desktopview">Done</div>
    </div>
</div>
<script>
'use strict';
$('.menu .item')
    .tab();
</script>
