<div class="ui basic segment">
    <div class="ui form segment">
        <div class="field">
            <input class="border-bottom" placeholder="Event Name" type="text">
        </div>
        <div class="field">
            <input placeholder="Location" type="text">
        </div>
    </div>
    <div class="ui form segment">
        <div class="field">
            <input class="border-bottom" placeholder="Starts" type="text">
        </div>
        <div class="field">
            <input class="border-bottom" placeholder="Ends" type="text">
        </div>
        <div class="field">
            <input placeholder="Repeat" type="text">
        </div>
    </div>
    <div class="ui form segment icon-segment">
        <div class="field">
            <div class="fluid ui right labeled icon button">
                <i class="fa-angle-right fa icon fa-lg"></i> Costs
            </div>
        </div>
    </div>
    <div class="ui form segment icon-segment">
        <div class="field">
            <div class="fluid ui right labeled icon button">
                <i class="fa-angle-right fa icon fa-lg"></i> Invitations
            </div>
        </div>
    </div>
    <div class="ui form segment icon-segment">
        <div class="field">
            <div class="fluid ui right labeled icon button with-left-icon">
                <i class="fa-paperclip fa icon fa-lg left-icon"></i>
                <i class="fa-angle-right fa icon fa-lg"></i> Attachments
            </div>
        </div>
        <div class="ui divider" id="last-section"></div>
        <div class="field">
            <textarea rows="4" class="border-bottom" placeholder="Description"></textarea>
        </div>
    </div>
    <div id="actionButton" class="ui submit green button">Save</div>
</div>
