<div class="ui basic segment">
    <div class="ui positive message" ng-show="singleevent.showSuccess">
        <div class="header">
            New event was successfully created.
        </div>
    </div>
    <div class="ui negative message" ng-show="singleevent.showError">
        <div class="header">
            There was an error when trying to save your event.
        </div>
        <p ng-repeat="errormsg in singleevent.errorMessage track by $index">{{errormsg}}</p>
    </div>

    <div class="ui form segment">
        <div class="field">
            <input class="border-bottom" ng-model="singleevent.event.name" placeholder="Event Name" type="text">
        </div>
        <div class="field">
            <input placeholder="Location" ng-model="singleevent.event.location" type="text">
        </div>
    </div>
    <div class="ui form segment">
        <div class="field">
            <input class="border-bottom" placeholder="Starts" type="text" ng-model="singleevent.event.starts_on">
        </div>
        <div class="field">
            <input class="border-bottom" placeholder="Ends" type="text" ng-model="singleevent.event.ends_on">
        </div>
        <div class="field">
            <input placeholder="Repeat" type="text" ng-model="singleevent.event.repeat">
        </div>
    </div>
    <div class="ui form segment icon-segment">
        <div class="field">
            <div class="fluid ui right labeled icon button">
                <i class="fa-angle-right fa icon fa-lg"></i> Costs
            </div>
        </div>
    </div>
    <div class="ui form segment icon-segment">
        <div class="field">
            <div class="fluid ui right labeled icon button">
                <i class="fa-angle-right fa icon fa-lg"></i> Invitations
            </div>
        </div>
    </div>
    <div class="ui form segment icon-segment">
        <div class="field">
            <div class="fluid ui right labeled icon button with-left-icon">
                <i class="fa-paperclip fa icon fa-lg left-icon"></i>
                <i class="fa-angle-right fa icon fa-lg"></i> Attachments
            </div>
        </div>
        <div class="ui divider" id="last-section"></div>
        <div class="field">
            <textarea rows="4" class="border-bottom" placeholder="Description" ng-model="singleevent.event.description"></textarea>
        </div>
    </div>
    <div id="actionButton" ng-click="singleevent.saveEvent()" class="ui submit green button">Save</div>
</div>