<div class="ui basic segment">
    <form class="ui form">
        <div class="ui positive message" ng-show="viewevent.showSuccess">
            <div class="header">
                New event was successfully created.
            </div>
        </div>
        <div class="ui negative message" ng-show="viewevent.showError">
            <div class="header">
                Warning
            </div>
            <p ng-repeat="errormsg in viewevent.errorMessage track by $index">{{errormsg}}</p>
        </div>
        <div class="ui large form segment first" id="FirstSegment">
            <div class="field">
                <label>Event Name</label>
                <input auto-focus autocomplete="off" class="border-bottom" ng-model="viewevent.eventEdit.name" placeholder="{{::viewevent.placeholder.name}}" type="text" name="name">
            </div>
            <div class="field">
                <label>Location</label>
                <div class="ui icon input" id="locationInput2" ng-class="{'urlexists': viewevent.mapurlTrue}">
                    <input autocomplete="off" name="location" attach="'locationInput2'" google-places-autocomplete options="{types: ['geocode']}" placeholder="{{::viewevent.placeholder.location}}" ng-model="viewevent.eventLocation" type="text">
                    <i ng-click="viewevent.openMap()" class="marker large icon"></i>
                </div>
            </div>
        </div>
        <div class="ui large form segment" id="datePairEdit">
            <div class="field" ng-class="{'error': viewevent.startsTimeError}">
                <label>Starts</label>
                <div class="ui icon input" id="desktopStartsAt">
                    <input autocomplete="off" class="date start" ng-model="viewevent.starts_on_date" placeholder="{{::viewevent.placeholder.starts}}" type="text" name="starts_on_date">
                    <i class="calendar icon"></i>
                </div>
                <input name="starts_on" autocomplete="off" ng-change="viewevent.checkDatesStarts()" ng-class="{'fulldisplay': viewevent.eventEdit.starts_on !== '' && viewevent.eventEdit.starts_on !== null}" ng-if="viewevent.showMobile" id="startsAtDate" class="border-bottom" placeholder="Starts" type="datetime-local" ng-model="viewevent.eventEdit.starts_on">
                <input autocomplete="off" id="startsAtTime" class="time start" placeholder="{{::viewevent.placeholder.startsTime}}" type="text" ng-model="viewevent.starts_on_time" name="starts_on_time">
            </div>
            <div class="field" ng-class="{'error': viewevent.endsTimeError}">
                <label>Ends</label>
                <div class="ui icon input" id="desktopEndsAt">
                    <input autocomplete="off" class="date end" ng-model="viewevent.ends_on_date" placeholder="{{::viewevent.placeholder.ends}}" type="text" name="ends_on_date">
                    <i class="calendar icon"></i>
                </div>
                <input name="ends_on" autocomplete="off" ng-change="viewevent.checkDatesEnds()" ng-class="{'fulldisplay':  viewevent.eventEdit.ends_on !== '' && viewevent.eventEdit.ends_on !== null}" ng-if="viewevent.showMobile" id="endsAtDate" class="ui border-bottom" placeholder="Ends" type="datetime-local" ng-model="viewevent.eventEdit.ends_on">
                <input autocomplete="off" id="endsAtTime" class="time end" class="" placeholder="{{::viewevent.placeholder.endsTime}}" type="text" ng-model="viewevent.ends_on_time" name="ends_on_time">
            </div>
            <div class="field">
                <label>Repeat</label>
                <input autocomplete="off" name="repeat" id="repeat" placeholder="{{::viewevent.placeholder.repeat}}" type="text" ng-model="viewevent.eventEdit.repeat">
                <div class="ui icon input" id="desktopRepeatUntil">
                    <input autocomplete="off" class="simpledate" ng-model="viewevent.eventEdit.repeatUntil" placeholder="{{::viewevent.placeholder.repeatUntil}}" type="text">
                    <i class="calendar icon"></i>
                </div>
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field">
                <label>Costs</label>
                <div class="fluid ui right labeled icon button">
                    <i class="fa-angle-right fa icon large"></i> {{::viewevent.placeholder.costs}}
                </div>
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field">
                <label>Invitations</label>
                <div class="fluid ui right labeled icon button">
                    <i class="fa-angle-right fa icon large"></i> {{::viewevent.placeholder.invitations}}
                </div>
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field" id="attachmentsDesc">
                <label>Attachments</label>
                <div class="fluid ui right labeled icon button with-left-icon">
                    <i class="fa-paperclip fa icon large left-icon"></i>
                    <i class="fa-angle-right fa icon large"></i> {{::viewevent.placeholder.attachments}}
                </div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <label>Description</label>
                <textarea autocomplete="off" name="description" rows="4" class="border-bottom" placeholder="{{::viewevent.placeholder.description}}" ng-model="viewevent.eventEdit.description"></textarea>
            </div>
        </div>
        <div class="ui large form segment" id="actionForm">
            <div id="actionButton" ng-click="viewevent.updateEvent()" class="ui green button"><i class="fa fa-save icon"></i> Save Changes</div>
        </div>
    </form>
</div>

<script>
    'use strict';


// initialize input widgets first
$('#datePairEdit .time').timepicker({
    'showDuration': true,
    'timeFormat': 'H:i',
    'scrollDefaultNow': true
});

$('#datePairEdit .date').datepicker({
    'format': 'mm/dd/yyyy',
    'autoclose': true,
    'startDate': moment().format('MM/DD/YYYY'),
    'todayHighlight': true,
});

$('#datePairEdit .simpledate').datepicker({
    'format': 'mm/dd/yyyy',
    'autoclose': true,
    'startDate': moment().format('MM/DD/YYYY'),
    'todayHighlight': true,
});


// initialize datepair
$('#datePairEdit').datepair({
    defaultTimeDelta: 3600000,
});


</script>
