<h2 class="signup-step__title mb mt+">Connect your LinkedIn and <br> Twitter accounts</h2>
<p class="signup-step__subtitle">
  This will improve your match results within the Persice community.
  <br>
  <svg role="img" class="icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#icon-lock"></use>
  </svg>
  Persice will never share your information or post on your behalf.
</p>
<ul class="connect-media">
  <li>
    <div (click)="openUrl('twitter')" class="connect-media__url"
         [ngClass]="{'connect-media__url--activated': connectStatus.twitter.connected}">
      <svg role="img" class="icon icon--large icon--twitter">
        <use xlink:href="/assets/icons/icons.svg#icon-twitter-share"></use>
      </svg>
      <span class="connect-media__title connect-media__title--twitter">twitter</span>
    </div>
    <p class="connect-media__username"
       [ngClass]="{'connect-media__username--activated': connectStatus.twitter.connected}">
      {{connectStatus.twitter.username}}</p>
    <a id="linkedinLink" (click)="toggle('twitter')" [ngClass]="{'is-active': connectStatus.twitter.connected}"
       class="btn btn-1 btn-1--connect btn-1--connect--twitter btn--full btn--connect js-accept">
      <div class="btn--connect__label">Connect</div>
      <svg role="img" class="icon">
        <use xlink:href="/assets/icons/icons.svg#icon-success-2"></use>
      </svg>
    </a>
  </li>
  <li>
    <div (click)="openUrl('linkedin')" class="connect-media__url"
         [ngClass]="{'connect-media__url--activated': connectStatus.linkedin.connected}">
      <svg role="img" class="icon icon--large icon--linkedin">
        <use xlink:href="/assets/icons/icons.svg#icon-linkedin-share"></use>
      </svg>
      <span class="connect-media__title connect-media__title--linkedin">linkedin</span>
    </div>
    <p class="connect-media__username"
       [ngClass]="{'connect-media__username--activated': connectStatus.linkedin.connected}">
      {{connectStatus.linkedin.username}}</p>
    <a id="linkedinLink" (click)="toggle('linkedin')" [ngClass]="{'is-active': connectStatus.linkedin.connected}"
       class="btn btn-1 btn-1--connect btn-1--connect--linkedin btn--full btn--connect js-accept">
      <div class="btn--connect__label">Connect</div>
      <svg role="img" class="icon">
        <use xlink:href="/assets/icons/icons.svg#icon-success-2"></use>
      </svg>
    </a>
  </li>
</ul>
<a class="mr" href="#"></a>
<a href="#"></a>


<div id="loading_container" *ngIf="isInfoVisible">
  <div id="loading_shade"></div>
  <div id="loading_wrapper">
    <div id="loading_lightbox">
      <div id="loading_message">{{message}}</div>
      <img id="loading_image" src="/assets/images/loading.gif" alt="..." *ngIf="isLoading">
      <div id="loading_close" (click)="closeInfo($event)" *ngIf="!isLoading"></div>
    </div>
  </div>
</div>
