<div class="ui inverted top fixed menu" ng-controller="TopNavbarCtrl">
  <div class="container">
    <a class="launch item"><i class="content icon"></i></a>
    <div class="title item">
      <b>Kindred</b>
    </div>
    <div class="right menu" id="main-menu-right">
      <a ui-sref="home" class="item"><i class="fa fa-home"></i> Home</a>
      <a ui-sref="inbox" class="item"><i class="fa fa-envelope"></i> Inbox</a>
      <a ui-sref="matchfeed" class="item"><i class="fa fa-check-square-o"></i> Match Feed</a>
      <a ui-sref="myprofile" class="item"><i class="fa fa-user"></i> My Profile</a>
      <a ui-sref="myconnections" class="item"><i class="fa fa-plus"></i> My Connections</a>
      <div class="item">
        Welcome, USER
      </div>
      <div class="item">
        <a class="ui blue button">Sign out <i class="fa fa-sign-out"></i></a>
      </div>
    </div>
  </div>
</div>
