

<div class="segment" id="my-profile-header-edit" ng-hide="showModal || editGoal || editOffer || editInterest">
  <div class="container">
    <div class="ui attached segment">
      <div class="ui fluid primary button" ui-sref="myprofile">
        Back to My Profile
      </div>
    </div>
    <div class="ui segment">
      <div id="tiles" ng-cloak>
        <div class="ui image tile" ng-class="{'left floated medium tile-big': $index === 0, 'left floated small tile-small': $index === 1 || $index === 2 || $index === 4 || $index === 5, 'small tile-small': $index === 3 }"  ng-repeat="photo in user.photos track by $index" end-repeat ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
          <a href="" ng-click="$parent.userPhotoDelete = photo; $parent.userPhotoDeleteIndex = $index;" class="ui right corner delete_photo label" ng-show="photo.photo !== ''">
            <i class="close icon"></i>
          </a>
          <div class="tile-content" ng-show="photo.photo === ''">
            <div class="content">
              <div class="center">
                <a href="" ng-click="$parent.newPhotoIndex = $index; getFBAlbums();" class="ui compact icon button add_photo"><i class="circle add icon"></i> Add Photo</a>
              </div>
            </div>
          </div>
          <div style="background-image: url('{{photo.photo}}')" ng-if="photo.cropped_photo === ''" ng-drag="true" ng-drag-data="photo" class="img-bounding-box"> </div>
          <div style="background-image: url('{{photo.cropped_photo}}')" ng-if="photo.cropped_photo !== ''" ng-drag="true" ng-drag-data="photo" class="img-bounding-box"> </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="body segment edit" id="my-profile-body" ng-hide="showModal || editGoal || editOffer || editInterest">
  <div class="container">
    <div class="ui attached segment" id="my-profile-title">
      <h3 class="ui left floated header">
        {{ user.firstName }}<span ng-hide="user.firstName === ''">,</span> {{ user.age }}
      </h3>
    </div>
    <div class="ui attached segment" ng-class="{loading: loadingGoals || loadingOffers || loadingUser || loadingLikes || loadingInterests }">
      <h4 class="ui header">Goals</h4>
      <div class="ui large list">
        <div class="item" end-repeat ng-repeat="goal in user.goals track by $index">
          <div class="content">
            <div class="description">
              <div class="ui fluid search" rel="{{$index}}" ng-class="{'loading': goal.loading }">
                <div class="ui fluid leftright action input" ng-class="{'error': goal.error}">
                  <div class="ui red left icon button" ng-click="removeGoal($index)">
                    <i class="remove icon"></i>
                  </div>
                  <input type="text" class="prompt" ng-model="goal.subject" ng-change="needSaving($index)">
                  <div ng-show="goal.changed" class="ui blue right icon button" ng-click="saveCurrentGoal($index)">
                    <i class="save icon"></i>
                  </div>
                </div>
                <div class="results"></div>
              </div>
              <div class="ui red pointing fluid label visible transition" ng-if="goal.error">{{goal.errorMessage}}</div>
            </div>
          </div>

        </div>
      </div>
      <div class="ui fluid labeled blue button" ng-click="createNewGoal()">
        <i class="plus icon"></i>
        Create new Goal
      </div>

      <h4 class="ui header">Offers</h4>
      <div class="ui large list">
        <div class="item" ng-repeat="offer in user.offers track by $index">
          <div class="content">
            <div class="description">
              <div class="ui fluid leftright action input" ng-class="{'error': offer.error, 'loading': offer.loading }">
                <div class="ui red left icon button" ng-click="removeOffer($index)">
                  <i class="remove icon"></i>
                </div>
                <input type="text" ng-model="offer.subject" ng-change-on-blur="saveCurrentOffer($index)">
              </div>
              <div class="ui red pointing prompt fluid label visible transition" ng-if="offer.error">{{offer.errorMessage}}</div>

            </div>
          </div>

        </div>
      </div>
      <div class="ui fluid labeled blue button" ng-click="createNewOffer()">
        <i class="plus icon"></i>
        Create new Offer
      </div>



      <h4 class="ui header">About</h4>
      <form class="ui form" ng-class="{loading: loadingAbout}">
        <div class="field">
          <label></label>
          <textarea rows="3" ng-model="user.about_me" ng-blur="saveAbout()"></textarea>
        </div>
      </form>

      <h4 class="ui header">Activities &amp; Interests</h4>
      <div class="ui large list">
        <div class="item" ng-repeat="interest in user.interests track by $index">
          <div class="content">
            <div class="description">
              <div class="ui fluid leftright action input" ng-class="{'error': interest.error, 'loading': interest.loading }">
                <div class="ui red left icon button" ng-click="removeInterest($index)">
                  <i class="remove icon"></i>
                </div>
                <input type="text" ng-model="interest.description" ng-change-on-blur="saveCurrentInterest($index)">
              </div>
              <div class="ui red pointing prompt fluid label visible transition" ng-if="interest.error">{{interest.errorMessage}}</div>

            </div>
          </div>

        </div>
      </div>

      <div class="ui fluid labeled blue button" ng-click="createNewInterest()">
        <i class="plus icon"></i>
        Create new Interest
      </div>

      <h4 class="ui header">Likes</h4>
      <div class="ui list">
        <div class="item" ng-repeat="like in user.likes | limitTo:5 track by $index">
          <div class="content">
            <div class="description">{{ like.name }}</div>
          </div>
        </div>


      </div>


    </div>

    <div class="ui attached segment">
      <h4 class="ui header">Social Accounts</h4>

     <!--  <div class="ui facebook fluid button">
        <i class="facebook icon"></i>
        Connect Facebook
      </div>
      <br> -->

      <a href="/social/associate/twitter/" class="ui twitter fluid button" ng-if="twitter == ''">
        <i class="twitter icon"></i>
        Connect Twitter
      </a>
      <a href="https://twitter.com/{{ twitter }}" class="ui twitter fluid button" ng-if="twitter !== ''">
        <i class="twitter icon"></i>
        {{twitter}}
        <i class="check circle icon"></i>

      </a>
      <br>

      <a href="/social/associate/linkedin/" class="ui linkedin fluid button" ng-if="linkedin == ''">
        <i class="linkedin icon"></i>
        Connect LinkedIn
      </a>
      <a href="{{ linkedinUrl }}" class="ui linkedin fluid button" ng-if="linkedin !== ''">
        <i class="linkedin icon"></i>
        {{linkedin}}
        <i class="check circle icon"></i>
      </a>



    </div>

  </div>
</div>


<!-- modals -->

<div class="ui basic delete modal">
  <i class="close icon"></i>
  <div class="header">
    Please Confirm
  </div>
  <div class="content">

    <div class="description">
      <p>Are you sure you want to delete?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui green basic inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal" id="deletePhotoModal">
  <i class="close icon"></i>
  <div class="header">
    Please Confirm
  </div>
  <div class="content" ng-cloak>
    <img ng-src="{{userPhotoDelete.photo}}" class="ui image small" alt="">
    <div class="description">
      <p>Are you sure you want to delete your photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red basic inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <div ng-click="deletePhoto()" class="ui green basic inverted button">
        <i class="checkmark icon"></i>
        Yes
      </div>
    </div>
  </div>
</div>
<div class="body segment edit" id="my-profile-photos" ng-if="showModal" ng-cloak>
  <div class="container">
    <div class="ui attached segment">
      <div class="ui fluid primary button" ng-click="closeModal()">
        Back to Edit Profile
      </div>
    </div>


    <div class="ui attached segment" ng-class="{loading: albumsLoading}">
      <div class="ui dividing header" ng-show="currentAlbum == ''">Choose Facebook Album</div> <div class="ui dividing header" ng-show="currentAlbum != '' && showPhotos">Choose Photo</div>



      <div class="ui selection list" ng-hide="hideAlbums">
        <div class="item" ng-click="getFBPhotos(fbAlbum.id, fbAlbum.name)" ng-repeat="fbAlbum in facebookAlbums track by $index">
          <img class="ui tiny image" ng-src="{{fbAlbum.picture.data.url}}">
          <div class="content">
            <div  class="header">{{fbAlbum.name}}</div>
          </div>

        </div>
      </div>
      <div ng-show="hideAlbums" class="ui segment" ng-class="{loading: photosLoading}">
        <div class="fluid ui button" ng-click="backToAlbums()">Back to Albums</div>
        <h3 ng-show="showPhotos" class="ui header">{{currentAlbum}}</h3>
        <h3 ng-hide="showPhotos" class="ui header">Crop Photo</h3>
        <div class="ui selection list" ng-show="showPhotos">
          <div ng-click="showCrop($index)" class="item button ok" ng-repeat="fbPhoto in facebookPhotos track by $index">
            <img class="ui small image" ng-src="{{fbPhoto.source}}">
            <div class="content">
              <div class="header"></div>
            </div>
          </div>

        </div>

        <div ng-hide="showPhotos">
          <div class="cropArea">
            <img-crop image="myImage" result-image="myCroppedImage" area-type="square"></img-crop>
          </div>
          <br>
          <br>
          <br>
          <div class="ui fluid primary button" ng-click="createPhoto(myCroppedImage)">
            Save Photo
          </div>

        </div>



      </div>
    </div>
  </div>
</div>


<div class="body segment edit" id="my-profile-edit-items" ng-if="editGoal" ng-cloak>
  <div class="container">
    <div class="ui attached segment">
      <div class="ui fluid primary button" ng-click="closeEditGoal()">
        Back to Edit Profile
      </div>
    </div>


    <div class="ui attached segment">
      <div class="ui dividing header">Create Goal</div>

      <div class="ui attached warning message" id="warningmessage" ng-show="messageShow">
        <div class="header">
          Warning
        </div>
        <p>
          {{message}}
        </p>
      </div>

      <div class="ui basic segment">
        <div class="ui center aligned grid">
          <div class="row">
            <div class="search-wrapper ui icon large left input">
              <i class="fa fa-search fa-lg"></i>
              <div field-required="false" angucomplete-alt text-no-results="No existing goal found. Create new goal &raquo;" minlength="3" input-changed="inputChanged" match-class="highlight" selected-object="selectResult" description-field="description[3]" title-field="description" remote-url="/api/v1/subject/?format=json&description__icontains=" remote-url-data-field="objects" type="text" input-name="description" id="id_description" placeholder="Enter your goal here"></div>
            </div>
          </div>
          <div class="row">
            <a ng-click="createGoal()" class="ui button submit green" ng-class="{loading: loadingCreatingNew}" role="button">Save &rarr;</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="body segment edit" id="my-profile-edit-items" ng-if="editOffer" ng-cloak>
  <div class="container">
    <div class="ui attached segment">
      <div class="ui fluid primary button" ng-click="closeEditOffer()">
        Back to Edit Profile
      </div>
    </div>


    <div class="ui attached segment">
      <div class="ui dividing header">Create Offer</div>

      <div class="ui attached warning message" id="warningmessage" ng-show="messageShow">
        <div class="header">
          Warning
        </div>
        <p>
          {{message}}
        </p>
      </div>

      <div class="ui basic segment">
        <div class="ui center aligned grid">
          <div class="row">
            <div class="search-wrapper ui icon large left input">
              <i class="fa fa-search fa-lg"></i>
              <div field-required="false" angucomplete-alt text-no-results="No existing offer found. Create new offer &raquo;" minlength="3" input-changed="inputChanged" match-class="highlight" selected-object="selectResult" description-field="description[3]" title-field="description" remote-url="/api/v1/subject/?format=json&description__icontains=" remote-url-data-field="objects" type="text" input-name="description" id="id_description" placeholder="Enter your offer here"></div>
            </div>
          </div>
          <div class="row">
            <a ng-click="createOffer()" class="ui button submit green" ng-class="{loading: loadingCreatingNew}" ng-click="saveAbout()" role="button">Save &rarr;</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="body segment edit" id="my-profile-edit-items" ng-if="editInterest" ng-cloak>
  <div class="container">
    <div class="ui attached segment">
      <div class="ui fluid primary button" ng-click="closeEditInterest()">
        Back to Edit Profile
      </div>
    </div>


    <div class="ui attached segment">
      <div class="ui dividing header">Create Interest</div>

      <div class="ui attached warning message" id="warningmessage" ng-show="messageShow">
        <div class="header">
          Warning
        </div>
        <p>
          {{message}}
        </p>
      </div>

      <div class="ui basic segment">
        <div class="ui center aligned grid">
          <div class="row">
            <div class="search-wrapper ui icon large left input">
              <i class="fa fa-search fa-lg"></i>
              <div field-required="false" angucomplete-alt text-no-results="No existing interest found. Create new interest &raquo;" minlength="3" input-changed="interestChanged" ng-model="interest" match-class="highlight" selected-object="selectInterest" description-field="description[3]" title-field="description" remote-url="/api/v1/interest/?format=json&description__icontains=" remote-url-data-field="objects" type="text" input-name="description" id="id_description" placeholder="Enter your interest here"></div>
            </div>
          </div>
          <div class="row">
            <a ng-click="saveInterest()" class="ui button submit green" ng-class="{loading: loadingCreatingNew}" role="button">Save &rarr;</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<script>
  // $('.basic.delete.modal')
  // .modal('attach events', '.deleteitem', 'show')
  // ;
</script>
