<h2 class="signup-step__title">What interests you?</h2>
<p class="signup-step__subtitle">You can customize this later.</p>
<div class="search-signup-wrapper">
  <div class="search search--signup">
    <div class="search__top">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-search"></use>
      </svg>
      <input type="text" class="search__input" placeholder="Enter your interests or search existing">
      <button class="btn">
        <svg role="img" class="icon ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-plus-big"></use>
        </svg>
      </button>
    </div>
    <div class="has-search__drop">
      <div class="search__drop">
        <ul class="search__drop__results">
          <li><b>Lear</b>n to play the banjo</li>
          <li><b>Lear</b>n to paint</li>
          <li><b>Lear</b>n to ride a bike</li>
          <li><b>Lear</b>n to play the piano</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="search__tags-wrapper">
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag is-current">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
    <span class="search-tag">3D print</span>
    <span class="search-tag">Acting</span>
    <span class="search-tag">Animals</span>
    <span class="search-tag">Animation</span>
    <span class="search-tag">Aniques</span>
    <span class="search-tag">Archery</span>
    <span class="search-tag">Arcitecture</span>
    <span class="search-tag">Art</span>
  </div>
</div>
