<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" ng-app="beKindred">
<head>
    <meta charset="utf-8">
    <title>Kindred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,700">
    <!-- Favicons -->
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon-precomposed.png">
    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,src}) styles/app.css -->
    <link rel="stylesheet" href="app/index.css">
    <!-- endbuild -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- build:js(.) scripts/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <nav class="top-bar show-for-large-up" data-topbar>
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Kindred</a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Match Feed</a></li>
                            <li><a href="#">Filter Feed</a></li>
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My Connections</a></li>
                            <li><a href="#">Registration</a></li>
                            <li><a href="#">Photo</a></li>
                            <li class="has-form"><a href="/login.html" class="button tiny success radius">Welcome, User [Logout]</a></li>
                        </ul>
                    </section>
                </nav>
                <nav class="tab-bar hide-for-large-up">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">Friends</h1>
                    </section>
                </nav>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Kindred</label></li>
                        <li><a href="#">Welcome, User (Logout)</a> </li>
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Match Feed</a></li>
                        <li><a href="#">Filter Feed</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My Connections</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Photo</a></li>
                    </ul>
                </aside>
                <section class="main-section">
                    <div id="edit_profile_wrapper">
                        <section class="subtitle-wrapper">

                            <div class="tiles metro" ng-controller="PhotosController" ui-sortable ng-model="photos">
                                <div class="tile" ng-class="{'double double-vertical': $index == 0}" ng-repeat="photo in photos track by $index">
                                    <img src="{{photo.url}}" alt="">
                                </div>
                            </div>

                        </section>
                        <section class="profile-wrapper" id="user-info">
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <h3>Isaac, 23</h3>
                                    <hr>
                                </div>
                            </div>
                        </section>
                        <section class="profile-wrapper" id="user-other-info">
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <div class="goals">
                                        <h4>Goals</h4>
                                        <ul class="items">
                                            <li>
                                                <a href="/goals/user/create/goal/"><i class="fa fa-plus-circle"></i></a>
                                                Create new goal
                                            </li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <div class="offers">
                                        <h4>Offers</h4>
                                        <ul class="items">
                                            <li id="offer_71">
                                                <a data-reveal-id="deleteModal" href="#" class="delete-offer" id="71"><i class="fa fa-minus-circle"></i></a>
                                                <span id="offerName_71">asds</span>
                                                <a href="/goals/update/offer/71"><i class="fa fa-edit"></i></a>
                                            </li>
                                            <li>
                                                <a href="/goals/user/create/offer/"><i class="fa fa-plus-circle"></i></a>
                                                Create new offer
                                            </li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <div class="user_bio">
                                        <h4>About Me</h4>
                                        <div class="user_bio_content">
                                            None
                                            <a href="/goals/user/biography/update/2/"><i class="fa fa-edit"></i></a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <div class="user_interests">
                                        <h4>Activities &amp; Interests</h4>
                                        <ul class="items">
                                            <li>
                                                <a href="/interest/create/"><i class="fa fa-plus-circle"></i></a>
                                                Create new Interest or Activity
                                            </li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <div class="user_likes">
                                        <h4>Likes</h4>
                                        <ul class="items">
                                            <li>Facebook Engineering</li>
                                            <li>BBC Learning English</li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-12 large-12 text-left columns">
                                    <div class="social_accounts">
                                        <h4>Social accounts</h4>
                                        <a href="/social/associate/twitter/" class="small button radius btn-twitter">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="social-text">Connect Twitter</span>
                                        </a>
                                        <a href="/social/associate/linkedin/" class="small radius button btn-linkedin">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="social-text">Connect LinkedIn</span></a>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-12 large-12 text-left columns">
                                        <div class="social_accounts">
                                            <h4>Account</h4>
                                            <a data-reveal-id="myModal" role="button" data-reveal-ajax="true" href="/accounts/deactivate/" class="small button radius alert btn-delete">
                                                <span class="fa-stack fa-lg">
                                                    <i class="fa fa-circle fa-stack-2x"></i>
                                                    <i class="fa fa-remove fa-stack-1x fa-inverse"></i>
                                                </span>
                                                <span class="social-text">Delete Account</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </section>
                        <a class="exit-off-canvas"></a>
                    </div>
                </div>
                <div id="myModal" class="reveal-modal full" data-reveal>
                </div>
                <div id="deleteModal" class="reveal-modal full" data-reveal>
                    <div class="confirmation-header">
                        <h2>Please Confirm</h2>
                    </div>
                    <div class="confirmation-message">
                        <h3>Are you sure you want to delete <span id="objectName"></span> <strong><span id="deleteName"></span></strong>?</h3>
                        <a role="button" class="button success radius" href="#" onclick="$('#deleteModal').foundation('reveal', 'close');">Cancel</a>
                        <a role="button" data-object="" data-id="" data-url="" id="deleteLink" class="button alert radius">Delete</a>
                    </div>
                    <a class="close-reveal-modal" href="#">&#215;</a>
                </div>
                <!-- build:js(.) scripts/vendor.js -->
                <!-- bower:js -->
                <script src="bower_components/jquery/dist/jquery.js"></script>
                <script src="bower_components/angular/angular.js"></script>
                <script src="bower_components/angular-animate/angular-animate.js"></script>
                <script src="bower_components/angular-cookies/angular-cookies.js"></script>
                <script src="bower_components/angular-touch/angular-touch.js"></script>
                <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
                <script src="bower_components/angular-resource/angular-resource.js"></script>
                <script src="bower_components/fastclick/lib/fastclick.js"></script>
                <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
                <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
                <script src="bower_components/foundation/js/foundation.js"></script>
                <script src="bower_components/jquery-ui/jquery-ui.js"></script>
                <script src="bower_components/angular-ui-sortable/sortable.js"></script>
                <script src="bower_components/nouislider/jquery.nouislider.min.js"></script>
                <script src="bower_components/nouislider-angular/nouislider.js"></script>
                <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
                <script src="bower_components/moment/moment.js"></script>
                <script src="bower_components/angular-moment/angular-moment.js"></script>
                <script src="bower_components/underscore/underscore.js"></script>
                <script src="bower_components/foundation-notify/foundation-notify.js"></script>
                <!-- endbower -->
                <!-- endbuild -->
                <!-- build:js({src,.tmp}) scripts/app.js -->
                <script src="app/index.js"></script>
                <script src="app/services.js"></script>
                <script src="app/main/main.controller.js"></script>
                <!-- endbuild -->
                <script>
                    $(document).foundation();
                </script>
                <script>
                    'use strict';
                    $(document).ajaxSend(function(event, xhr, settings) {
                        function getCookie(name) {
                            var cookieValue = null;
                            if (document.cookie && document.cookie != '') {
                                var cookies = document.cookie.split(';');
                                for (var i = 0; i < cookies.length; i++) {
                                    var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });
$(document).ready(function(){
    $('#deleteLink').click(function(){
        var id = $(this).attr('data-id');
        var url = $(this).attr('data-url');
        var object = $(this).attr('data-object');
        $.ajax({
            type: "POST",
            url: url + id,
            contentType: 'text/plain',
            success: function(response){
                $('#' + object + '_' + id).remove();
                console.log(response.code);
                $('#deleteModal').foundation('reveal', 'close');
                $('.top-center').notify({
                    message: {text: $('#objectName').text() + ' ' +  $('#deleteName').text() + ' was deleted successfully.'}
                }).show();
                $('#deleteLink').attr('data-id', '');
                $('#deleteLink').attr('data-url', '');
                $('#deleteLink').attr('data-object', '');
            }
        });
        return false;
    });
    $('.delete-goal').click(function(){
        var goal_id = $(this).attr('id');
        var goal_name = $('#goalName_' + goal_id).text();
        $('#deleteLink').attr('data-id', goal_id);
        $('#deleteLink').attr('data-object', 'goal');
        $('#deleteLink').attr('data-url', '/goals/delete/goal/');
        $('#deleteName').text(goal_name);
        $('#objectName').text('Goal');
    });
    $('.delete-offer').click(function(){
        var offer_id = $(this).attr('id');
        var offer_name = $('#offerName_' + offer_id).text();
        $('#deleteLink').attr('data-id', offer_id);
        $('#deleteLink').attr('data-object', 'offer');
        $('#deleteLink').attr('data-url', '/goals/delete/offer/');
        $('#deleteName').text(offer_name);
        $('#objectName').text('Offer');
    });
    $('.delete-interest').click(function(){
        var interest_id = $(this).attr('id');
        var interest_name = $('#interestName_' + interest_id).text();
        $('#deleteLink').attr('data-id', interest_id);
        $('#deleteLink').attr('data-object', 'interest');
        $('#deleteLink').attr('data-url', '/interest/delete/');
        $('#deleteName').text(interest_name);
        $('#objectName').text('Interest');
    });
});
</script>
</body>
</html>