<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" ng-app="beKindred">
<head>
    <meta charset="utf-8">
    <title>Kindred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Favicons -->
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon-precomposed.png">
    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,src}) styles/app.css -->
    <link rel="stylesheet" href="app/index.css">
    <!-- endbuild -->
</head>
<body id="main-page">
    <div class="ui vertical left inverted labeled sidebar menu" id="menu">
        <a class="item"><i class="fa fa-home icon"></i> Home</a>
        <a class="item"><i class="fa fa-envelope icon"></i> Inbox</a>
        <a class="item"><i class="fa fa-check-square-o icon"></i> Match Feed</a>
        <a class="item"><i class="fa fa-user icon"></i> My Profile</a>
        <a class="item"><i class="fa fa-plus icon"></i> My Connections</a>
        <a class="item"><i class="fa fa-sign-out icon"></i> Sign out</a>
        <div class="item" id="side-menu-logo">
            <ul class="social-icon" id="intro-title">
                <li><a href="" class="facebook"><i class="fa fa-slideshare"></i></a></li>
                <li><h1>Kindred</h1></li>
            </ul>
        </div>

    </div>
    <div class="ui inverted top fixed menu">
        <div class="container">
            <a class="launch item"><i class="content icon"></i></a>
            <div class="title item">
                <b>Kindred</b>
            </div>
            <div class="right menu" id="main-menu-right">
                <a class="item"><i class="fa fa-home"></i> Home</a>
                <a class="item"><i class="fa fa-envelope"></i> Inbox</a>
                <a class="item"><i class="fa fa-check-square-o"></i> Match Feed</a>
                <a class="item"><i class="fa fa-user"></i> My Profile</a>
                <a class="item"><i class="fa fa-plus"></i> My Connections</a>
                <div class="item">
                 Welcome, USER
             </div>
             <div class="item">
                 <a class="ui blue button">Sign out <i class="fa fa-sign-out"></i></a>
             </div>
         </div>
     </div>
 </div>
 <div class="pusher">
    <div class="full-height">
            <!-- <div class=" header segment">
                <div class="container">
                    <div class="introduction">
                        <h1 class="ui header">
                            Reveal
                        </h1>
                        <p>A reveal displays additional content in place of previous content when activated</p>
                        <div class="ui divider"></div>
                    </div>

                </div>
            </div> -->

            <div class="main" id="main-section">
                <div class="ui huge header aligned center">Welcome to</div>

                <div class="ui center aligned grid">
                  <div class="wide column">

                     <ul class="social-icon" id="intro-title">
                        <li><a href="" class="facebook"><i class="fa fa-slideshare"></i></a></li>
                        <li><h1>Kindred</h1></li>
                    </ul>

                    <br>
                    <br>
                    <p><a href="/goal.html" class="ui green button huge">Start</a></p>



                </div>
            </div>

        </div>

    </div>
</div>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/nouislider/jquery.nouislider.min.js"></script>
<script src="bower_components/nouislider-angular/nouislider.js"></script>
<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-moment/angular-moment.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/ngDraggable/ngDraggable.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<!-- endbower -->
<!-- endbuild -->
<!-- build:js(.) scripts/semantic.js -->
<script src="bower_components/semantic-ui/dist/semantic.js"></script>
<!-- endbuild -->
<!-- build:js({src,.tmp}) scripts/app.js -->
<script src="app/index.js"></script>
<script src="app/services.js"></script>
<script src="app/main/main.controller.js"></script>
<!-- endbuild -->
<script>
    'use strict';
    $('.left.sidebar').first()
    .sidebar('attach events', '.launch')
    ;
    $('.launch')
    .removeClass('disabled')
    ;
</script>
</body>
</html>