<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" ng-app="beKindred">
<head>
    <meta charset="utf-8">
    <title>Kindred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,700">
    <!-- Favicons -->
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon-precomposed.png">
    <!-- build:css({.tmp,src}) styles/vendor.css -->
    <link rel="stylesheet" href="app/vendor.css">
    <!-- endbuild -->
    <!-- build:css({.tmp,src}) styles/app.css -->
    <link rel="stylesheet" href="app/index.css">
    <!-- endbuild -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- build:js(.) scripts/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body id="match">
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <nav class="top-bar show-for-large-up" data-topbar>
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Kindred</a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>
                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li><a href="#">Inbox</a></li>
                            <li><a href="#">Match Feed</a></li>
                            <li><a href="#">Filter Feed</a></li>
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">My Connections</a></li>
                            <li><a href="#">Registration</a></li>
                            <li><a href="#">Photo</a></li>
                            <li class="has-form"><a href="/login.html" class="button tiny success radius">Welcome, User [Logout]</a></li>
                        </ul>
                    </section>
                </nav>
                <nav class="tab-bar hide-for-large-up">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <h1 class="title">Kindred</h1>
                    </section>
                    <section class="right-small">
                        <a class="right-off-canvas-toggle menu-icon awesome" href="#"><i class="fa fa-sliders"></i></a>
                    </section>
                </nav>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Kindred</label></li>
                        <li><a href="#">Welcome, User (Logout)</a> </li>
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Match Feed</a></li>
                        <li><a href="#">Filter Feed</a></li>
                        <li><a href="#">My Profile</a></li>
                        <li><a href="#">My Connections</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Photo</a></li>
                    </ul>
                </aside>
                <aside class="right-off-canvas-menu" id="filter" ng-controller="FilterController">
                    <form class="form" method="get" action="{% url "matched" %}">
                        <div class="row">
                            <div class="small-12 columns one-slider">
                                <label for="distance" class="">Distance <span class="range">{{distanceValue}} mi.</span>
                                 <div no-ui-slider="distanceOptions" ng-model="distanceValue"></div>
                                 <input type="hidden" required="" ng-model="distanceValue" name="distance">
                             </label>
                         </div>
                     </div>
                     <div class="row">
                        <div class="small-12 columns two-slider">
                            <label>Age <span class="range">{{ageValues[0]}} &ndash; {{ageValues[1]}}</span>

                                <div no-ui-slider="ageOptions" ng-model="ageValues"></div>
                                <input type="hidden" required="" ng-model="ageValues[0]" name="min_age">
                                <input type="hidden" required="" ng-model="ageValues[1]" name="max_age">

                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-3 columns">
                            <label for="right-label" class="right inline">Show</label>
                        </div>
                        <div class="small-9 right columns">
                            <div class="row">
                                <div class="small-12 right columns">
                                    <div class="switch round small right">
                                        <input id="Male" type="checkbox" name="gender" checked="" value="m">
                                        <label for="Male"></label>
                                    </div>
                                    <h5 class="right switch_label">Men</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 right columns">
                                    <div class="switch round small right">
                                        <input id="Female" type="checkbox" name="gender" checked="" value="f">
                                        <label for="Female"></label>
                                    </div>
                                    <h5 class="right switch_label">Women</h5>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <label for="">Keywords</label>
                            <div class="search-wrapper">
                                <i class="fa fa-search fa-lg"></i>
                                <input on-enter-blur ng-enter="addKeyword(newKeyword)" ng-model="newKeyword" type="text" name="newKeyword" id="id_newKeyword" placeholder="enter new keyword">
                            </div>


                            <div class="keywords">
                                <ul class="simple">
                                    <li ng-repeat="keyword in keywords track by $index">
                                        <span class="icon"><a href="" ng-click="removeKeyword(index)"><i class="fa fa-times-circle"></i></a></span>{{keyword}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 right columns">
                            <button type="submit" class="small success radius block" role="button">Filter</button>
                        </div>
                    </div>
                </form>
            </aside>
            <section class="main-section">
                <section class="match" id="match-main">
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="left user-photo">
                                <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="#" class="profile-picture">
                            </div>
                            <div class="left user-description">
                                <div class="user-info">
                                    <h4>Isaac, 31</h4>
                                    <h7 class="subheader">3 miles</h7>
                                </div>
                                <div class="user-icons">
                                    <ul class="small-block-grid-4">
                                        <li>
                                            <span><i class="fa fa-check fa-lg"></i></span>
                                            <span>0</span>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-users fa-lg"></i></span>
                                            <span>133</span>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-star fa-lg"></i></span>
                                            <span>143</span>
                                        </li>
                                        <li>
                                            <span><i class="fa fa-chain fa-lg"></i></span>
                                            <span>133</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row goals">
                        <div class="medium-12 columns">
                            <h5>Goals</h5>
                            <ul class="simple">
                                <li><span class="icon"><i class="fa fa-check"></i></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row offers">
                        <div class="medium-12 columns">
                            <h5>Offers</h5>
                            <ul class="simple">
                                <li><span class="icon"></i></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row about">
                        <div class="medium-4 small-12 columns">
                            <h5>About</h5>
                            <p class="justify">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum non nihil deleniti, expedita tempore assumenda blanditiis quidem facilis, impedit voluptatibus, ratione doloribus error! Eligendi voluptas eum odit, laboriosam quibusdam ipsa.
                            </p>
                        </div>
                    </div>
                    <div class="row likes">
                        <div class="medium-12 columns">
                            <h5>Likes</h5>
                            <ul class="simple">
                                <li><span class="icon"><i class="fa fa-check"></i></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row about">
                        <div class="medium-12 columns">
                            <h5>Activities &amp; Interests</h5>
                            <ul class="simple">
                                <li><span class="icon"><i class="fa fa-check"></i></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                                <li><span class="icon"></span>Learn to speak Spanish</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mutual">
                        <div class="medium-12 columns">
                            <h5>Mutual Friends</h5>
                            <ul class="small-block-grid-4 medium-block-grid-8 large-block-grid-10">
                                <li>
                                    <div class="left mutual-friend-photo">
                                        <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="">
                                        <h6>Pero Peric</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="left mutual-friend-photo">
                                        <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="">
                                        <h6>Pero Peric</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="left mutual-friend-photo">
                                        <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="">
                                        <h6>Pero Peric</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="left mutual-friend-photo">
                                        <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="">
                                        <h6>Pero Peric</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="left mutual-friend-photo">
                                        <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="">
                                        <h6>Pero Peric</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="left mutual-friend-photo">
                                        <img src="http://graph.facebook.com/100008382799410/picture?type=large" alt="">
                                        <h6>Pero Peric</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section id="match-footer">
                    <div class="row">
                        <div class="medium-12 small-centered columns">
                            <div class="icon-services red">
                                <a class="" href="/" id="left_button">
                                    <i class="fa fa-thumbs-down fa-lg"></i>
                                </a>
                            </div>
                            <div class="icon-services green">
                                <a href="/" id="accept_button">
                                    <i class="fa fa-thumbs-up fa-lg"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <a class="exit-off-canvas"></a>
        </div>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/nouislider/jquery.nouislider.min.js"></script>
    <script src="bower_components/nouislider-angular/nouislider.js"></script>
    <script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({src,.tmp}) scripts/app.js -->
    <script src="app/index.js"></script>
    <script src="app/services.js"></script>
    <script src="app/main/main.controller.js"></script>
    <!-- endbuild -->
    <script>
        $(document).foundation();
    </script>
</body>
</html>