<button data-remodal-action="close" class="remodal-close">
  <svg role="img" class="icon ">
    <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-close"></use>
  </svg>
</button>
<div class="swiper-container gallery-top">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="#photo of photos" [ngStyle]="{'background-image': 'url(' + photo.photo + ')'}"></div>
  </div>
</div>
<div class="modal-gallery__arrow modal-gallery__arrow--prev"></div>
<div class="modal-gallery__arrow modal-gallery__arrow--next"></div>
<div class="swiper-container gallery-thumbs">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="#photo of photos" [ngStyle]="{'background-image': 'url(' + photo.photo + ')'}"></div>
  </div>
</div>
