<div class="ui fixed borderless menu center" id="edittopmenu">
    <div class="left menu">
        <a class="ui item" ui-sref="events.mynetwork"><i class="left chevron icon"></i></a>
    </div>
    <div class="header item">Event Details</div>
    <div class="right menu">
        <a class="ui item" ng-click="eventpage.saveEvent();" ng-if="isState('event.create') || (isState('event.edit') && eventpage.isHost.option)">Save</a>
        <a class="ui item" ng-click="eventpage.editEvent();" ng-if="isState('event.details') && eventpage.isHost.option">Edit</a>
    </div>
</div>

<div ui-view></div>