<a href="#" class="search__drop__flag flag">
  <div class="flag__img">
    <div class="avatar-holder js-image-liquid" image-stretch>
      <img [src]="user.image" alt="User name" class="avatar avatar--small">
    </div>
  </div>
  <div class="flag__body">
    <h6 class="search__flag__title">{{user.firstName}}, {{user.matchScore}}% match</h6>
    <p class="search__flag__desc">{{user.gender | gender}} / Age {{user.age}} / {{user.distanceValue}} {{user.distanceUnit}} / {{user.mutualFriends}} mutual friends</p>
  </div>
</a>
