<div class="headersmall segment">
  <div class="container">
    <h3 class="ui center aligned header">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-stack-1x fa-inverse">1</i>
      </span>
      Create Goal
    </h3>
  </div>
</div>
<div class="body segment">
  <div class="container">
    <h2 class="ui center aligned header">My goal is to...</h2>
    <div class="ui basic segment">
      <div class="ui center aligned grid">
        <div class="row">
          <div class="ui search">
            <div class="ui large fluid icon input">
              <input class="prompt" type="text" ng-model="subject" placeholder="Enter your goal here...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
        <div class="row">
          <a ng-click="createGoal()" class="ui button submit green big" role="button">Next &rarr;</a>
        </div>
      </div>
    </div>
    <div class="ui secondary segment">
      <h3>Here are some examples</h3>
      <p>
        <ul class="unstyled">
          <li>&quot;Learn to play tennis&quot;</li>
          <li>&quot;Find a running partner&quot;</li>
          <li>&quot;Hire a cat sitter&quot;</li>
          <li>&quot;Move my 500 lb sofa&quot;</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<script>
  'use strict';
  $('.ui.search').search({
    apiSettings: {
        url: 'custom-search/?q={query}'
      },
    ],
    searchFields   : [
    'title'
    ],
    searchFullText: true
  });
</script>
