<div class="ui fixed borderless menu center" id="mainheadermenu">

  <div class="header item"><span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-stack-1x fa-inverse">2</i>
  </span>
  Create a goal</div>
  <div class="right menu">
    <div class="ui item" id="nextButton">
      <div ng-click="createGoal()" ng-class="{'disabled': subject === ''}" class="ui button green">Next &raquo;</div>
    </div>
  </div>
</div>
<div class="ui grid fullheight">

  <div class="row">
    <div class="wide column">

      <div class="body segment">

        <h2 class="ui header dividing center aligned desktopview">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse">2</i>
          </span>
          <div class="content">
            Create a goal
          </div>
          <div ng-click="createGoal()" id="nextButtonDesktop" ng-class="{'disabled': subject === ''}" class="ui button green">Next &raquo;</div>

        </h2>

        <h2 class="ui center aligned header withborder">My goal is to...<hr></h2>
        <div class="ui attached warning message" id="warningmessage" ng-show="messageShow">
          <div class="header">
            Warning
          </div>
          <p>
            {{message}}
          </p>
        </div>

        <div class="ui basic segment">
          <div class="ui center aligned grid">
            <div class="row">
              <div class="search-wrapper">
                <div field-required="false" angucomplete-alt text-no-results="No existing goal found. Create new goal &raquo;" minlength="3" input-changed="inputChanged" match-class="highlight" selected-object="selectResult" description-field="description[3]" title-field="description" remote-url="/api/v1/subject/?format=json&description__icontains=" remote-url-data-field="objects" type="text" input-name="description" id="id_description" placeholder="enter your goal here"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui secondary segment" id="instructions" ng-hide="subject !== ''">
          <h4>This should be something you want other people to help you with.</h4>
          <br>
          <h4>For example:</h4>
          <p>
            <ul class="unstyled">
              <li>&quot;Learn to play tennis&quot;</li>
              <li>&quot;Find a running partner&quot;</li>
              <li>&quot;Hire a cat sitter&quot;</li>
              <li>&quot;Move my sofa upstairs&quot;</li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>