<div class="layout layout--flush content" [ngClass]="{'is-hidden': profileViewActive}">
  <div class="layout__item 3/4 extralarge-and-up-4/5">
    <h3 *ngIf="!loading && emptyList">No results...</h3>
    <users-list [showButtons]="0" [users]="items" (onClicked)="viewFriendProfile($event)"></users-list>
    <loading [status]="loading"></loading>
  </div>
  <div class="layout__item 1/4 extralarge-and-up-1/5 filter-place">
    <filters></filters>
  </div>
</div>

<profile-friend [count]="total_count" (previousEvent)="previousProfile($event)" (nextEvent)="nextProfile($event)" *ngIf="profileViewActive" [user]="selectedUser" (closeprofileEvent)="closeProfile($event)">
</profile-friend>
