<div class="mob-signup-step-type">
  <h1 class="mob-signup-step-title">Connect your Linkedin and Twitter accounts</h1>
  <p class="mob-signup-step-par">
    This will improve your match result within the Persice community.
  </p>
  <p class="mob-signup-step-par mb">
    <svg role="img" class="icon ">
      <use xlink:href="assets/icons/icons.svg#icon-lock_slim"></use>
    </svg>
    Persice will never share your information or post on your behalf.
  </p>
  <ul class="mob-signup-connect-net">
    <li>
      <div (click)="openUrl('twitter')" class="connect-media__url"
           [ngClass]="{'connect-media__url--activated': connectStatus.twitter.connected}">
        <svg role="img" class="icon icon--extralarge icon--twitter">
          <use xlink:href="assets/icons/icons.svg#twitter_big"></use>
        </svg>
      </div>
      <p class="connect-media__username"
         [ngClass]="{'connect-media__username--activated': connectStatus.twitter.connected}">
        {{connectStatus.twitter.username}}</p>
      <a id="twitterLink" (click)="toggle('twitter')" [ngClass]="{'is-active': connectStatus?.twitter.connected}"
         class="btn btn-1 btn-1--connect btn-1--connect--twitter btn--full btn--connect js-accept">
        <div class="btn--connect__label">Connect</div>
        <svg role="img" class="icon">
          <use xlink:href="assets/icons/icons.svg#icon-success-2"></use>
        </svg>
      </a>
    </li>
    <li>
      <div (click)="openUrl('linkedin')" class="connect-media__url"
           [ngClass]="{'connect-media__url--activated': connectStatus.linkedin.connected}">
        <svg role="img" class="icon icon--extralarge icon--linkedin">
          <use xlink:href="assets/icons/icons.svg#linkedin_big"></use>
        </svg>
      </div>
      <p class="connect-media__username"
         [ngClass]="{'connect-media__username--activated': connectStatus.linkedin.connected}">
        {{connectStatus.linkedin.username}}</p>
      <a id="linkedinLink" (click)="toggle('linkedin')" [ngClass]="{'is-active': connectStatus.linkedin.connected}"
         class="btn btn-1 btn-1--connect btn-1--connect--linkedin btn--full btn--connect js-accept">
        <div class="btn--connect__label">Connect</div>
        <svg role="img" class="icon">
          <use xlink:href="assets/icons/icons.svg#icon-success-2"></use>
        </svg>
      </a>
    </li>
  </ul>
  <a (click)="skip($event)" class="mob-signup-skip-step">
    Skip this step
    <svg role="img" class="icon ">
      <use xlink:href="assets/icons/icons.svg#icon-arrow_right"></use>
    </svg>
  </a>
</div>

<div id="loading_container" *ngIf="isInfoVisible">
  <div id="loading_shade"></div>
  <div id="loading_wrapper">
    <div id="loading_lightbox">
      <div id="loading_message">{{message}}</div>
      <img id="loading_image" src="assets/images/loading.gif" alt="..." *ngIf="isLoading">
      <div id="loading_close" (click)="closeInfo($event)" *ngIf="!isLoading"></div>
    </div>
  </div>
</div>
