<header class="header-signup">
  <div class="layout layout--middle">
    <div class="layout__item 2/3">
      <div class="layout layout--auto">
        <div class="layout__item">
          <div class="header-signup__logo-place">
            <a class="site-logo" href="/signup">
              <img alt="#" src="/static/persiceApp/src/assets/images/logo.svg" class="site-logo__mark">
              <h1 class="site-logo__type">Persice</h1>
            </a>
          </div>
        </div>
        <div class="layout__item">
          <ul class="header-signup__steps">
            <li *ngIf="page >= 1"><a [routerLink]="['./SignupInterests']"><b>{{counterInterests}}</b> interests</a></li>
            <li *ngIf="page >= 2"><a [routerLink]="['./SignupGoals']"><b>{{counterGoals}}</b> goals</a></li>
            <li *ngIf="page >= 3"><a [routerLink]="['./SignupOffers']"><b>{{counterOffers}}</b> offers</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="layout__item 1/3 text-right pr">
      <a *ngIf="showSkip" (click)="skip.next($event)" class="link--darkgrey mr">Skip</a>
      <a (click)="next.next($event)" class="btn btn-1 btn-1--green btn-1--medium ">{{nextTitle}}</a>
    </div>
  </div>
</header>
