<a class="card card--event">
  <div class="card--event__inside js-match-height-1">
    <div class="card--event__img">
      <div class="card--event__img__holder js-image-liquid">
        <img src="http://lorempixel.com/output/sports-q-c-300-200-5.jpg" alt="Event title">
      </div>
    </div>
    <div class="card--event__info">
      <div class="layout">
        <div class="layout__item 1/2 text-left"> Tue, 12 June </div>
        <div class="layout__item 1/2 text-right"> 6K Miles </div>
      </div>
    </div>
    <h4 class="card-title mb-">Python developers meetup developers meetup</h4>
    <p class="card-subtitle mb">New York University / New York</p>
  </div>
  <div class="card__stat">
    <div class="layout layout--flush">
      <div class="layout__item 1/2"> <span class="card-stat__value">27%</span> <span class="card-stat__label">Similar</span> </div>
      <div class="layout__item 1/2"> <span class="card-stat__value">8</span> <span class="card-stat__label">Connections</span> </div>
    </div>
  </div>
</a>
