<div class="user-card">
  <div class="flag flag--small">
    <div class="flag__img">
      <div class="avatar-place">
        <div class="avatar avatar--small" checkimage="{{person.image}}" [suffix]="'.56x56_q100_crop.jpg'">
        </div>
      </div>
    </div>
    <div class="flag__body">
      <div class="user-card__similarity">
        <span class="user-card__similarity__value">
          <svg role="img" class="icon icon--extratiny">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-mob-similar"></use>
          </svg> {{person.score}}&deg;
        </span>
        <span class="user-card__similarity__label">Similar</span>
      </div>
      <div class="user-card__name"> {{person.first_name}} </div>
      <div class="user-card__user-details">
        {{person.gender === 'm' ? 'male' : 'female'}} / Age {{person.age}} / {{person.distance[0]}} {{person.distance[1]}}
      </div>
    </div>
  </div>
</div>
