<div class="network-container bg-gray-3" *ngIf="type !== 'my-profile'">
  <div class="mob-user-card-title" *ngIf="mutualConnectionsCount > 0"> Mutual connections ({{mutualConnectionsCount}}) </div>
  <div class="user-card" *ngFor="let item of connectionsMutualPersice">
    <div class="flag flag--top flag--small">
      <div class="flag__img">
        <div class="avatar-place">
          <div class="avatar avatar--small cover-background" checkimage="{{item.image}}" [suffix]="'.56x56_q100_crop.jpg'"></div>
          <svg role="img" class="icon avatar-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-persice"></use>
          </svg>
        </div>
      </div>
      <div class="flag__body">
        <div class="user-card__name"> {{item.first_name}} </div>
        <a (click)="openNewConversationFromMutualConnections(item)" class="user-card__send-message">
          <svg role="img" class="icon ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-menu-messages"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <a href="https://twitter.com/{{item.screen_name}}" target="_new"
 class="user-card" *ngFor="let item of connectionsMutualFacebook">
    <div class="flag flag--top flag--small">
      <div class="flag__img">
        <div class="avatar-place">
          <div class="avatar avatar--small cover-background" [ngStyle]="{'background-image': 'url(' + '//graph.facebook.com/' + item.facebook_id + '/picture?type=square' + ')'}"></div>
          <svg role="img" class="icon avatar-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-facebook"></use>
          </svg>
        </div>
      </div>
      <div class="flag__body">
        <div class="user-card__name"> {{item.first_name}} </div>
      </div>
    </div>
  </a>
  <a href="{{item.public_profile_url}}" target="_new" class="user-card" *ngFor="let item of connectionsMutualLinkedin">
    <div class="flag flag--top flag--small">
      <div class="flag__img">
        <div class="avatar-place">
          <div class="avatar avatar--small cover-background" [ngStyle]="{'background-image': 'url(' + item.pictureUrls.values[0] + ')'}"></div>
          <svg role="img" class="icon avatar-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-linkedin"></use>
          </svg>
        </div>
      </div>
      <div class="flag__body">
        <div class="user-card__name"> {{item.firstName}} </div>
      </div>
    </div>
  </a>
  <a href="https://twitter.com/{{item.screen_name}}" target="_new" class="user-card" *ngFor="let item of connectionsMutualTwitterFollowers">
    <div class="flag flag--top flag--small">
      <div class="flag__img">
        <div class="avatar-place">
          <div class="avatar avatar--small cover-background" [ngStyle]="{'background-image': 'url(' + item.profile_image_url + ')'}"></div>
          <svg role="img" class="icon avatar-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-twitter"></use>
          </svg>
        </div>
      </div>
      <div class="flag__body">
        <div class="user-card__name"> {{item.name}} </div>
      </div>
    </div>
  </a>
  <a href="https://twitter.com/{{item.screen_name}}" target="_new" class="user-card" *ngFor="let item of connectionsMutualTwitterFriends">
    <div class="flag flag--top flag--small">
      <div class="flag__img">
        <div class="avatar-place">
          <div class="avatar avatar--small cover-background" [ngStyle]="{'background-image': 'url(' + item.profile_image_url + ')'}"></div>
          <svg role="img" class="icon avatar-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-twitter"></use>
          </svg>
        </div>
      </div>
      <div class="flag__body">
        <div class="user-card__name"> {{item.name}} </div>
      </div>
    </div>
  </a>
</div>
<div class="network-container bg-gray-3" *ngIf="type === 'my-profile'" prs-infinite-scroll (scrolled)="loadMoreConnections($event)" [scrollEnabled]="!loadingConnections || connectionsNext === null" [bottomOffset]="60">
  <div class="mob-user-card-title" *ngIf="connectionsCount > 0">
    Connections ({{connectionsCount}})
  </div>
  <prs-mobile-user-card [isNewConnectionDisabled]="1" [showSendMessage]="1" (onOpenNewConversation)="openNewConversation($event)" [person]="person" *ngFor="let person of connections">
  </prs-mobile-user-card>
</div>
<prs-loading [status]="loadingConnections"></prs-loading>
