<div class="ui fixed borderless menu center" id="edittopmenu">
    <div class="left menu">
        <a class="ui item" ng-click="eventpage.gotoPreviousState();"><i class="left chevron icon"></i></a>
    </div>
    <div class="header item" ng-bind-html="eventpage.header"></div>
    <div class="right menu">
        <a class="ui item" ng-click="eventpage.makeactionEvent();">
            <span ng-show="isState('event.create') || (isState('event.edit') && eventpage.isHost.option && !isState('event.edit.invitations'))">Save <div ng-if="eventpage.loadingSave" class="ui active mini inline loader"></div></span>
            <span ng-show="isState('event.details') && eventpage.isHost.option">Edit</span>
            <span ng-show="isState('event.edit.invitations')">Done</span>
        </a>
    </div>
</div>

<div ui-view></div>