<div class="ui basic segment">
    <div class="ui grid" ng-cloak ng-hide="isState('event.create.invitations')">
        <div class="row">
            <div class="wide column">
                <ng-include src="'components/event/event.tpl.html'"></ng-include>
            </div>
        </div>
    </div>
    <div ui-view></div>
    <div class="ui active inverted dimmer" ng-if="singleevent.loadingSave">
        <div class="ui text loader">Creating event <span ng-if="singleevent.selectedPeople.length > 0">and sending invitations...</span></div>
    </div>
</div>
