<div class="ui grid">
    <div class="row">
        <div class="wide column">
            <!-- mobile menu -->
            <div class="ui fluid secondary menu center-aligned" id="eventsMobileNav">
                <a class="item" ui-sref="events.myevents.list" ng-class="{'active': isState('events.myevents')}">
                    MY EVENTS
                </a>
                <a class="item" ui-sref="events.mynetwork.list" ng-class="{'active': isState('events.mynetwork')}">
                    MY NETWORK
                </a>
                <a class="item" ui-sref="events.allevents.list" ng-class="{'active': isState('events.allevents')}">
                    ALL EVENTS
                </a>
            </div>
            <!-- desktop menu -->
            <div class="ui secondary pointing menu" id="eventsDesktopNav">
                <a class="item" ui-sref="events.myevents.list" ng-class="{'active': isState('events.myevents')}">
                    MY EVENTS
                </a>
                <a class="item" ui-sref="events.mynetwork.list" ng-class="{'active': isState('events.mynetwork')}">
                    MY NETWORK
                </a>
                <a class="item" ui-sref="events.allevents.list" ng-class="{'active': isState('events.allevents')}">
                    ALL EVENTS
                </a>
                <div class="right menu">
                    <a class="ui button small labeled green icon" ng-click="eventspage.showEventModal()"> <i class="fa fa-plus-circle icon"></i> Create</a>
                </div>
            </div>
            <div class="ui secondary pointing menu" id="eventsDesktopSubNav">
                <div class="item"></div>
                <div class="right menu">
                    <a class="item icon" ng-click="eventspage.viewList()" ng-class="{'active': isState('events.myevents.list') || isState('events.mynetwork.list') || isState('events.allevents.list')}">
                        <i class="fa large fa-list icon"></i>
                    </a>
                    <a class="item icon">
                        <i class="fa large fa-calendar icon"></i>
                    </a>
                    <a class="item" ng-click="eventspage.viewMap()" ng-class="{'active': isState('events.myevents.map') || isState('events.mynetwork.map') || isState('events.allevents.map')}">
                        <i class="fa large fa-map-marker icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>

<!-- modal for creating events -->
<ui-event-create-modal show="eventspage.showModal"></ui-event-create-modal>
<ui-event-view-modal show="eventspage.showViewModal" eventid="eventspage.viewEvent"></ui-event-view-modal>


