<div class="user-profile">
  <div class="user-profile__avatar">
    <div class="avatar-holder js-image-liquid" [style.background-image]="'url(' + image + ')'">
    </div>
  </div>
  <div class="user-profile__arrow">
    <svg class="icon" version="1.1" id="Layer_15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M28.748,16.645l-6.969,7.024c-0.102,0.102-0.222,0.175-0.349,0.223
  c-0.362,0.149-0.794,0.078-1.088-0.217l-7.039-7.014c-0.391-0.391-0.391-1.024,0-1.414c0.391-0.391,1.024-0.391,1.414,0l6.336,6.314
  l6.281-6.329c0.391-0.391,1.024-0.391,1.414,0C29.138,15.622,29.138,16.255,28.748,16.645z" />
    </svg>
  </div>
  <div class="dropdown-basic" id="profileDropdown">
    <ul class="list-bare">
      <li><a href="/signup/">My profile</a></li>
      <li><a href="/signup/">Settings</a></li>
      <li><a href="/signup/">Signup</a></li>
      <li><a href="/accounts/logout/">Logout</a></li>
    </ul>
  </div>
</div>
