<div id="connectionPage">
    <div class="ui fixed borderless menu" id="headermenu">
        <a class="icon item" ui-sref="myconnections"><i class="left chevron icon"></i></a>
        <h3 class="ui center aligned header">{{ user.firstName }}</h3>
    </div>

    <div class="ui fixed menu" id="submenu">
        <div class="3 fluid large ui buttons">
            <a ui-sref="conversations({ userId: user.id })" class="ui leftalign button"><i class="fa fa-comment-o icon"></i></a>
            <a ui-sref="friendprofile({ userId: user.id })" ng-class="{'active': middleActive}" class="ui button"><i class="fa fa-user icon"></i></a>
            <a class="ui button rightalign dropdown"><i class="fa fa-ellipsis-h icon"></i>
                <div class="menu" id="friendmenu">
                    <div class="item">
                        Get Introduced
                    </div>
                    <div class="item">
                        Add to Group
                    </div>
                    <div class="item">
                        Arrange Meetup
                    </div>
                    <div class="item">
                        Flag as Inappropriate
                    </div>
                    <div class="item deleteconnection">
                        Remove Connection
                    </div>
                </div>
            </a>


        </div>
    </div>

    <div class="ui grid fullheight">

      <div class="row">
        <div class="wide column">

            <div class="header segment with-menu" id="friendprofileheader">
                <div class="pagination-container">
                    <div id="PhotoSlider" ng-if="photosSlider.length > 0">

                        <ul rn-carousel rn-carousel-index="carouselIndex2">
                            <li ng-repeat="item in photosSlider | orderBy:'order' track by $index">
                                <img ng-show="item.cropped_photo === ''" class="img-bounding-box-full-width" ng-src="{{item.photo}}"/>
                                <img ng-show="item.cropped_photo !== ''" class="img-bounding-box-full-width" ng-src="{{item.cropped_photo}}"/>
                            </li>
                        </ul>

                        <div class="carousel-indicators" rn-carousel-indicators ng-if="photosSlider.length > 1" slides="photosSlider" rn-carousel-index="carouselIndex2"></div>
                    </div>
                </div>
            </div>

            <div class="body segment" id="matched-profile-body">
                <div class="ui top attached segment">
                    <h3 class="ui left floated header">
                        {{ user.firstName }}<span ng-hide="user.firstName === ''">,</span>  {{ user.age }}
                    </h3>

                </div>
                <div class="ui attached segment" ng-class="{loading: loadingGoals || loadingOffers || loadingUser || loadingLikes || loadingInterests}">
                    <h4 class="ui header">Goals</h4>
                    <div class="ui list">
                        <div class="item" ng-repeat="goal in user.goals | orderBy:['-match'] track by $index">
                            <i class="icon" ng-class="{'stop smallicon': goal.match === 1, 'empty smallicon': goal.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ goal.value }}</div>
                            </div>
                        </div>
                        <p ng-if="user.goals.length === 0">No goals yet.</p>
                    </div>
                    <h4 class="ui header">Offers</h4>
                    <div class="ui list">
                        <div class="item" ng-repeat="offer in user.offers | orderBy:['-match'] track by $index">
                            <i class="icon" ng-class="{'stop smallicon': offer.match === 1, 'empty smallicon': offer.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ offer.value }}</div>
                            </div>
                        </div>
                        <p ng-if="user.offers.length === 0">No offers yet.</p>
                    </div>
                    <h4 class="ui header">About</h4>
                    <div class="ui list">
                        <div class="item">
                            <i class="empty icon"></i>
                            <div class="content">
                                <div class="description">
                                    <span>{{user.about_me}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="ui header">Activities &amp; Interests</h4>
                    <div class="ui list">
                        <div class="item" ng-repeat="interest in user.interests | orderBy:['-match'] track by $index">
                            <i class="icon" ng-class="{'stop smallicon': interest.match === 1, 'empty smallicon': interest.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ interest.value }}</div>
                            </div>
                        </div>
                        <p ng-if="user.interests.length === 0">No interests yet.</p>
                    </div>

                    <h4 class="ui header">Likes</h4>
                    <div class="ui list likes">
                        <div class="item" ng-repeat="like in user.likes | orderBy:['-match']  track by $index">
                            <i class="icon" ng-class="{'stop smallicon': like.match === 1, 'empty smallicon': like.match === 0 }"></i>
                            <div class="content">
                                <div class="description">{{ like.value }}</div>
                            </div>
                        </div>
                        <p ng-if="user.likes.length === 0">No likes yet.</p>
                    </div>

                    <h4 ng-if="user.friends.length > 0" class="ui header">Mutual Friends</h4>
                    <div ng-if="user.friends.length > 0" class="ui selection list">
                        <a ui-sref="friendprofile({ userId: friend.user_id })" class="item" ng-repeat="friend in user.friends track by $index">
                            <img class="ui avatar image" ng-src="http://graph.facebook.com/{{ friend.facebook_id }}/picture">
                            <div class="content">
                                <div class="header">{{ friend.first_name }}</div>
                            </div>
                        </a>
                    </div>
                    <h4 ng-if="user.facebookfriends.length > 0 "class="ui header">Mutual Facebook Friends ({{ user.facebookfriends.length }})</h4>
                    <div ng-if="user.facebookfriends.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in user.facebookfriends track by $index">
                            <img class="ui avatar image" ng-src="http://graph.facebook.com/{{ friend.facebook_id }}/picture">
                            <div class="content">
                                <div class="header">{{ friend.first_name }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-if="user.twitterfriends.length > 0" class="ui header">Mutual Twitter Friends ({{ user.twitterfriends.length }})</h4>
                    <div ng-if="user.twitterfriends.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in user.twitterfriends track by $index">
                            <img class="ui avatar image" ng-src="{{friend.profile_image_url}}">
                            <div class="content">
                                <div class="header">{{ friend.name }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-if="user.twitterfollowers.length > 0" class="ui header">Mutual Twitter Followers ({{ user.twitterfollowers.length  }})</h4>
                    <div ng-if="user.twitterfollowers.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in user.twitterfollowers track by $index">
                            <img class="ui avatar image" ng-src="{{friend.profile_image_url}}">
                            <div class="content">
                                <div class="header">{{ friend.name }}</div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-if="user.linkedinconnections.length > 0" class="ui header">Mutual LinkedIn Connections ({{ user.linkedinconnections.length }})</h4>
                    <div ng-if="user.linkedinconnections.length > 0" class="ui selection list">
                        <div class="item" ng-repeat="friend in user.linkedinconnections track by $index">
                            <img class="ui avatar image" ng-src="{{friend.pictureUrls.values[0]}}">
                            <div class="content">
                                <div class="header">{{ friend.firstName }}</div>
                            </div>
                        </div>
                    </div>

                    <h4 ng-if="user.linkedin_provider !== null || user.twitter_provider !== null" class="ui header">Social Profiles</h4>

                    <a ng-if="user.linkedin_provider !== null" href="{{user.linkedin_provider}}" target="_new" class="ui linkedin button">
                        <i class="linkedin icon"></i>
                        LinkedIn
                    </a>
                    <a ng-if="user.twitter_provider !== null" href="http://www.twitter.com/{{user.twitter_provider}}" target="_new" class="ui twitter button">
                        <i class="twitter icon"></i>
                        Twitter
                    </a>




                </div>
            </div>

        </div>
    </div>
</div>

<script>
    'use strict';
    $('.ui.dropdown')
    .dropdown({
        onShow:  function(){
            $('#matched-profile-body').dimmer('show');
            $('#friendprofileheader').dimmer('show');
            $('#hideConversation')
            .dimmer('show')
            ;
            var scope = angular.element($("#submenu")).scope();
            scope.$apply(function(){
                scope.middleActive = false;
            });
        },
        onHide: function(){
            $('#matched-profile-body').dimmer('hide');
            $('#friendprofileheader').dimmer('hide');
            $('#hideConversation')
            .dimmer('hide')
            ;
            var scope = angular.element($("#submenu")).scope();
            setTimeout(function() {
                scope.$apply(function(){
                    scope.middleActive = true;
                });
            }, 100);
        }
    })
    ;

</script>


<!-- modals -->

<div class="ui basic delete modal">
  <i class="close icon"></i>
  <div class="header">
    Please Confirm
</div>
<div class="content">

    <div class="description">
      <p>Are you sure you want remove this connection?</p>
  </div>
</div>
<div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui red negative basic inverted button">
        <i class="remove icon"></i>
        No
    </div>
    <a class="ui green basic inverted button ok">
        <i class="checkmark icon"></i>
        Yes
    </a>
</div>
</div>
</div>

<script>
  'use strict';
  $('.basic.delete.modal')
  .modal({
    onDeny    : function(){
      console.log('cancel');
  },
  onApprove : function() {
      console.log('deleting user');
      angular.element(document.getElementById('connectionPage')).scope().unFriend();
  }
})
  .modal('attach events', '.deleteconnection', 'show');


</script>

</div>