<div class="ui modal centeraligned" ng-class="viewevent.getActiveClass()" id="{{viewevent.modalId}}">
    <i class="close icon" ng-click="viewevent.closeEventModal()"></i>
    <i ng-if="viewevent.selection === 'invitations'" class="left chevron icon" ng-click="viewevent.closeInvitations()"></i>
    <div class="header" ng-class="{'leftalign': viewevent.selection === 'invitations'}">{{viewevent.header}}</div>
    <div class="content">
        <div class="switch-content" ng-switch on="viewevent.selection">
            <div ng-switch-when="view">
                <ng-include src="'components/event/eventview.tpl.html'"></ng-include>
            </div>
            <div ng-switch-when="edit">
                <ng-include src="'components/event/eventedit.tpl.html'"></ng-include>
            </div>
            <div ng-switch-when="invitations">
                <ng-include src="'components/event/eventinvitations.tpl.html'"></ng-include>
            </div>
        </div>
    </div>
</div>
