<nav class="push-menu push-menu--left" id="push-menu-s1">
  <div class="push-menu__logo">
    <a class="site-logo">
      <img alt="Perice" src="/assets/images/logo.svg" class="site-logo__mark">
      <h1 class="site-logo__type">Persice</h1></a>
  </div>
  <prs-mobile-navigation
    [username]="username"
    [unreadMessagesCounter]="unreadMessagesCounter | async"
    [newConnectionsCounter]="newConnectionsCounter | async">
  </prs-mobile-navigation>
</nav>
<div class="content-mask" prs-close-left-menu></div>
<div class="container push-menu-push">
  <prs-mobile-header></prs-mobile-header>
  <div class="content content--main">
    <router-outlet></router-outlet>
  </div>
</div>
<prs-mobile-profile-footer></prs-mobile-profile-footer>
<prs-mobile-footer-button></prs-mobile-footer-button>
