<div class="match-profile__avatar-place mt+">
  <a (click)="openPhotos.next('photos')" class="edit-photos-link" *ngIf="type === 'my'">
    <svg role="img" class="icon edit-photos-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/assets/icons/icons.svg#icon-edit_photo"></use>
    </svg>
    <span class="edit-photos-link__label unselectable">Edit photos</span>
  </a>
  <a (click)="openGallery.next($event); $event.stopPropagation()" class="open-photos-link unselectable" *ngIf="type !== 'my'">
  </a>
  <div [ngClass]="{'is-visible': !loading}" class="match-profile__avatar match-profile__avatar-single unselectable" *ngIf="count === 0">
    <div class="avatar-holder" [ngStyle]="{'background-image': 'url(' + avatar + ')'}"></div>
  </div>
  <div [ngClass]="{'is-visible': !loading}" id="avatarslider" class="match-profile__avatar js-profile-swiper-4 swiper-container unselectable" swiper="{{swiperOpts}}" *ngIf="count > 0">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="#image of images">
        <div *ngIf="image.cropped_photo !== '' && image.cropped_photo !== null" class="avatar-holder" [ngStyle]="{'background-image': 'url(' + image.cropped_photo + ')'}"></div>
        <div *ngIf="image.cropped_photo === '' || image.cropped_photo === null" class="avatar-holder" [ngStyle]="{'background-image': 'url(' + image.photo + ')'}"></div>
      </div>
    </div>
  </div>
  <div class="avatar-place__pagination js-avatar-place__pagination" [ngClass]="{'is-visible': count > 1}"></div>
   <div class="match-profile__similar" *ngIf="type !== 'my'">
    <span class="match-profile__similar__value">{{score}}&deg;</span>
    <span class="match-profile__similar__label">Similar</span>
  </div>
</div>
