<div class="user-profile" dropdown="#profileDropdown">
  <div class="user-profile__avatar">
    <div class="avatar-holder" checkimage="{{image}}" [suffix]="'.56x56_q100_crop.jpg'" [onchanges]="1">
    </div>
  </div>
  <div class="user-profile__arrow">
    <svg role="img" class="icon">
      <use xlink:href="assets/icons/icons.svg#icon-arrow_down"></use>
    </svg>
  </div>
  <div class="dropdown-basic" id="profileDropdown">
    <ul class="list-bare">
      <li><a (click)="openMyProfile($event)">My profile</a></li>
      <li><a (click)="logout($event)">Logout</a></li>
    </ul>
  </div>
</div>
