<div class="ui modal centeraligned" ng-class="viewevent.getActiveClass()" id="{{viewevent.modalId}}">
    <div class="header" ng-class="{'leftalign': viewevent.selection === 'invitations' || viewevent.selection === 'attendees' || viewevent.selection === 'chat'}">
        <span ng-bind-html="viewevent.header"></span>
        <i class="close icon" ng-click="viewevent.closeEventModal()"></i>
        <i ng-if="viewevent.selection === 'invitations'" class="left chevron icon" ng-click="viewevent.closeInvitations()"></i>
        <i ng-if="viewevent.selection === 'attendees'" class="left chevron icon" ng-click="viewevent.closeAttendees()"></i>
        <i ng-if="viewevent.selection === 'chat'" class="left chevron icon" ng-click="viewevent.closeChat()"></i>
    </div>
    <div class="content">
        <div class="switch-content" ng-switch on="viewevent.selection">
            <div ng-switch-when="view">
                <ng-include src="'components/event/eventview.tpl.html'"></ng-include>
            </div>
            <div ng-switch-when="edit">
                <ng-include src="'components/event/eventedit.tpl.html'"></ng-include>
            </div>
            <div ng-switch-when="invitations">
                <ng-include src="'components/event/eventinvitations.tpl.html'"></ng-include>
            </div>
            <div ng-switch-when="attendees">
                <ng-include src="'components/event/eventattendees.tpl.html'"></ng-include>
            </div>
            <div ng-switch-when="chat">
                <ng-include src="'components/event/eventchat.tpl.html'"></ng-include>
            </div>
        </div>
    </div>
    <div class="actions">
        <!-- view screen -->
        <div ng-if="viewevent.isHost && viewevent.selection === 'view'" class="ui green labeled icon right button" ng-click="viewevent.editEvent()">
            Edit
            <i class="edit icon"></i>
        </div>
        <!-- edit screen -->
        <div ng-class="{'loading': viewevent.loadingSave, 'disabled': viewevent.loadingSave}" ng-if="viewevent.selection === 'edit'" class="ui green labeled icon right button" ng-click="viewevent.saveEvent()">
            Save
            <i class="save icon"></i>
        </div>
        <div id="deleteEventButton" ng-class="{'loading': viewevent.loadingDelete, 'disabled': viewevent.loadingDelete}" ng-if="viewevent.selection === 'edit'" class="ui red icon labeled left button" ng-click="viewevent.openModalDelete()">
            Delete
            <i class="remove icon"></i>
        </div>
        <!-- invitations screen -->
        <div ng-if="viewevent.selection === 'invitations'" class="ui green right button" ng-class="{'disabled': viewevent.counterNewInvites === 0}" ng-click="viewevent.sendInvites()">
            Done
        </div>
    </div>
</div>
