<div class="segment" id="inbox-header">
    <div class="container">
        <form ng-submit="submit()" action="/" method="get" class="" role="search" id="myform" autocomplete="off">
            <div class="ui left icon input">
                <input type="text" ng-model="q" name="q" placeholder="Search" minlength="3" required>
                <i class="circular search icon"></i>
            </div>
        </form>
    </div>
</div>
<div class="body segment" id="inbox-body">
    <div class="container">

        <div class="ui selection divided list">
            <a ui-sref="conversations({ userId: connection.friend_id })" class="item" ng-repeat="connection in connections track by $index">
                <div class="ui circular tiny image img-bounding-box" ng-style=" {'background-image': 'url(//graph.facebook.com/{{ connection.facebook_id }}/picture?type=large)'}"></div>
                <span class="message-time">{{connection.lastMessage.display}}</span>
                <div class="content">
                    <div class="header">{{connection.first_name}}</div>
                    <div class="description">
                        {{connection.lastMessage.body | words: 8}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>