<div class="search search--remodal-tab">
  <div class="search__top">
    <svg role="img" class="icon ">
      <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-search"></use>
    </svg>
    <input type="text" class="search__input" placeholder="Enter your offer or search existing">
    <button class="btn">
      <svg role="img" class="icon ">
        <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-plus-big"></use>
      </svg>
    </button>
  </div>
  <div class="has-search__drop">
    <div class="search__drop">
      <ul class="search__drop__results">
        <li><b>Lear</b>n to play the banjo</li>
        <li><b>Lear</b>n to paint</li>
        <li><b>Lear</b>n to ride a bike</li>
        <li><b>Lear</b>n to play the piano</li>
      </ul>
    </div>
  </div>
</div>
<div class="search__tags-wrapper text-left">
  <span class="search-tag-secondary">
    <a href="">
      <svg role="img" class="icon icon--notsotiny">
        <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
      </svg>
    </a>
    Learn to paint
  </span>
  <span class="search-tag-secondary">
    <a href="">
      <svg role="img" class="icon icon--notsotiny">
        <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
      </svg>
    </a>
    Teach kids ti play piano
  </span>
  <span class="search-tag-secondary">
    <a href="">
      <svg role="img" class="icon icon--notsotiny">
        <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
      </svg>
    </a>
    Play guitar in a local band
  </span>
  <span class="search-tag-secondary">
    <a href="">
      <svg role="img" class="icon icon--notsotiny">
        <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
      </svg>
    </a>
    Teach people how to play billiards
  </span>
  <span class="search-tag-secondary">
    <a href="">
      <svg role="img" class="icon icon--notsotiny">
        <use xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-delete"></use>
      </svg>
    </a>
    Plan trip to Bora Bora
  </span>
</div>
