<div class="ui grid fullheight">

  <div class="row">
    <div class="wide column">

        <div ng-if="total > 0">

            <three-bounce-spinner ng-show="loadingFeed" class="ui inverted dimmer transition visible active"></three-bounce-spinner>

            <div ng-hide="showDimmer">
                <div class="dimmable">
                 <div class="header segment with-menu" id="my-profile-header" ng-if="showfullprofile">
                    <div class="container">
                        <div class="pagination-container">
                            <div id="PhotoSlider">
                             <ul rn-carousel rn-carousel-index="carouselIndex2">
                                <li ng-repeat="item in photosSlider | orderBy:'order' track by $index">
                                   <img ng-show="item.cropped_photo === ''" class="img-bounding-box-full-width" ng-src="{{item.photo}}"/>
                                   <img ng-show="item.cropped_photo !== ''" class="img-bounding-box-full-width" ng-src="{{item.cropped_photo}}"/>
                               </li>
                           </ul>

                           <div class="carousel-indicators" rn-carousel-indicators ng-if="photosSlider.length > 1" slides="photosSlider" rn-carousel-index="carouselIndex2"></div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="header segment" id="matched-profile-header" ng-hide="showfullprofile">
            <div class="ui segment" ng-click="changeTopMenu()">
                <div ng-show="photosSlider[0].cropped_photo === ''" class="ui circular middle aligned left floated small image img-bounding-box" style="background-image: url('{{photosSlider[0].photo}}');"></div>
                <div ng-show="photosSlider[0].cropped_photo !== ''" class="ui circular middle aligned left floated small image img-bounding-box" style="background-image: url('{{photosSlider[0].cropped_photo}}');"></div>
                <h2 class="ui header">
                    {{ matchedUser.first_name }}, {{ matchedUser.age }}
                    <div class="sub header">{{matchedUser.distance}} mi.</div>
                </h2>
                <div class="ui mini statistics">
                    <div class="statistic">
                        <div class="value">
                            <i class="intersecticon icon"></i>
                        </div>
                        <div class="label">
                            {{totalmatchingcount}}
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            <i class="empty users usericon icon"></i>
                        </div>
                        <div class="label">
                            {{totalfriendscount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body segment" id="matched-profile-body">
            <div class="ui top attached segment" ng-show="showfullprofile">
                <h3 class="ui left floated header">
                    {{ matchedUser.first_name }} {{ matchedUser.age }}
                </h3>
                <h5 class="ui right floated header">
                    {{matchedUser.distance}} mi.
                </h5>
            </div>
            <div class="ui attached segment">
                <h4 class="ui header" ng-if="matchedUser.goals.length > 0">Goals</h4>
                <div class="ui list">
                    <div ng-hide="!showfullprofile && $index > 2" class="item" ng-repeat="goal in matchedUser.goals | orderBy:['-match'] track by $index">
                        <i class="icon" ng-class="{'stop smallicon': goal.match === 1, 'empty smallicon': goal.match === 0 }"></i>
                        <div class="content">
                            <div class="description">{{ goal.value }}</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header" ng-if="matchedUser.offers.length > 0">Offers</h4>
                <div class="ui list">
                    <div ng-hide="!showfullprofile && $index > 2"  class="item" ng-repeat="offer in matchedUser.offers | orderBy:['-match'] track by $index">
                        <i class="icon" ng-class="{'stop smallicon': offer.match === 1, 'empty smallicon': offer.match === 0 }"></i>
                        <div class="content">
                            <div class="description">{{ offer.value }}</div>
                        </div>
                    </div>
                </div>
                <h4 class="ui header" ng-show="showfullprofile" ng-if="matchedUser.about !== ''">About</h4>
                <div class="ui list" ng-show="showfullprofile">
                    <div class="item">
                        <i class="empty icon"></i>
                        <div class="content">
                            <div class="description">
                                <span>{{matchedUser.about}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="ui header" ng-if="matchedUser.interests.length > 0">Activities &amp; Interests</h4>
                <div class="ui list">
                    <div class="item" ng-hide="!showfullprofile && $index > 2" ng-repeat="interest in matchedUser.interests | orderBy:['-match'] track by $index">
                        <i class="icon" ng-class="{'stop smallicon': interest.match === 1, 'empty smallicon': interest.match === 0 }"></i>
                        <div class="content">
                            <div class="description">{{ interest.value }}</div>
                        </div>
                    </div>
                </div>

                <h4 class="ui header" ng-if="matchedUser.likes.length > 0">Likes</h4>
                <div class="ui list likes">
                    <div class="item" ng-hide="!showfullprofile && $index > 2" ng-repeat="like in matchedUser.likes | orderBy:['-match']  track by $index">
                        <i class="icon" ng-class="{'stop smallicon': like.match === 1, 'empty smallicon': like.match === 0 }"></i>
                        <div class="content">
                            <div class="description">{{ like.value }}</div>
                        </div>
                    </div>
                </div>

                <h4 ng-if="matchedUser.friends.length > 0" class="ui header" ng-show="showfullprofile">Mutual Friends</h4>
                <div ng-if="matchedUser.friends.length > 0" class="ui selection list" ng-show="showfullprofile">
                    <a ui-sref="friendprofile({ userId: friend.user_id })" class="item" ng-repeat="friend in matchedUser.friends track by $index">
                        <img class="ui avatar image" ng-src="http://graph.facebook.com/{{ friend.facebook_id }}/picture">
                        <div class="content">
                            <div class="header">{{ friend.first_name }}</div>
                        </div>
                    </a>
                </div>
                <h4 ng-if="matchedUser.facebookfriends.length > 0 "class="ui header" ng-show="showfullprofile">Mutual Facebook Friends ({{ matchedUser.facebookfriends.length }})</h4>
                <div ng-if="matchedUser.facebookfriends.length > 0" class="ui selection list" ng-show="showfullprofile">
                    <div class="item" ng-repeat="friend in matchedUser.facebookfriends track by $index">
                        <img class="ui avatar image" ng-src="http://graph.facebook.com/{{ friend.facebook_id }}/picture">
                        <div class="content">
                            <div class="header">{{ friend.first_name }}</div>
                        </div>
                    </div>
                </div>
                <h4 ng-if="matchedUser.twitterfriends.length > 0" class="ui header" ng-show="showfullprofile">Mutual Twitter Friends ({{ matchedUser.twitterfriends.length }})</h4>
                <div ng-if="matchedUser.twitterfriends.length > 0" class="ui selection list" ng-show="showfullprofile">
                    <div class="item" ng-repeat="friend in matchedUser.twitterfriends track by $index">
                        <img class="ui avatar image" ng-src="{{friend.profile_image_url}}">
                        <div class="content">
                            <div class="header">{{ friend.name }}</div>
                        </div>
                    </div>
                </div>
                <h4 ng-if="matchedUser.twitterfollowers.length > 0" class="ui header" ng-show="showfullprofile">Mutual Twitter Followers ({{ matchedUser.twitterfollowers.length  }})</h4>
                <div ng-if="matchedUser.twitterfollowers.length > 0" class="ui selection list" ng-show="showfullprofile">
                    <div class="item" ng-repeat="friend in matchedUser.twitterfollowers track by $index">
                        <img class="ui avatar image" ng-src="{{friend.profile_image_url}}">
                        <div class="content">
                            <div class="header">{{ friend.name }}</div>
                        </div>
                    </div>
                </div>
                <h4 ng-if="matchedUser.linkedinconnections.length > 0" class="ui header" ng-show="showfullprofile">Mutual LinkedIn Connections ({{ matchedUser.linkedinconnections.length }})</h4>
                <div ng-if="matchedUser.linkedinconnections.length > 0" class="ui selection list" ng-show="showfullprofile">
                    <div class="item" ng-repeat="friend in matchedUser.linkedinconnections track by $index">
                        <img class="ui avatar image" ng-src="{{friend.pictureUrls.values[0]}}">
                        <div class="content">
                            <div class="header">{{ friend.firstName }}</div>
                        </div>
                    </div>
                </div>
                <h4 ng-show="showfullprofile" ng-if="matchedUser.linkedin_provider !== null || matchedUser.twitter_provider !== null" class="ui header">Social Profiles</h4>
                <a ng-show="showfullprofile" ng-if="matchedUser.linkedin_provider !== null" href="{{matchedUser.linkedin_provider}}" target="_new" class="ui linkedin button">
                    <i class="linkedin icon"></i>
                    LinkedIn
                </a>
                <a ng-show="showfullprofile" ng-if="matchedUser.twitter_provider !== null" href="http://www.twitter.com/{{matchedUser.twitter_provider}}" target="_new" class="ui twitter button">
                    <i class="twitter icon"></i>
                    Twitter
                </a>
            </div>
        </div>
        <div class="footer segment" id="matched-profile-footer" ng-hide="showfullprofile">
            <div class="ui grid one column aligned center">
                <div class="row">
                    <div class="column">
                        <div class="ui labeled icon menu">
                            <a href="" ng-click="cancelMatch()" class="item" id="left_button">
                                <i class="remove red circle icon"></i>
                            </a>
                            <a href="" ng-click="confirmMatch()" class="item" id="accept_button">
                                <i class="check green circle icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>
</div>


<div class="body segment" ng-show="total === 0">
    <div class="ui info message">
        <div class="header">
            Sorry. Currently you don't have any matches.
        </div>
        <p>Add more information to your profile. <a class="ui icon mini button blue" ui-sref="myprofile"><i class="angle double right icon"></i></a></p>
        <p>Adjust your match filter to be less restrictive. <a class="ui icon mini button blue" id="showFilter" href=""><i class="angle double right icon"></i></a>
        </p>
    </div>
</div>


</div>
</div>
</div>


<page-dimmer ng-model="showDimmer" show="true">
<h1 class="ui header">BeKindred</h1>
<h2 class="ui header">Locating people with similar goals...</h2>
<fading-circle-spinner></fading-circle-spinner>
</page-dimmer>


<script type="text/javascript">
    'use strict';
    $('.right.sidebar').first()
    .sidebar('attach events', '#showFilter')
    ;
</script>