{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block content %}

<section class="subtitle-wrapper">
    <div class="row">
        <div class="medium-10 small-centered columns">
            <h5>
                <i class="fa fa-group"></i> Friends
            </h5>
        </div>
    </div>
</section>

<section class="profile-wrapper">
    <div class="row">
        <div class="small-12 medium-12 large-12 text-left columns">
            <div class="user_likes">

                <ul class="unstyled">
                    {% for friend in my_friends %}
                    <li>
                        <img src="http://graph.facebook.com/{{ friend.profile_or_self.facebook_id }}/picture?type=" title="facebook stored image" />
                        <a href="/goals/friend/{{ friend.id }}">{{ friend.first_name }} {{ friend.last_name }}</a>
                        <a href="{% url 'postman_write' %}{{ friend.username }}">&raquo;&nbsp;{% trans "Write" %}</a>
                        <p><a href="/friends/remove/{{ friend.id }}">Remove from friends</a></p>
                    </li>
                    <br>
                    {% empty %}
                    <li>

                        <div data-alert class="alert-box secondary">
                        &nbsp; No offers yet.
                        </div>


                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</section>
{% endblock content %}