<div class="match-profile__about">
  <div class="layout">
    <div class="layout__item 1/3">
      <div class="match-profile__avatar-place">
        <div class="match-profile__avatar">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/pixeliris/128.jpg" alt="User name">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/andyvitale/128.jpg" alt="User name">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg" alt="User name">
        </div>
        <div class="match-percent-large"></div>
        <div class="match-profile__similar">
          <span class="match-profile__similar__value">62%</span>
          <span class="match-profile__similar__label">Similar</span>
        </div>
      </div>
      <div class="match-profile__avatar-nav"></div>
    </div>
    <div class="layout__item 2/3">
      <div class="match-profile__about__top">
        <div class="layout">
          <div class="layout__item 1/2">
            <h2 class="single-title">Tyler Morrison</h2>
            <p class="single-title-subinfo">Male / Age 25 / 2 Miles</p>
          </div>
          <div class="layout__item 1/2">
            <div class="layout layout--small">
              <div class="layout__item 1/2">
                <a href="" class="btn btn-1 btn-1--filled btn-1--blue btn--full">Accept</a>
              </div>
              <div class="layout__item 1/2">
                <a href="" class="btn btn-1 btn-1--red btn--full">Pass</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="match-profile__about__desc">
        <hr class="hr hr--short mt">
        <p class="match-profile__description">I am always ready to face challenges and get along with people very well. I believe in vision and action. I learn from my mistakes. The tests conducted by you will increase my aptitude and attitude towards job. I have done B.Tech with EC as my major subject from Talent Plus Plus, Gurgaon. I started my career with L&amp;T at Mumbai and it’s been 3 years now.</p>
      </div>
    </div>
  </div>
</div>
