<div class="match-profile__about">
  <div class="layout">
    <div class="layout__item 1/3">
      <div class="match-profile__avatar-place">
        <div class="match-profile__avatar" slick show="1" append=".match-profile__avatar-nav" dots="true" arrows="false" infinite="false" scroll="1" *ng-if="images.length > 1">
          <div class="avatar-holder" *ng-for="#image of images" [ng-style]="{'background-image': 'url(' + image + ')'}"></div>
        </div>
        <div class="match-profile__avatar" *ng-if="images.length === 1 || images.length === 0">
          <div class="avatar-holder" [ng-style]="{'background-image': 'url(' + avatar + ')'}"></div>
        </div>
        <div circle-progress="{{score}}" size="246" thickness="4" reverse="true" angle="55" class="match-percent-large"></div>
        <div class="match-profile__similar">
          <span class="match-profile__similar__value">{{score}}</span>
          <span class="match-profile__similar__label">Similar</span>
        </div>
      </div>
      <div class="match-profile__avatar-nav"></div>
    </div>
    <div class="layout__item 2/3">
      <div class="match-profile__about__top">
        <div class="layout">
          <div class="layout__item 1/2">
            <h2 class="single-title">{{name}}</h2>
            <p class="single-title-subinfo">{{gender | gender}} / Age {{age}} / {{distanceValue}} {{distanceUnit}}</p>
          </div>
          <div class="layout__item 1/2">
            <div class="layout layout--small">
              <div class="layout__item 1/2">
                <a class="btn btn-1 btn-1--filled btn-1--blue btn--full" (click)="acceptUser($event)">Accept</a>
              </div>
              <div class="layout__item 1/2">
                <a class="btn btn-1 btn-1--red btn--full" (click)="passUser($event)">Pass</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="match-profile__about__desc">
        <hr class="hr hr--short mt">
        <p class="match-profile__description">{{about}}
        </p>
      </div>
    </div>
  </div>
  <a (click)="closeProfile($event)" class="platform__back">
    <svg role="img" class="icon ">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
    </svg>
  </a>
</div>
