<div class="confirmation-header">
    <h2>Please Confirm</h2>
</div>

<div class="confirmation-message">
    <h3>Are you sure you want to delete <strong>"{{ object.username }}"</strong>?</h3>
    <form class="" action="{% url 'deactivate_user' %}" method="post">{% csrf_token %}

        <a class="button delete success radius" href="#" onclick="$('#myModal').foundation('reveal', 'close');">Cancel</a>
        <button type="submit" class="alert submit-button radius">Delete</button>
    </form>
</div>
<a class="close-reveal-modal" href="#">&#215;</a>