<div class="ui center aligned header" ng-show="viewevent.isHost === true && !viewevent.loadingEvent && !viewevent.eventNotFound">You are the host of this event.</div>
<div class="row" ng-show="viewevent.isHost === false && !viewevent.eventNotFound">
    <div class="wide column">
        <div class="ui fluid secondary menu" id="event-going-menu">
            <div class="header item">GOING?</div>
            <a class="item" ng-click="viewevent.changeRsvpStatus('yes')" ng-class="{active: viewevent.eventRsvp.status === 'yes'}">YES</a>
            <a class="item" ng-click="viewevent.changeRsvpStatus('no')" ng-class="{active: viewevent.eventRsvp.status === 'no'}">NO</a>
            <a class="item" ng-click="viewevent.changeRsvpStatus('maybe')" ng-class="{active: viewevent.eventRsvp.status === 'maybe'}">MAYBE</a>
        </div>
    </div>
</div>
<div class="ui negative message" ng-show="viewevent.eventNotFound && !viewevent.loadingEvent">
    <div class="header">
        Warning
    </div>
    <p>This event doesn't exist anymore.</p>
</div>
<div class="ui basic segment" ng-class="{'hidevisibility': viewevent.eventNotFound}">
    <form class="ui form" style="min-height: 530px;" ng-class="{'loading': viewevent.loadingEvent}">
        <div class="ui large form segment first editable" id="FirstSegment">
            <div class="field">
                <label class="specialpadding">Event Name</label>
                <div class="eventcontent">
                    <span id="eventName">{{viewevent.event.name}}</span>
                </div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field" id="locationField">
                <label class="specialpadding">Location</label>
                <div class="eventcontent" ng-class="{'urlexists': viewevent.mapurlTrue}">
                    <i ng-click="viewevent.openMap()" class="marker large icon"></i>
                    <span class="locationContent">
                        <span ng-if="viewevent.event.location_name.trim() !== viewevent.event.city.trim()">{{viewevent.event.location_name}}</span>
                        <span>
                            <br ng-if="viewevent.event.location_name.trim() !== viewevent.event.city.trim() && viewevent.event.location_name !== null && viewevent.event.location_name.trim() !== '' && viewevent.event.location_name.trim() !== viewevent.event.street.trim()">
                            <span ng-if="viewevent.event.street !== null && viewevent.event.street.trim() !== '' && viewevent.event.location_name.trim() !== viewevent.event.street.trim()">{{viewevent.event.street}}<br></span>
                            <span ng-if="viewevent.event.city !== null && viewevent.event.city.trim() !== ''">{{viewevent.event.city}} {{viewevent.event.zipcode}} {{viewevent.event.state}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="field" ng-show="viewevent.event.event_photo !== '' && viewevent.image">
                <label>Event photo</label>
                <img err-src="/static/img/placeholder-image.jpg" ng-src="{{viewevent.image}}" class="ui image rounded bordered event-image small">
            </div>
        </div>
        <div class="ui large form segment" id="DatesSection" ng-if="viewevent.showMobile">
            <div class="field">
                <span>{{viewevent.firstrow}}</span>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <span class="timeslot">{{viewevent.secondrow}}</span>
                <!-- <span class="repeats">repeats weekly</span> -->
                <div class="cleardiv"></div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <span class="cost"><strong>Cost:</strong> $25 (in advance)</span>
                <span class="paid"><i class="fa fa-check icon"></i><strong>PAID</strong></span>
                <div class="cleardiv"></div>
            </div>
        </div>
        <div class="ui large form segment" id="DatesSection" ng-if="!viewevent.showMobile">
            <div class="field">
                <label class="specialpadding">Starts</label>
                <div class="eventcontent">
                    <span>{{viewevent.firstrow}}</span>
                </div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <label class="specialpadding">Ends</label>
                <div class="eventcontent">
                    <span class="timeslot">{{viewevent.secondrow}}</span>
                    <!-- <span class="repeats">repeats weekly</span> -->
                    <div class="cleardiv"></div>
                </div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <label class="specialpadding">Cost</label>
                <div class="eventcontent">
                    <span class="cost">$25 (in advance)</span>
                    <span class="paid"><i class="fa fa-check icon"></i><strong>PAID</strong></span>
                    <div class="cleardiv"></div>
                </div>
            </div>
        </div>
        <div class="ui large form segment" id="HostedSection" ng-if="!viewevent.showMobile">
            <div class="field">
                <label class="specialpadding">Hosted By</label>
                <div class="eventcontent">
                    <span>{{viewevent.event.hosted_by}}</span>
                </div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <label class="specialpadding">Attending</label>
                <div class="ui right labeled icon button widthFull" ng-click="viewevent.openAttendees();">
                    <span class="total-people">{{viewevent.event.total_attendees}} people total</span>
                    <span class="connections-people">{{viewevent.event.friend_attendees_count}} connections</span>
                    <span class="remaining-spots">{{viewevent.event.spots_remaining}} spots remaining</span>
                    <div class="cleardiv"></div>
                    <i class="fa-angle-right fa icon large"></i>
                </div>
            </div>
            <div class="field">
                <label class="specialpadding">Max. attendees</label>
                <div class="eventcontent">
                    <span>{{viewevent.event.max_attendees}}&nbsp;</span>
                </div>
            </div>
        </div>
        <div class="ui large form segment" id="HostedSection" ng-if="viewevent.showMobile">
            <div class="field">
                Host: <span>{{viewevent.event.hosted_by}}</span>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field attendees-view" ng-click="viewevent.openAttendees();">
                <span class="label">Attendees:</span>
                <div class="attendees-values">
                    <span class="total-people">{{viewevent.event.total_attendees}} people total</span>
                    <span class="connections-people">{{viewevent.event.friend_attendees_count}} connections</span>
                    <span class="remaining-spots">{{viewevent.event.spots_remaining}} spots remaining</span>
                </div>
                <i class="fa-angle-right fa icon large"></i>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                Max. attendees: <span>{{viewevent.event.max_attendees}}&nbsp;</span>
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field">
                <label class="specialpadding">Group Chat</label>
                <div class="fluid ui right labeled icon button" ng-click="viewevent.openChat()">
                    <i class="fa-angle-right fa icon large"></i> 0 messages
                </div>
            </div>
        </div>
        <div class="ui large form segment" id="eventDescription">
            <div class="field" ng-if="viewevent.showMobile">
                <span>Event Description:</span>
            </div>
            <div class="ui divider" id="last-section" ng-if="viewevent.showMobile"></div>
            <div class="field">
                <label class="specialpadding">Description</label>
                <div class="eventcontent">
                    <span>{{viewevent.event.description}}</span>
                </div>
            </div>
        </div>
        <div ng-if="isState('event.details')" class="ui green labeled icon right button desktopview" ng-click="viewevent.editEvent()">
            Edit
            <i class="edit icon"></i>
        </div>
    </form>
</div>
