<div class="ui basic segment">
    <form class="ui form">
        <div class="ui positive message" ng-show="singleevent.showSuccess">
            <div class="header">
                New event was successfully created.
            </div>
        </div>
        <div class="ui negative message" ng-show="singleevent.showError">
            <div class="header">
                Warning
            </div>
            <p ng-repeat="errormsg in singleevent.errorMessage track by $index">{{errormsg}}</p>
        </div>
        <div class="ui large form segment first" id="FirstSegment">
            <div class="field">
                <label>Event Name</label>
                <input autocomplete="off" class="border-bottom" ng-model="singleevent.event.name" placeholder="{{::singleevent.placeholder.name}}" type="text" name="name">
            </div>
            <div class="field">
                <label>Location</label>
                <div class="ui action input" id="locationInput">
                    <input class="border-bottom" autocomplete="off" name="location" attach="'locationInput'" google-places-autocomplete options="singleevent.autocompleteOptions" placeholder="{{::singleevent.placeholder.location}}" ng-model="singleevent.eventLocation" type="text">
                    <button ng-class="{'active': singleevent.mapurlTrue, 'disabled': !singleevent.mapurlTrue}" ng-click="singleevent.openMap()" class="ui right icon button location">
                        <i class="marker large icon"></i>
                    </button>
                </div>
            </div>
            <div class="field">
                <label>Event Photo</label>
                <div class="ui labeled icon button fileUpload primary">
                    <i class="photo icon"></i>
                    <span ng-show="singleevent.event.event_photo === ''">Choose Event Photo</span>
                    <span ng-show="singleevent.event.event_photo !== ''">Change Event Photo</span>
                    <input class="file" preview="singleevent.image" autocomplete="off" file-model="singleevent.event.event_photo" ng-model="singleevent.event.event_photo" accept="image/*" placeholder="{{::singleevent.placeholder.event_photo}}" type="file" name="event_photo">
                </div>
                <a ng-show="singleevent.event.event_photo !== ''" ng-click="singleevent.image = ''; singleevent.event.event_photo = '';" class="ui button icon fileUpload red">
                    <i class="remove icon"></i>
                </a>
            </div>
            <div class="field" ng-show="singleevent.event.event_photo !== '' && singleevent.image">
                <label></label>
                <img ng-src="{{singleevent.image}}" class="ui rounded bordered image small">
            </div>
        </div>
        <div class="ui large form segment" id="datePair">
            <div class="field" ng-class="{'error': singleevent.startsTimeError}">
                <label>Starts</label>
                <div class="ui icon input" id="desktopStartsAt">
                    <input autocomplete="off" class="date start" ng-model="singleevent.starts_on_date" placeholder="{{::singleevent.placeholder.starts}}" type="text" name="starts_on_date">
                    <i class="calendar icon"></i>
                </div>
                <input name="starts_on" autocomplete="off" ng-change="singleevent.checkDatesStarts()" ng-class="{'fulldisplay': singleevent.event.starts_on !== '' && singleevent.event.starts_on !== null}" ng-if="singleevent.showMobile" id="startsAtDate" class="border-bottom" placeholder="Starts" step="7200" type="datetime-local" ng-model="singleevent.event.starts_on">
                <input autocomplete="off" id="startsAtTime" class="time start" placeholder="{{::singleevent.placeholder.startsTime}}" type="text" ng-model="singleevent.starts_on_time" name="starts_on_time">
            </div>
            <div class="field" ng-class="{'error': singleevent.endsTimeError}">
                <label>Ends</label>
                <div class="ui icon input" id="desktopEndsAt">
                    <input autocomplete="off" class="date end" ng-model="singleevent.ends_on_date" placeholder="{{::singleevent.placeholder.ends}}" type="text" name="ends_on_date">
                    <i class="calendar icon"></i>
                </div>
                <input name="ends_on" autocomplete="off" ng-change="singleevent.checkDatesEnds()" ng-class="{'fulldisplay':  singleevent.event.ends_on !== '' && singleevent.event.ends_on !== null}" ng-if="singleevent.showMobile" id="endsAtDate" class="ui border-bottom" placeholder="Ends" step="7200" type="datetime-local" ng-model="singleevent.event.ends_on">
                <input autocomplete="off" id="endsAtTime" class="time end" class="" placeholder="{{::singleevent.placeholder.endsTime}}" type="text" ng-model="singleevent.ends_on_time" name="ends_on_time">
            </div>
            <!--  <div class="field ">
            <label>Repeat</label>
            <input autocomplete="off" name="repeat" id="repeat" placeholder="{{::singleevent.placeholder.repeat}}" type="text" ng-model="singleevent.event.repeat">
            <div class="ui icon input" id="desktopRepeatUntil">
                <input autocomplete="off" class="simpledate" ng-model="singleevent.event.repeatUntil" placeholder="{{::singleevent.placeholder.repeatUntil}}" type="text">
                <i class="calendar icon"></i>
            </div>
        </div> -->
        </div>
        <div class="ui large form segment">
            <div class="field">
                <label>Max. attendees</label>
                <input autocomplete="off" ng-model="singleevent.event.max_attendees" placeholder="{{::singleevent.placeholder.max_attendees}}" type="text" name="max_attendees">
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field button">
                <label>Costs</label>
                <div class="fluid ui right labeled icon button">
                    <i class="fa-angle-right fa icon large"></i> {{::singleevent.placeholder.costs}}
                </div>
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field button">
                <label>Invitations</label>
                <div class="fluid ui right labeled icon button" ng-click="singleevent.openInvitations()">
                    <i class="fa-angle-right fa icon large"></i> {{::singleevent.placeholder.invitations}}
                </div>
            </div>
        </div>
        <div class="ui large form segment icon-segment">
            <div class="field" id="attachmentsDesc">
                <label>Attachments</label>
                <div class="fluid ui right labeled icon button with-left-icon">
                    <i class="fa-paperclip fa icon large left-icon"></i>
                    <i class="fa-angle-right fa icon large"></i> {{::singleevent.placeholder.attachments}}
                </div>
            </div>
            <div class="ui divider" id="last-section"></div>
            <div class="field">
                <label>Description</label>
                <textarea autocomplete="off" name="description" rows="4" class="border-bottom" placeholder="{{::singleevent.placeholder.description}}" ng-model="singleevent.event.description"></textarea>
            </div>
        </div>
    </form>
</div>
<script>
'use strict';


// initialize input widgets first
$('#datePair .time').timepicker({
    'showDuration': true,
    'timeFormat': 'h:i A',
    'scrollDefaultNow': true
});

$('#datePair .date').datepicker({
    'format': 'mm/dd/yyyy',
    'autoclose': true,
    'startDate': moment().format('MM/DD/YYYY'),
    'todayHighlight': true,
});

$('#datePair .simpledate').datepicker({
    'format': 'mm/dd/yyyy',
    'autoclose': true,
    'startDate': moment().format('MM/DD/YYYY'),
    'todayHighlight': true,
});


// initialize datepair
$('#datePair').datepair({
    defaultTimeDelta: 3600000,
});
</script>
