<div class="signup">
  <signup-header [counterInterests]="cInt" [counterOffers]="cOff" [counterGoals]="cGoa"></signup-header>
  <div class="signup__content">
    <router-outlet></router-outlet>
    <notification [main]="1" [title]="notificationMain.title" [body]="notificationMain.body" [active]="notificationMain.active" [type]="notificationMain.type"></notification>
  </div>
  <footer class="footer-signup">
    <div class="layout layout--flush">
      <div class="layout__item 1/2">
        <div class="page-number">{{page}}/4</div>
      </div>
      <div class="layout__item 1/2 text-right">
        <a *ngIf="showSkip" (click)="skip($event)" class="link--darkgrey mr-">Skip</a>
        <a (click)="next($event)" class="btn btn-1 btn-1--green btn-1--medium">Next</a>
      </div>
    </div>
  </footer>
</div>
