.loader {
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 1em;
  margin: 5em auto 1em;
  display: block;
  vertical-align: top;
}
.loader svg path, .loader svg rect {
  fill: #6dcbe8;
}

/* Fix for images with no square aspect ratio (1:1) */

.avatar-box .avatar, .profile-drop__avatar img {
  object-fit: cover!important;
  overflow: hidden!important;
  object-position: 50% 0%!important;
}
