<div class="tableize tableize--full">
  <div class="tableize__cell">
    <left-nav></left-nav>
  </div>
  <div class="tableize__cell tableize__cell--fill page-content">
    <div class="tableize__content">
      <top-header></top-header>
      <div class="layout layout--flush content">
        <div class="layout__item 1/1 extralarge-and-up-3/4">
          <users-list></users-list>
        </div>
        <div class="layout__item extralarge-and-up-1/4 filter-place">
          <filter></filter>
        </div>
      </div>

    </div>
  </div>
</div>
