<div class="photo-upload-window" [ngClass]="{'is-visible': !isHidden}">
  <div class="photo-upload-window__rows" id="photoAlbums">
    <div class="photo-upload-window__row" *ngFor="let album of albums">
      <h3 class="photo-upload-window__row__title">{{album.name}}</h3>
      <div class="layout layout--small">
        <div class="layout__item 1/6" *ngFor="let photo of album.photos?.data">
          <div class="photo-upload-holder" (click)="openCrop.next(photo)"
               [ngStyle]="{'background-image': 'url(' + photo.picture + ')'}">
          </div>
        </div>
      </div>
      <div class="text-right">
        <a (click)="loadMorePhotos(album.id)" class="link-blank js-photo-upload-window__row__to-select-reveal"
           [ngClass]="{'is-visible': album.photos?.paging?.next}">See more</a>
      </div>
    </div>
    <prs-loading *ngIf="loading" [status]="loading"></prs-loading>
  </div>
  <footer class="remodal__footer text--right">
    <div class="layout layout--middle">
      <div class="layout__item">
        <button class="btn btn-1 btn-1--small btn-1--darkblue js-close-upload-photo-window"
                (click)="close.next($event)">Cancel
        </button>
      </div>
    </div>
  </footer>
</div>
