<h2 class="signup-step__title mb mt+">Connect your LinkedIn and <br> Twitter accounts</h2>
<p class="signup-step__subtitle">
  This will improve your match results within the Persice community.
  <br>
  <svg role="img" class="icon">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/assets/icons/icons.svg#icon-lock"></use>
  </svg> Persice will never share your information or post on your behalf.
</p>
<a class="mr" id="twitterLink" (click)="link('twitter')">
  <svg role="img" class="icon icon--extralarge">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/assets/icons/icons.svg#twitter_big"></use>
  </svg>
</a>
<a id="linkedinLink" (click)="link('linkedin')">
  <svg role="img" class="icon icon--extralarge">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/assets/icons/icons.svg#linkedin_big"></use>
  </svg>
</a>
