<div class="content p">
  <!-- TODO {% include "01-molecules/molecule.notification-success.html" %} -->
  <div class="platform">
    <a (click)="goBack($event)" class="platform__back">
      <svg role="img" class="icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/persiceApp/src/public/icons/icons.svg#icon-close"></use>
      </svg>
    </a>
    <event-info [info]="info" [host]="isHost" [rsvp]="rsvpStatus" (change-rsvp)="changeRsvpStatus($event)"></event-info>
    <event-photomap [photo]="photo" [location]="location" [stats]="stats"></event-photomap>
    <event-people [people]="people" [host]="isHost"></event-people>
    <!-- TODO {% include "02-organisms/organism.invite-connections.html" %}  -->
    <div class="event-desc-and-host">
      <div class="layout layout--large">
        <div class="layout__item 1/2">
          <event-description [description]="event.description"></event-description>
        </div>
        <div class="layout__item 1/2">
          <event-host [host]="userInfo"></event-host>
        </div>
      </div>
    </div>
    <event-discussion></event-discussion>
  </div>
</div>
